@font-face {
    font-family: "LexusIcon";
    src: url('#{$lexus-font-path}LexusIcon.eot');
    src: url('#{$lexus-font-path}LexusIcon.eot?#iefix') format('eot'),
    url('#{$lexus-font-path}LexusIcon.woff') format('woff'),
    url('#{$lexus-font-path}LexusIcon.ttf') format('truetype');
}

[class*="lexus-icon"]{
    //font-family: "LexusIcon";
    display: inline-block;
    font: normal normal normal 14px/1 "LexusIcon";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lexus-icon-car:before {
    content: "\E001";
}
.lexus-icon-glass:before {
    content: "\E002";
}
.lexus-icon-grapes:before {
    content: "\E003";
}