/*
*  Main Menu
*/
.navbar-mega{
    min-height: inherit;
    margin: 0px;
    @include border-radius(0);
    .navbar-toggle{
        .icon-bar{
            background-color:$theme-color;
        }
        border-color:$border-color;
    }
    .navbar-nav{
        float: none;
        text-align: center;
        > .open{
            > a{
                border-color: transparent;
                border-left-color: rgba(0, 0, 0, 0.1);
                &:before{
                    @include opacity(1);
                }
            }
        }
        ul{
            li{
                &.parent{
                    position: relative;
                }
                &.dropdown-submenu{
                    position: relative;
                    .dropdown-menu{
                        top: 0;
                        left: 100%;
                        right: auto;
                        position: absolute;
                    }
                }
            }
        }
        li{
            &.menu-item-has-children {
                > a {
                    position: relative;
                    &:after {
                        font-family: FontAwesome;
                        content: "\f0d7";
                        margin-left: 10px;
                    }
                }
                .sub-menu,
                .dropdown-menu {

                }
            }
            &.active{
                background: none;
                > a{
                    background: none;
                    &:before {
                        height: 3px;
                    }
                }
            }
            a{
                &:hover, &:active, &:focus{
                    background: none;
                    color: $theme-color;
                }
            }
            &.open > a{
                background: none;
                color: $theme-color;
            }
        }
        > li{
            display: inline-block;
            float: none;
            margin: 0 20px;
            > a{
                font-family: $font-family-base;
                font-weight: 500;
                font-size: 12px;
                letter-spacing: 1px;
                text-transform: uppercase;
                position: relative;
                padding: 30px 0;
                margin: 0;
                display: block;
                @include border-radius(0);
                @include transition(all 0.35s);
                .caret{
                    color: #222222;
                    border-width: 3px;
                    @include transition(all 0.35s);
                }
                &:hover, &:focus{
                    color: $theme-color;
                    .caret{
                        color: $theme-color;
                    }
                }
            }
            &:first-child {
                margin-left: 0;
            }
            .dropdown-menu,
            .sub-menu {
                min-width: 200px;
                width: 100%;
                padding: 10px;
                @include border-radius(0);
                position: absolute;
                opacity: 0;
                display: block;
                right: 0;
                top: 101%;
                @include transition( all 0.3s ease-out 0s) ;
                transform:translate(0px, 20px);
                @include transition(all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s);
                visibility: hidden;
                z-index: 999;
                border: none;
                font-size: 14px;
                text-align: left;
                background-color: $white;
                border: 1px solid $border-color;
                li.menu-item-has-children {
                    > a {
                        &:after {
                            font-family: FontAwesome;
                            content: "\f0da";
                            position: absolute;
                            right: 0;
                            top: 50%;
                            @include translate(0,-50%);
                        }
                    }
                }
                ul.dropdown-menu,
                ul.sub-menu {
                    left: 100%;
                    top: 0;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    @include transition( all 0.3s ease-out 0s) ;
                    transform:translate(0px, 20px);
                }
                .row{
                    padding-top: 0;
                }
                li{
                    display: block;
                    padding: 3px 10px;
                    position: relative;
                    padding-left: 20px;
                    a{
                        min-height: inherit;
                        display: block;
                        @include transition(all .2s linear);
                        padding: 0;
                        color: #666;
                        font-weight: 400;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                    &:hover{
                        > ul.dropdown-menu,
                        > ul.sub-menu {
                            opacity: 1;
                            visibility: visible;
                            transform:translate(0px, 0px);
                        }
                    }

                }
                .widgettitle{
                    padding:20px;
                    border-color:$border-color;
                    margin-bottom: 0;
                }
            }
            .mega-dropdown-menu{
                ul{
                    li{
                        a{
                            padding-left: 0;
                            padding-right: 0;
                            &:hover{
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
            .dropdown-menu {
                .row {
                    overflow: visible;
                }
            }
        }
        > .active{
            >  a{
                &:before{
                    @include opacity(1);
                }
            }
        }
        > .aligned-fullwidth{
            position: static !important;
            > .dropdown-menu,
            > .sub-menu {
                width: 100% !important;
            }
        }
        > .aligned-right{
            position: static !important;
            > .dropdown-menu,
            > .sub-menu {
                right: 0;
                left: auto;
            }
        }
        > .aligned-left {
            position: static !important;
            > .dropdown-menu,
            > .sub-menu {
                left: 0;
                right: auto;
            }
        }
        .wpb-container-mega{
            margin: 0;
        }
        .container-mega{
            .row {
                padding-bottom: 0;
                margin: 0 !important;
                width: 100%;
                position: relative;
                overflow: hidden;
                > div{
                    position: relative;
                    padding:0;
                    &:after{
                        content: "";
                        @include size(1px, 100%);
                        background: $border-color;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    &:first-child:after{
                        content: none;
                    }
                }
            }
        }
    }
    .text-label{
        position: absolute;
        top: -25px;
        right: 45%;
        padding:0px 3px;
        font-size: 9px;
        color: #FFFFFF;
        &.text-hot{
            background:$brand-danger;
            &:after {  border-top-color: $brand-danger ; }
        }
        &.text-new{
            background:$brand-info;
            &:after {  border-top-color: $brand-info ; }
        }
        &:after{
            content: "";
            position: absolute;
            border: 3px solid transparent;
            top: 100%;
            left: 50%;
            margin-left: -3px;
        }
    }
}

.container-mega {
    .widget {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {

    .navbar-mega  .navbar-nav > li {
        &:hover{
            > .dropdown-menu,
            > .sub-menu {
                opacity: 1;
                right: 0px;    
                transform:translate(0px, 0px);
                visibility: visible;                
            }
        }
    }
 
}
/**
 * White Styles
 */
.navbar-mega-light{
    .navbar-mega .navbar-nav > li > a, .navbar-mega .navbar-nav > li > a .caret {
        color:#FFFFFF;
        &:hover{
            color: #FFFFFF;
        }
    }
    
}

.navbar-mega-theme{
    background:$theme-color;
    .navbar-mega .navbar-nav > li > a, .navbar-mega .navbar-nav > li > a .caret {
        color:#FFFFFF;
    }
    
}


/**
 * Simple Styles
 */
.navbar-mega-simple{
   .pbr-megamenu{
        /* display: inline-block; */
   }
}



/*** Vertical Megamenu ***/
.pbr-vertical-menu{
    .navbar-vertical-mega{
        display: block;
        position:relative;
        width: 100%;
        & > li{
            display: block;
            float: none;
            clear: both;
            width: 100%;

            & >  a{
                text-transform: uppercase;
                padding-top:10px;
                padding-bottom:10px; 
                font-size:13px;
            }
            border-bottom:solid 1px $border-color;
            .dropdown-menu,
            .sub-menu {
                top:0;
                left: 100%;
            }
          
            &:hover{
                & > .dropdown-menu,
                & > .sub-menu {
                    display: block;
                }
            }
            .caret{
                float: right;
            }
        }   
    }
    &.menu-right > li {
        .dropdown-menu,
        .sub-menu {
            top:0;
            right: 100%;
        }
    }
}


.menu-item-language-current .submenu-languages {
  display: none;
  position: absolute;
  top:100%;
  background-color: #fff;
  min-width: 170px;
}
.menu-item-language-current:hover .submenu-languages {
  display: block;
}
.menu-item-language-current:hover .submenu-languages li {
  padding: 5px 10px;
}

/* Social Menu */
.social-navigation {
    font-size: 14px;
    ul {
        list-style: none;
        margin: 0 -8px;
        padding: 0;
    }
    li {
        display: inline-block;
    }
    a {
        color: $gray2;
        display: block;
        padding: 0 8px;
        &:hover, &:focus {
            color: $white;
        }
    }
}

/* My Account Menu */
.account-links {
    list-style: none;
    padding: 0;
    margin: 0 -5px 0 -10px;
    a {
        border-left: 1px solid rgba($white, .1);
        padding: 0 5px 0 10px;
    }
    li:first-child a {
        border-left: 0;
    }
}
.box-user {
    text-align: right;
    .dropdown-toggle {
        display: none;
    }
    .dropdown-menu {
        display: inline-block;
        position: static;
        background-color: transparent;
        box-shadow: none;
        border: none;
        font-size: 13px;
        padding: 0;
        margin: 0 -10px 0 -10px;
        min-width: inherit;
        a {
            border-left: 1px solid rgba($white, .1);
            padding: 0 10px 0 10px;
        }
        li:first-child a {
            border-left: 0;
        }
    }
    span.fa {
        display: none;
    }
}