/**
 * 6.3 Entry Meta
 * -----------------------------------------------------------------------------
 */
.sticky .entry-date {
    display: none;
}

.cat-links {
    font-weight: 900;
    text-transform: uppercase;
}

.cat-links a {
    color: #2b2b2b;
}

.cat-links a:hover {
    color: $theme-color;
}

.byline {
    display: none;
}

/* Tag links style */

.entry-meta {
    font-size: 12px;
    font-weight: 300;
    span {
        .meta-sep {
            color: #dcdcdc;
            margin: 0 2px;
        }
        span {
            color: $theme-color;
        }
    }
    .avatar {
        @include border-radius(50%);
        margin-bottom: 20px;
    }
}

.tag-links-wrapper {
    border-top: 1px solid $border-color;
    padding-top: 30px;
    font-size: 12px;
    font-weight: 500;
    span {
        margin-right: 10px;
    }
    a {
        display: inline-block;
        position: relative;
    }
    h6 {
        margin: 5px 10px 0 0;
    }
}

.entry-date,
.meta-sep,
.author,
.entry-category,
.comments-link,
.edit-link {
}

.entry-category {
    ul {
        margin: 0;
        display: inline-block;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
        }
    }
}

/**
 * 6.4 Entry Content
 * -----------------------------------------------------------------------------
 */

.entry-content,
.entry-summary,
.page-content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.site-content .entry-content,
.site-content .entry-summary,
.page-content {
    margin-bottom: 30px;
}

.entry-content h1:first-child,
.entry-content h2:first-child,
.entry-content h3:first-child,
.entry-content h4:first-child,
.entry-content h5:first-child,
.entry-content h6:first-child,
.entry-summary h1:first-child,
.entry-summary h2:first-child,
.entry-summary h3:first-child,
.entry-summary h4:first-child,
.entry-summary h5:first-child,
.entry-summary h6:first-child,
.page-content h1:first-child,
.page-content h2:first-child,
.page-content h3:first-child,
.page-content h4:first-child,
.page-content h5:first-child,
.page-content h6:first-child {
    margin-top: 0;
}

.entry-content a,
.entry-summary a,
.page-content a,
.comment-content a {
    text-decoration: none;
}

.entry-content a:hover,
.entry-summary a:hover,
.page-content a:hover,
.comment-content a:hover,
.entry-content a.button,
.entry-summary a.button,
.page-content a.button,
.comment-content a.button {

}

.entry-content table,
.comment-content table {
    font-size: 14px;
    line-height: 1.2857142857;
    margin-bottom: 24px;
}

.entry-content th,
.comment-content th {
    font-weight: 600;
    padding: 8px;
    color: $black;
}

.entry-content td,
.comment-content td {
    padding: 8px;
}

.entry-content .edit-link {
    clear: both;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333;
    text-transform: uppercase;
}

.entry-content .edit-link a {
    color: $theme-color;
    text-decoration: none;
}

.entry-content .edit-link a:hover {
    color: #41a62a;
}

.entry-content .more-link {
    white-space: nowrap;
}

.ratings a {
    text-indent: -9999em !important;
}

.post-categories {
    li {
        display: inline-block;
        list-style: none;
        list-style-type: dashed
    }
}

/**
 * Navigation links
 */
.nav-links {
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    padding: 25px 0;
    margin-top: 35px;
    font-family: $headings-font-family;
    font-size: 14px;
    .meta-nav {
        text-transform: uppercase;
        font-size: 10px;
        color: $text-color;
        display: block;
        @include transition(.3s);
    }
    .prev-post,
    .next-post {
        position: relative;
        &:before,
        &:after {
            position: absolute;
            top: 50%;
            transform: translate(0,-50%);
            color: #ccc;
            font-size: 36px;
            font-family: FontAwesome;
            @include transition(.3s);
        }
    }
    .prev-post {
        padding-left: 30px;
        &:before {
            content: "\f104";
            left: 0;
        }
    }
    .next-post {
        padding-right: 30px;
        &:after {
            content: "\f105";
            right: 0;
        }
    }
    a:hover {
        .meta-nav,
        .prev-post:before,
        .next-post:after {
            color: $theme-color;
        }
    }
}

.entry-content-page {
    .edit-link {
        background: #000;
        z-index: 10000;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 5px;
        a {
            font-size: 11px;
            color: #FFF !important;
        }
        .vc_inline-link{
            display: none;
        }
    }
    position: relative;
}

#comments {
    padding-top: 70px;
}

/* Mediaelements */

.hentry .mejs-container {
    margin: 12px 0 18px;
}

.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls {
    background: #000;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #fff;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
    background: #24890d;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: rgba(255, 255, 255, .33);
}

.hentry .mejs-container .mejs-controls .mejs-time {
    padding-top: 9px;
}

.hentry .mejs-controls .mejs-time-rail span,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    border-radius: 0;
}

.hentry .mejs-overlay-loading {
    background: transparent;
}

.hentry .mejs-overlay-button {
    background-color: #fff;
    background-image: none;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
    color: #000;
    height: 36px;
    margin-left: -24px;
    width: 48px;
}

.hentry .mejs-overlay-button:before {
    -webkit-font-smoothing: antialiased;
    content: '\f452';
    display: inline-block;
    font: normal 32px/1.125 Genericons;
    position: absolute;
    top: 1px;
    left: 10px;
}

.hentry .mejs-controls .mejs-button button:focus {
    outline: none;
}

.hentry .mejs-controls .mejs-button button {
    -webkit-font-smoothing: antialiased;
    background: none;
    color: #fff;
    display: inline-block;
    font: normal 16px/1 Genericons;
}

.hentry .mejs-playpause-button.mejs-play button:before {
    content: '\f452';
}

.hentry .mejs-playpause-button.mejs-pause button:before {
    content: '\f448';
}

.hentry .mejs-volume-button.mejs-mute button:before {
    content: '\f109';
    font-size: 20px;
    position: absolute;
    top: -2px;
    left: 0;
}

.hentry .mejs-volume-button.mejs-unmute button:before {
    content: '\f109';
    left: 0;
    position: absolute;
    top: 0;
}

.hentry .mejs-fullscreen-button button:before {
    content: '\f474';
}

.hentry .mejs-fullscreen-button.mejs-unfullscreen button:before {
    content: '\f406';
}

.hentry .mejs-overlay:hover .mejs-overlay-button {
    background-color: #24890d;
    color: #fff;
}

.hentry .mejs-controls .mejs-button button:hover {
    color: #41a62a;
}



article {
    position: relative;
    &.post {
        margin-bottom: 60px;
        .entry-thumb {
            margin-bottom: 25px;
        }
        .entry-title {
            margin: 15px 0;
            line-height: 1.5;
            @media (max-width: 980px) {
                font-size: 20px;
            }
        }
    }
    header {
        position: relative;
        .cat-links {
            top: -40px;
            left: 20px;
            z-index: 9;

        }
    }
    h5.entry-title {
        line-height: 1.4;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 15px;
    }

    .entry-excerpt {
        color: $light-gray;
        line-height: 24px;
    }

    .entry-thumb {
        overflow: hidden;
    }

    .post-format a {
        i {
            display: none;
        }

    }
}

/*------------------------------------*\
    Comment List
\*------------------------------------*/

.comments {
    .the-comment {
        padding-top: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
        .avatar {
            float: left;
            margin-right: 10px;
            margin-top: 5px;
            img {
                @include size(50px, 50px);
                @include border-radius(50%);
            }
        }
    }
    .children {
        .the-comment {
            padding-left: 65px;
        }
        .children {
            .the-comment {
                padding-left: 130px;
            }
        }
    }
    .comment-author {
        color: $text-color;
        font-size: 12px;
        margin-bottom: 5px;
        strong {
            color: #000;
            font-size: 14px;
            font-weight: 300;
            margin-right: 5px;
        }
    }
    .comment-meta {
        font-size: $font-size-base - 2;
        color: #aaa;
    }
    a {
        font-weight: 300;
        text-transform: capitalize;
        font-size: 14px;
    }
    ol, ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .comment-box {
        overflow: hidden;
        font-size: 14px;
    }
}

.pagination {
    margin: 0 -6px 30px;
    span, a {
        padding: 6px 12px;
    }
    span.current,
    a:hover {
        color: $theme-color;
    }
}
.result-count {
    font-size: 12px;
    font-weight: 500;
}

.author-info {
    border-top: 1px solid $border-color;
    .avatar-img {
        margin-top: -36px;
        img {
            border-radius: 50%;
        }
    }
    h6 {
        color: $text-color;
        font-size: 12px;
        margin: 25px 0 0;
    }
    h5 {
        margin: 10px 0 20px;
        text-transform: capitalize;
    }
}

/*------------------------------------*\
    Comment Form
\*------------------------------------*/
.comment-respond {
    padding-top: 40px;
    label {
        display: none;
    }
}
.comment-form {
    @extend .row;
    .form-group {
        margin-bottom: 40px;
        &.h-info {
            margin-bottom: 15px;
        }
    }
    .form-submit {
        @extend .col-sm-12;
        text-align: center;
    }
    .logged-in-as {
        @extend .col-sm-12;
    }
}

/*------------------------------------*\
    Single portfolio
\*------------------------------------*/
.pbr-portfolio-navigator {
    margin-bottom: 20px;
    .btn {
        margin-right: 10px;
    }
    a {
        color: $white;
    }
}

.single-body {
    .entry-title h1 {
        display: block !important;
    }
}

.post-single {
    padding-bottom: 30px;
    border-bottom: 1px solid $border-color;
    .entry-content {
        margin-bottom: 0;
        > p {
            margin-bottom: 15px;
        }
    }
    .more-link {
        @extend .screen-reader-text;
    }
    h1.entry-title {
        display: block;
    }
}

.single-post {
    .post-single {
        border-bottom: none;
    }
    blockquote {
        margin: 60px 0;
    }
}

.related-posts {
    margin-bottom: 30px;
    margin-top: 60px;
}

//post-archive
.post-archive {
    .post-single {
        .entry-content {
            margin-bottom: 0;
        }
    }
    .row {
        &:last-child {
            .post-single {
                border-bottom: none;
            }
        }
    }
}


//Style Blog Overflow
.pbr-grid-posts{
    &.overflow{
        margin-bottom: 0;
        @media (min-width: $screen-lg) {
            [class*="col-"] {
                padding-left: 2px;
                padding-right: 2px;
            }
        }
        @media (max-width: $screen-md-max) {
            [class*="col-"] {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
            
        article.post{
            margin-bottom: 0;
            .entry-thumb{
                margin-bottom: 0;
                @media (max-width: $screen-md-max){
                    margin-bottom: 10px;
                }
            }
            .entry-content{
                margin-bottom: 60px;
                @media (min-width: $screen-lg) {
                    margin-bottom: 0;
                    position: absolute;
                    left: 0;
                    bottom: 40px;
                    width: 100%;
                    padding: 0 40px;
                    color: $white;
                }
                a{
                    text-transform: capitalize;
                    @media (min-width: $screen-lg) {
                        color: $white;
                    }
                    &:hover{
                        color: $theme-color;
                    }
                }
                .entry-title{
                    margin-bottom: 0;
                }
            }
        }
    }
    &.noimage{
        margin-bottom: 0;
        .row{
            >[class*="col-"] {
                margin-bottom: 60px;
                border-right: 1px solid $border-color;
                &:first-child{
                    article.post{
                        padding-left: 0;
                    }
                }
                &:last-child{
                    border: 0;
                }
            }
        }
        article.post{
            margin-bottom: 0;
            padding: 0 20px;
            @media (max-width: $screen-xs-max) {
                padding: 0;
            }
            .entry-thumb{
                margin-bottom: 18px;
                .entry-image{
                    display: none;
                }
                .first-category{
                    position: static;
                }
            }
            .entry-content{
                .entry-description{
                    display: block !important;
                }
            }
        }
    }
}