@media (min-width: $screen-lg) {
    .col-lg-cus-5 {
        width: 20%;
        float: left;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {
    .col-md-cus-5 {
        width: 20%;
        float: left;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }
}

@media (max-width: $screen-xs) {
    .col-xs-cus-12 {
        width: 100%;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */

.sidebar-offcanvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 999;
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    text-align: left;
    background-color: $white;
    left: -51%;
    @include transition(all 0.3s ease-out);
    &.active {
        left: 0;
    }
}

.btn-offcanvas {
    border: none;
    &:hover {
        color: $theme-color;
    }
}

.offcanvas-head {
    button {
        padding: 14px 25px;
    }
}

.row-offcanvas {
    position: relative;
    @include transition(all 0.25s ease-out);
    &.active {
        left: 0;
    }
}

.offcanvas-showright {
    background: rgba($theme-color, 0.8);
    position: relative;
    @include transition(all 0.25s ease-out);
    width: 400px;
    position: absolute;
    right: -800px;
    top: 0;
    z-index: 1000;
    display: block;
    padding: 50px 0;
    &.active {
        display: block;
        right: 0;
    }
    .showright {
        background-color: $white;
        @include size(40px, 40px);
        border: none;
        margin-right: 50px;
        .fa {
            color: $theme-color;
        }
    }
}

@media screen and (max-width: $screen-md-min) {
    .row-offcanvas-right {
        right: 0;
    }
    .row-offcanvas-left {
        left: 0;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%;
    }
    .row-offcanvas-right.active {
        right: 50%;
    }
    .row-offcanvas-left.active {
        left: 0;
    }
}

.navbar-offcanvas {
    border: none;
    ul#main-menu-offcanvas {
        float: none;
        display: block;
        font-weight: 400;
        > li {
            position: relative;
            border-bottom: 1px solid $border-color;
            display: block;
            float: none;
            .caret {
                position: absolute;
                right: 10px;
                top: 10px;
                @include size(25px, 25px);
                border: 1px solid $border-color;
                z-index: 9;
                background: #f5f5f5;
                &:hover {
                    cursor: pointer;
                }
                &:after {
                    font-family: FontAwesome;
                    content: "\f107";
                    top: -3px;
                    left: 7px;
                    position: absolute;
                    z-index: 9;
                }
            }
            ul {

                position: relative;
                float: none;
                border: none;
                @include box-shadow(none);
                padding: 0 10px 15px;
                li a {
                    font-size: 13px;
                    font-weight: 300;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    &:hover {
                        color: $theme-color;
                        background-color: transparent;
                    }
                }
            }
        }
        li.active > a {
            background: none;
            color: $theme-color;
        }
    }
}

@media (max-width: $screen-phone) {
    .active-mobile {
        &.cart-popup {
            .active-content {
                right: 0;
                left: -100px;
            }
        }
    }
    .cart_totals {
        > h2 {
            font-size: 50px;
        }
    }
}

@media (max-width: $screen-lg) {
    .single-product {
        #tab-description {
            .vc_column-inner {
                padding: 20px !important;
            }
        }
    }
}

@media (max-width: $screen-sm-max) {
    .pbr-footer-profile {
        > .wpb-container {
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
        }
    }
    .woocommerce td.product-quantity {
        .quantity {
            float: none;
            display: inline-block;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .pbr-footer-profile {
        .vc_col-sm-3 {
            .vc_column-inner {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .wc-tab {
        .vc_column-inner {
            padding-left: 45px !important;
            padding-right: 45px !important;
        }
    }
}