/////////// TEMPLATES LAYOUT ///////////

$app-prefix: pbr !default;
$vc-prefix: pbr_ !default;

body {
    overflow-x: hidden;
}
#page {
    overflow-x: hidden;
}
// #wpadminbar{
//     display: none !important;
// }
// html.vc_transform{
//     margin-top: 0 !important;
// }
// .entry-content-page .edit-link{
//     display: none !important;
// }

#main {
    .container {
        position: relative;
        .container {
            width: 100%;
        }
    }
}

#site-header {
    text-align: center;
}

h1.archive-title {
    display: none;
}

/**
 * Page Style
 */
#page {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    &.page-static-left {
        @include transition(all 0.25s ease-out);
        &.active {
            @include transition(all 0.25s ease-out);
            margin-left: 250px;
            .sidebar-static-left {
                @include transition(all 0.25s ease-out);
                left: 0;
            }
        }
    }
    &.active .button-action:before {
        content: "\f060"
    }
}

// .site-main {
//     overflow: hidden;
//     padding-top: 60px;
//     > .pbr-breadscrumb {
//         margin-top: -60px;
//     }
// }

/**
 * Topbar layout styles
 */
##{$app-prefix}-topbar {
    @include container-layout-variant($topbar-color, $topbar-bg, $topbar-link-color);
    padding: $topbar-padding;
    text-transform: $topbar-text-transform;
    font-size: $topbar-font-size;
    position: relative;
    .list-inline {
        margin: 0;
        padding: 0;
    }
    a:hover, a:focus {
        text-decoration: none;
        color: $white;
        background-color: transparent;
    }
    ul {
        li {
            display: inline-block;
        }
    }
    &.pbr-topbar-v2 {
        .box-user {
            margin-left: 0;
            .account-links {
                padding: 0 5px;
            }
        }
        .cart-wrapper {
            > div {
                align-self: center;
            }
            a {
                color: $white;
                &.mini-cart, &.opal-btn-wishlist {
                    color: $white;
                }
                &.remove_from_cart_button {
                    color: $brand-danger;
                }
                &.button {
                    &:hover {
                        background-color: darken($theme-color,10%);
                    }
                }
            }
            li a {
                color: $black;
                &:hover {
                    color: $theme-color;
                }
            }
        }
        .mini-cart {
            align-self: center;
            align-items: center;
        }
        .cart-right {
            @include flexbox;
            flex-direction: column;
            > span {
                line-height: 1.4;
                font-weight: 300;
            }
        }
        .opal-btn-wishlist {
            .count {
                top: -13px;
            }
        }
    }
    &.pbr-topbar-v3{
        @include container-layout-variant($white, $theme-color-second, #ccc);
        font-size: $topbar-font-size + 1;
        min-height: 60px;
        padding: 0;
        @include flexbox();
        align-items: center;
        @media (max-width: $screen-md-max) {
            min-height: 48px;
        }
        .header-info {
            font-family: $font-family-bold;
            align-items: center;
            .header-info-icon{
                width: 26px;
                height: 25px;
                display: block;
                background: url('#{$image-theme-path }phone.png') center center no-repeat;
                i{
                    display: none;
                }
            }
            .phone{
                font-size: 16px;
                color: $theme-color;
                @media (max-width: $screen-md-max) {
                    font-size: 13px;
                }
            }
        }
        .box-user{
            margin-left: 0;
            .account-links {
                padding: 0;
                font-size: 0;
            }
            li{
                &:last-child{
                    a{
                        border-left: 1px solid #646060;
                    }   
                }
                a{
                    font-size: 14px;
                    padding: 0 10px;
                    border: 0;
                    display: initial;
                    &:hover{
                        color: $theme-color;
                    }
                    span{
                        font-size: $font-size-base;
                    }
                }
            }
        }
    }
}

.topbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar-mobile {
    width: 100%;
    background: #3C424C;
    display: table;
    .btn-offcanvas {
        background-color: transparent;
    }
    .fa {
        color: $white;
        font-size: 20px;
    }
}

.active-mobile {
    line-height: 48px;
    @include size(48px, 48px);
    position: relative;
    cursor: pointer;
    @include transition(all 0.3s ease 0s);
    text-align: center;
    &:hover {
        background-color: lighten($topbar-bg, 5%) !important;
        cursor: pointer;
        .active-content {
            display: block;
            opacity: 1;
            visibility: visible;
            left: 0;
            right: auto;
        }
    }
    .active-content {
        position: absolute;
        top: 100%;
        z-index: 99999;
        color: $white;
        padding: $theme-margin/2;
        background-color: lighten($topbar-bg, 5%);
        left: -10000px;
        @include opacity(0);
        position: absolute;
        min-width: 320px;
        visibility: hidden;
        right: 0;
        text-align: left;
        @include transition(opacity 0.3s ease 0s);
        @media (max-width: $screen-phone) {
            min-width: 250px;
        }
    }
    ul {
        padding: 0;
        margin: -5px 0;
        li {
            display: block;
            margin: 0;
            padding: 5px 0;
            line-height: normal;
            font-size: 14px;
        }
    }
    .search-category-container {
        display: none;
    }
    .search-category-input {
        @include font-size(font-size, 15px);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        height: 48px;
    }
    .btn-search {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        .fa {
            color: $theme-color;
            border: none;
            font-size: 16px;
            background-color: transparent;
        }
        &:hover {
            .fa {
                color: $theme-color;
            }
        }
    }
    &.setting-popup {
        a {
            color: $white;
            &:hover {
                color: $theme-color;
            }
        }
    }
    .woocommerce-mini-cart {
        li {
            margin-bottom: 25px;
        }
    }
    &.cart-popup {
        .active-content {
            background-color: $white;
            border: 1px solid rgba(0, 0, 0, 0.15);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            color: $black;
        }
        .cart_list + .total {
            padding-bottom: 5px;
        }
        .buttons {
            margin-bottom: 0;
            @include flexbox;
            justify-content: space-between;
            a {
                @include button-variant($white, $theme-color, $theme-color);
                @include button-size($padding-large-vertical, $padding-large-horizontal - 5, $font-size-base - 4, $line-height-base, $btn-border-radius-base);
                font-weight: 500;
                text-transform: uppercase;
                @media (max-width: $screen-phone) {
                    padding: 15px;
                }
            }
        }
    }
}


.box-user {
    position: relative;
    z-index: 11;
    cursor: pointer;
    margin-left: 20px;
    .account-links {
        padding: 0 20px;
    }
    .dropdown-toggle {
        cursor: pointer;
        &:hover {
            color: $theme-color;
        }
    }
    &.open {
        > .dropdown-toggle {
            color: $theme-color !important;
        }
    }
}

.wpml-lang {
    margin-left: 20px;
    .dropdown-toggle {
        cursor: pointer;
        &:hover {
            color: $theme-color;
        }
    }
    ul {
        list-style: none;
        padding: 5px 0;
        margin: 0;
        li {
            padding: 0 25px;
            line-height: 30px;
            img {
                margin-right: 10px;
            }
            a {
                &:hover {
                    color: $theme-color;
                    font-weight: bold;
                }
            }
            &.active {
                font-weight: bold;
                a {
                    color: $theme-color;
                }
            }
        }
    }
}

.logo-wrapper {
    line-height: 45px;
}

##{$app-prefix}-logo {

}

/**
 * Header Layout styles
 */
##{$app-prefix}-masthead {
    position: relative;
    padding: $header-main-padding;
    color: $header-color;
    .header-main {
        position: relative
    }
    .logo-wrapper {
        .logo-theme a {
        }
        @media (max-width: $screen-sm-max) {
            width: 100%;
            text-align: center;
        }
    }
    .pbr-header-right {
        margin-left: 40px;
    }
    /// header styles version 1
    &.#{$app-prefix}-header-default {
        background-color: $white;
        @media (max-width: 1024px) {
            #pbr-logo {
                order: 1;
            }
            .header-info-wrapper {
                order: 2
            }
        }
        .has-sticky.keeptop {
            .header-top {
                transform: translateY(-300px);
                height: 0;
                padding: 0;
                z-index: -1;
                @media (max-width: 1024px) {
                    transform: translateY(0);
                }
            }
            .navbar-mega .navbar-nav > li > a {
                padding: 17px 0;
            }
        }
    }
    &.#{$app-prefix}-header-v2 {
        .header-top {
            border-bottom: none;
            @media (max-width: 1024px) {
                .header-top-inner {
                    justify-content: space-around;
                }
            }
            @media (max-width: 980px) {
                .header-top-inner {
                    justify-content: center;
                }
            }
        }
        .navbar-mega .navbar-nav > li > a {
            padding: 5px 0;
        }
        .navbar-mega .navbar-nav > li {
            margin: 0 15px;
            &:last-child {
                margin-right: 0;
            }
        }
        .navbar-collapse {
            padding-right: 0;
        }
        .navbar, #pbr-mainmenu {
            position: static;
        }
        .header-top-inner {
            position: relative;
        }
    }
    &.#{$app-prefix}-header-v3{
        .header-top {
            padding: 38px 0;
            min-height: 120px;
            border-bottom: 0;
            @media (max-width: $screen-sm-max) {
                min-height: auto;
                padding: 15px 0;
            }  
        }
        .logo-theme{
            position: relative;
            z-index: 2;
            float: left;
            @media (max-width: $screen-sm-max) {
                float: none;
                text-align: center;
            }        }
        .cart-wrapper{
            float: right;
            z-index: 3;
            position: relative;
            align-items: center;
            margin-top: 6px;
        }
        .wishlist{
            .opal-btn-wishlist{
                display: block;
                width: 26px;
                height: 22px;
                background: url('#{$image-theme-path }wishlist.png') center center no-repeat;
                i{
                    display: none
                }
                .count{
                    right: -13px;
                    top: -5px;
                }
            }
        }
        
        .cart-icon{
            width: 24px;
            height: 26px;
            margin-right:21px;
            background: url('#{$image-theme-path }bag.png') center center no-repeat;
            i{
                display: none;
            }
            .mini-cart-items{
                right: -13px;
                top: -3px;
            }
        }
        .mini-cart {
            align-items: center;
            .title-cart{
                font-family: $font-family-bold;
            }
            .amount{
                color: $theme-color;
                font-family: $font-family-bold;
            }
            .mini-cart-total{
                display: block;
                margin-top: 4px;
            }
        }
        .pbr-mainmenu{
            .navbar{
                border: 0;
            }
            .navbar-mega {
                .navbar-collapse{
                    padding: 0;
                }
                .navbar-nav {
                    font-size: 0;
                    > li {
                        margin: 0 20px;
                        &.active{
                            >a{
                                color: $theme-color;
                                .caret{
                                    color: $theme-color;
                                }
                            }
                        }
                        > a{
                            font-family: $font-family-bold;
                            padding: 3px 0;
                            .caret {
                                position: relative;
                                top: -1px;
                                right: 0;
                                border: 0;
                                width: auto;
                                height: auto;
                                margin-left: 0;
                                &:before {
                                    content: "\f107";
                                    font: normal normal normal 12px/1 FontAwesome; 
                                    text-rendering: auto;
                                    -webkit-font-smoothing: antialiased;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    @media (min-width: $screen-sm-max) {
        &.header-absolute {
            position: absolute;
            width: 100%;
            z-index: 10;
        }
    }
    @media (max-width: $screen-sm-max) {
        &.header-absolute {
            background: #333;
        }
    }

    .has-sticky {
        @include transition(all 1s ease 0s);
        background-color: #fff;
        &.keeptop {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999;
            left: 0;
            @include transition(all 1s ease 0s);
            .header-top {
                padding: 15px 0;
                min-height: auto;
            }
            .navbar-mega .navbar-nav > li > a {
                //padding: 15px 0;
            }
            @media (max-width: 1024px) {
                position: static;
            }
        }
    }
}

.logged-in.admin-bar {
    #pbr-masthead .has-sticky.keeptop {
        padding-top: 32px;
    }
}

.header-top {
    position: relative;
    padding: 40px 0;
    border-bottom: 1px solid $gray1;
    @include transition(.3s);
    @media (max-width: 1024px) {
        padding: 15px 0;
    }
}

.header-top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $screen-xs-max) {
        justify-content: center;
    }
}

/**
 * Search block layout and styles
 */

.search-box-wrapper {
    i {
        font-size: 18px;
        line-height: 26px;
    }
}

.search-box {
    .input-group-addon {
        background: #FFFFFF;
        border: none;
        input {
            background: transparent;
            border-color: $theme-color;
            color: #FFF;
        }
        border-radius: 0px $border-radius-base $border-radius-base 0px;
        min-width: 200px;
        font-weight: normal;
        position: relative;

        padding: 2px 10px 2px 0 !important;
        &:after {
            content: " ";
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: #CCC;
        }
    }
    input, select {
        border: none;
        border-radius: $border-radius-base;
        background: $white;
    }
    select {
        border-radius: 0 0 0 !important;
        border: none !important;
        background: transparent !important;
        box-shadow: 0 0 0 !important;
        font-weight: normal;
        margin-right: 2px;
    }
    &.search-box-simple {
        .input-group {
            border: solid 2px $theme-color;
            border-radius: $border-radius-base;;
            background: #FFFFFF;
        }
        .input-group-addon {
            background: transparent;
        }
        input {
            color: #000000
        }
    }
}

.toggle-overlay-container {
    /* height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 100%; */
    .search-box {
        /* width: calc(100% - 86px);
        float: left; */
        .input-group {
            /* width: 90%;
            margin:30px auto; */
            border: solid 2px $theme-color;
            .form-control {
                height: 40px
            }
        }
    }
    .dropdown-toggle-button {
        width: 86px;
        height: 100%;
        text-align: center;
        float: right;
        background: #F2f2f2;
        cursor: hand;
        cursor: pointer;
    }
    z-index: 10;
    background: #FFFFFF;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

/**
 * Mass Bottom Header Styles
 */
.#{$app-prefix}-massbottom-head {
    .inner {
        background: $massbottom-head-bg;
        padding: $massbottom-head-padding;
        border-top: $massbottom-head-border-color solid 1px;
        color: $massbottom-head-color;
    }
}

/**
 * Main menu styles
 */
##{$app-prefix}-mainmenu {
    background: transparent;
    position: relative;
    .inner {

    }
}

/**
 * Breadscrumb content style
 */
.#{$app-prefix}-breadscrumb {

    background-image: url('#{$image-theme-path}bg-09.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    margin-bottom: 80px;
    color: $white;
    .breadcrumb {
        padding: 0 0 0 110px;
        font-weight: 200;
        font-size: 14px;
        background: transparent;
        margin: 0 0 15px;
        position: relative;
        order: 1;
        li {
            &.active {
                top: 0;
                left: 0;
                position: absolute;
                h2, h1 {
                    margin: 0;
                }
            }
            span {
                padding: 0 7px;
            }
        }
        a {
            color: $white;
            font-size: $font-size-base;
            &:hover {
                color: $theme-color;
            }
        }
        &:before {
            content: "";
            background-color: $white;
            height: 1px;
            width: 70px;
            position: absolute;
            left: 0;
            top: 50%;
        }
        
        @media (max-width: $screen-sm-max) {
            padding-left: 0;
            &:before {
                content: none;
            }
        }
    }
    h1 {
        color: $white;
        font-size: 60px;
        order: 0;
        margin: 0 0 15px;
        
    @media (max-width: $screen-sm-max) {
            font-size: 36px;
        }
    }
    .container {
        @include flexbox;
        flex-direction: column;
    }
    .pbr-woocommerce-breadcrumb {
        padding-top: 100px;
        
        @media (max-width: $screen-sm-max) {
            padding-top: 55px;
        }
        &:before {
            top: auto;
            bottom: 15px;
        }
    }
    &.has-parallax {
        background-attachment: fixed;
        background-size: cover;
        background-position: 50% 50%;
    }
}

/**
 * Sidebar
 */
.sidebar {
    padding-bottom: 60px;
    .widget_nav_menu{
        ul.menu{
            > li:before{
                content: none;
            }
        }
    }
}

/**
 * Footer layout styles
 */
#main {
    article.post h1.entry-title {
        font-size: 30px;
        margin-bottom: 30px;
    }
}

.#{$app-prefix}-footer {
    color: $footer-color;
    font-size: $footer-font-size;
    position: relative;
    overflow-x: hidden;
    .footer-top {
        @include container-layout-variant($footer-top-color, transparent, $footer-link-color);
        background-color: $footer-top-bg;
        p {
            margin-bottom: 0;
        }
        i {
            font-size: 24px;
            @include size(60px, 60px);
            border: 2px solid #fff;
            @include border-radius(50%);
            line-height: 54px;
            text-align: center;
            margin-right: 20px;
        }
    }
    &.footer-2 {
        font-size: 18px;
        a {
            color: $white;
        }
        .container-fluid {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .footer-bottom {
        @include container-layout-variant($footer-bottom-color, transparent, $footer-link-color);
    }
    &.footer-3 {
        overflow-x: visible;
    }
    .bg-footer{
        font-size: $footer-font-size + 2;
        a{
            transition: color 0.3s ease 0s;
            &:hover{
                color: $theme-color !important;
            }
        }
        .footer-social{
            overflow: visible;
            text-align: center;
             ul.social{
                font-size: 0;
             }
        }
    }
}

.home {
    .#{$app-prefix}-footer {
        margin-top: 0;
    }
}

/*------------------------------------*\
    Copyright
\*------------------------------------*/
.#{$app-prefix}-copyright {
    color: $copyright-color;
    font-size: $copyright-font-size;
    font-weight: $copyright-font-weight;
    width: 100%;
    @include box-size($copyright-bg, $copyright-padding-top, $copyright-padding-bottom);
    border-top: 1px solid $border-color;
    .#{$block-selector} {
        .#{$block-heading-selector} {
            color: $footer-heading-color;
            text-transform: $footer-heading-transform;
            margin: $footer-heading-margin;
            @include font-size(font-size, $footer-heading-font-size);
        }
    }
    .input-group {
        border: 0px;
        .fa {
            color: $gray-light;
        }
    }
    a {
        color: $white;
        &:hover,
        &:focus,
        &:active {
            color: $theme-color;
        }
        color: $copyright-link-color;
    }
    address {
        margin: 0;
    }
    .payment {
        padding-top: 30px;
    }
    .container {
        padding-top: 30px;
        padding-bottom: 30px;
        @media (max-width: $screen-xs) {
            text-align: center;
        }
    }
}

.scrollup {
    @include size(80px, 80px);
    line-height: 50px;
    text-align: center;
    position: fixed;
    z-index: 9999;
    display: none;
    right: 40px;
    bottom: 20px;
    @include rotate(180deg);
    svg {
        fill: $theme-color;
    }
    &:hover {
        bottom: 40px;
    }
}