/*
 * Global variables
 */
$image-theme-path                : '../images/' !default;
$image-theme-skin                : '../images/' !default;
$lexus-font-path                  : '../fonts/' !default;
// standard colors
$white		    : #FFF !default;
$black			: #000 !default;
$nocolor		: transparent !default;
$gray1 : #e3e3e3;
$gray2 : #ccc;


// color for default theme
$theme-color    : #7e2d53 !default; /* main color which will be used for all main block styles... */
$border-color	: #ebebeb !default;


$theme-color-second  			 : #8da368 !default;
$theme-color-default             : $theme-color !default;
$theme-color-hover               : darken($theme-color, 10%) !default;
$theme-color-secondary           : #8da368 !default;
$link-color                      : #000 !default;


// Theme Margin, Padding
// -------------------------
$theme-margin    : 40px !default;
$theme-padding   : 40px !default;
// fonts
$font-family-second :  $font-family-sans-serif !default;

$block-module-heading-color : $theme-color-secondary;

/**
 * Import component variables
 */
@import "vars/form";
@import "vars/nav";
@import "vars/layout";
@import "vars/elements";
@import "vars/widget";
