.vc_row {
    // Extra small grid
    //
    // Grid classes for extra small devices like smartphones. No offset, push, or
    // pull classes are present here due to the size of the target.
    //
    // Note that `.vc_col-xs-12` doesn't get floated on purpose—there's no need since
    // it's full-width.

    .vc_col-xs-1,
    .vc_col-xs-2,
    .vc_col-xs-3,
    .vc_col-xs-4,
    .vc_col-xs-5,
    .vc_col-xs-6,
    .vc_col-xs-7,
    .vc_col-xs-8,
    .vc_col-xs-9,
    .vc_col-xs-10,
    .vc_col-xs-11 {
        float: left;
    }
    // Small grid
    //
    // Columns, offsets, pushes, and pulls for the small device range, from phones
    // to tablets.
    //
    // Note that `.vc_col-sm-12` doesn't get floated on purpose—there's no need since
    // it's full-width.

    @media (min-width: $screen-tablet) {
        .vc_col-sm-1,
        .vc_col-sm-2,
        .vc_col-sm-3,
        .vc_col-sm-4,
        .vc_col-sm-5,
        .vc_col-sm-6,
        .vc_col-sm-7,
        .vc_col-sm-8,
        .vc_col-sm-9,
        .vc_col-sm-10,
        .vc_col-sm-11 {
            float: left;
        }

        // Push and pull columns for source order changes
        .vc_col-sm-push-1 {
            left: percentage((1 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-push-2 {
            left: percentage((2 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-push-3 {
            left: percentage((3 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-push-4 {
            left: percentage((4 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-push-5 {
            left: percentage((5 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-push-6 {
            left: percentage((6 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-push-7 {
            left: percentage((7 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-push-8 {
            left: percentage((8 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-push-9 {
            left: percentage((9 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-push-10 {
            left: percentage((10/ $grid-columns));
            right: inherit;
        }
        .vc_col-sm-push-11 {
            left: percentage((11/ $grid-columns));
            right: inherit;
        }

        .vc_col-sm-pull-1 {
            left: percentage((1 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-pull-2 {
            left: percentage((2 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-pull-3 {
            left: percentage((3 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-pull-4 {
            left: percentage((4 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-pull-5 {
            left: percentage((5 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-pull-6 {
            left: percentage((6 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-pull-7 {
            left: percentage((7 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-pull-8 {
            left: percentage((8 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-pull-9 {
            left: percentage((9 / $grid-columns));
            right: inherit;
        }
        .vc_col-sm-pull-10 {
            left: percentage((10/ $grid-columns));
            right: inherit;
        }
        .vc_col-sm-pull-11 {
            left: percentage((11/ $grid-columns));
            right: inherit;
        }

        // Offsets
        .vc_col-sm-offset-1 {
            margin-left: percentage((1 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-sm-offset-2 {
            margin-left: percentage((2 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-sm-offset-3 {
            margin-left: percentage((3 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-sm-offset-4 {
            margin-left: percentage((4 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-sm-offset-5 {
            margin-left: percentage((5 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-sm-offset-6 {
            margin-left: percentage((6 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-sm-offset-7 {
            margin-left: percentage((7 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-sm-offset-8 {
            margin-left: percentage((8 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-sm-offset-9 {
            margin-left: percentage((9 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-sm-offset-10 {
            margin-left: percentage((10/ $grid-columns));
            margin-right: inherit;
        }
        .vc_col-sm-offset-11 {
            margin-left: percentage((11/ $grid-columns));
            margin-right: inherit;
        }
    }

    // Medium grid
    //
    // Columns, offsets, pushes, and pulls for the desktop device range.
    //
    // Note that `.vc_col-md-12` doesn't get floated on purpose—there's no need since
    // it's full-width.

    @media (min-width: $screen-desktop) {
        .vc_col-md-1,
        .vc_col-md-2,
        .vc_col-md-3,
        .vc_col-md-4,
        .vc_col-md-5,
        .vc_col-md-6,
        .vc_col-md-7,
        .vc_col-md-8,
        .vc_col-md-9,
        .vc_col-md-10,
        .vc_col-md-11 {
            float: left;
        }

        // Push and pull columns for source order changes
        .vc_col-md-push-0 {
            left: auto;
            right: inherit;
        }
        .vc_col-md-push-1 {
            left: percentage((1 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-push-2 {
            left: percentage((2 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-push-3 {
            left: percentage((3 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-push-4 {
            left: percentage((4 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-push-5 {
            left: percentage((5 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-push-6 {
            left: percentage((6 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-push-7 {
            left: percentage((7 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-push-8 {
            left: percentage((8 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-push-9 {
            left: percentage((9 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-push-10 {
            left: percentage((10/ $grid-columns));
            right: inherit;
        }
        .vc_col-md-push-11 {
            left: percentage((11/ $grid-columns));
            right: inherit;
        }

        .vc_col-md-pull-0 {
            left: auto;
            right: inherit;
        }
        .vc_col-md-pull-1 {
            left: percentage((1 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-pull-2 {
            left: percentage((2 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-pull-3 {
            left: percentage((3 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-pull-4 {
            left: percentage((4 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-pull-5 {
            left: percentage((5 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-pull-6 {
            left: percentage((6 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-pull-7 {
            left: percentage((7 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-pull-8 {
            left: percentage((8 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-pull-9 {
            left: percentage((9 / $grid-columns));
            right: inherit;
        }
        .vc_col-md-pull-10 {
            left: percentage((10/ $grid-columns));
            right: inherit;
        }
        .vc_col-md-pull-11 {
            left: percentage((11/ $grid-columns));
            right: inherit;
        }

        // Offsets
        .vc_col-md-offset-0 {
            margin-left: 0;
            margin-right: inherit;
        }
        .vc_col-md-offset-1 {
            margin-left: percentage((1 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-md-offset-2 {
            margin-left: percentage((2 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-md-offset-3 {
            margin-left: percentage((3 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-md-offset-4 {
            margin-left: percentage((4 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-md-offset-5 {
            margin-left: percentage((5 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-md-offset-6 {
            margin-left: percentage((6 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-md-offset-7 {
            margin-left: percentage((7 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-md-offset-8 {
            margin-left: percentage((8 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-md-offset-9 {
            margin-left: percentage((9 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-md-offset-10 {
            margin-left: percentage((10/ $grid-columns));
            margin-right: inherit;
        }
        .vc_col-md-offset-11 {
            margin-left: percentage((11/ $grid-columns));
            margin-right: inherit;
        }
    }

    // Large grid
    //
    // Columns, offsets, pushes, and pulls for the large desktop device range.
    //
    // Note that `.vc_col-lg-12` doesn't get floated on purpose—there's no need since
    // it's full-width.

    @media (min-width: $container-lg) {
        .vc_col-lg-1,
        .vc_col-lg-2,
        .vc_col-lg-3,
        .vc_col-lg-4,
        .vc_col-lg-5,
        .vc_col-lg-6,
        .vc_col-lg-7,
        .vc_col-lg-8,
        .vc_col-lg-9,
        .vc_col-lg-10,
        .vc_col-lg-11 {
            float: left;
        }

        // Push and pull columns for source order changes
        .vc_col-lg-push-0 {
            left: auto;
            right: inherit;
        }
        .vc_col-lg-push-1 {
            left: percentage((1 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-push-2 {
            left: percentage((2 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-push-3 {
            left: percentage((3 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-push-4 {
            left: percentage((4 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-push-5 {
            left: percentage((5 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-push-6 {
            left: percentage((6 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-push-7 {
            left: percentage((7 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-push-8 {
            left: percentage((8 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-push-9 {
            left: percentage((9 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-push-10 {
            left: percentage((10/ $grid-columns));
            right: inherit;
        }
        .vc_col-lg-push-11 {
            left: percentage((11/ $grid-columns));
            right: inherit;
        }

        .vc_col-lg-pull-0 {
            left: auto;
            right: inherit;
        }
        .vc_col-lg-pull-1 {
            left: percentage((1 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-pull-2 {
            left: percentage((2 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-pull-3 {
            left: percentage((3 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-pull-4 {
            left: percentage((4 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-pull-5 {
            left: percentage((5 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-pull-6 {
            left: percentage((6 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-pull-7 {
            left: percentage((7 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-pull-8 {
            left: percentage((8 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-pull-9 {
            left: percentage((9 / $grid-columns));
            right: inherit;
        }
        .vc_col-lg-pull-10 {
            left: percentage((10/ $grid-columns));
            right: inherit;
        }
        .vc_col-lg-pull-11 {
            left: percentage((11/ $grid-columns));
            right: inherit;
        }

        // Offsets
        .vc_col-lg-offset-0 {
            margin-left: 0;
            margin-right: inherit;
        }
        .vc_col-lg-offset-1 {
            margin-left: percentage((1 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-lg-offset-2 {
            margin-left: percentage((2 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-lg-offset-3 {
            margin-left: percentage((3 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-lg-offset-4 {
            margin-left: percentage((4 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-lg-offset-5 {
            margin-left: percentage((5 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-lg-offset-6 {
            margin-left: percentage((6 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-lg-offset-7 {
            margin-left: percentage((7 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-lg-offset-8 {
            margin-left: percentage((8 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-lg-offset-9 {
            margin-left: percentage((9 / $grid-columns));
            margin-right: inherit;
        }
        .vc_col-lg-offset-10 {
            margin-left: percentage((10/ $grid-columns));
            margin-right: inherit;
        }
        .vc_col-lg-offset-11 {
            margin-left: percentage((11/ $grid-columns));
            margin-right: inherit;
        }
    }
}

/**
 * VC internal Elements
 */
.wpb_column {
    z-index: 2;
}

.vc_col-has-fill {
    z-index: 1;
}

.vc_row {
    &.vc_row-o-full-height {
        min-height: 100vh;
    }

    // enable flex
    &.vc_row-flex .container, .container-full {
        .row_no_padding, .row {
            box-sizing: border-box;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            > .vc_column_container {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                > .vc_column-inner {
                    -webkit-box-flex: 1;
                    -webkit-flex-grow: 1;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    @media (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        /* IE10+ specific styles */
                        & > * {
                            min-height: 1em;
                        }
                    }
                }
            }

        }

        &::before,
        &::after {
            display: none;
        }
    }

    // columns alignment
    &.vc_row-o-columns-stretch {
        .container, .container-full {
            .row_no_padding, .row {
                -webkit-align-content: stretch;
                -ms-flex-line-pack: stretch;
                align-content: stretch;
            }
        }
    }
    &.vc_row-o-columns-top {
        .container, .container-full {
            .row_no_padding, .row {
                -webkit-align-content: flex-start;
                -ms-flex-line-pack: start;
                align-content: flex-start;
            }
        }
    }
    &.vc_row-o-columns-bottom {
        .container, .container-full {
            .row_no_padding, .row {
                -webkit-align-content: flex-end;
                -ms-flex-line-pack: end;
                align-content: flex-end;
            }
        }
    }
    &.vc_row-o-columns-middle {
        .container, .container-full {
            .row_no_padding, .row {
                -webkit-align-content: center;
                -ms-flex-line-pack: center;
                align-content: center;
            }
        }
    }
    &.vc_row-o-columns-top,
    &.vc_row-o-columns-bottom,
    &.vc_row-o-columns-middle {
        .container, .container-full {
            .row_no_padding, .row {
                &::after {
                    content: '';
                    width: 100%;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                    display: block;
                }
            }
        }
    }

    // equal height
    &.vc_row-o-equal-height {
        .container, .container-full {
            .row_no_padding, .row {
                > .vc_column_container {
                    -webkit-box-align: stretch;
                    -webkit-align-items: stretch;
                    -ms-flex-align: stretch;
                    align-items: stretch;
                }
            }
        }
    }

    // content alignment
    &.vc_row-o-content-top {
        .container, .container-full {
            .row_no_padding, .row {
                > .vc_column_container {
                    > .vc_column-inner {
                        -webkit-box-pack: start;
                        -webkit-justify-content: flex-start;
                        -ms-flex-pack: start;
                        justify-content: flex-start;
                    }
                }
            }
        }
        &:not(.vc_row-o-equal-height) {
            .container, .container-full {
                .row_no_padding, .row {
                    > .vc_column_container {
                        -webkit-box-align: start;
                        -webkit-align-items: flex-start;
                        -ms-flex-align: start;
                        align-items: flex-start;
                    }
                }
            }
        }
    }
    &.vc_row-o-content-bottom {
        .container, .container-full {
            .row_no_padding, .row {
                > .vc_column_container {
                    > .vc_column-inner {
                        -webkit-box-pack: end;
                        -webkit-justify-content: flex-end;
                        -ms-flex-pack: end;
                        justify-content: flex-end;
                    }
                }
            }
        }
        &:not(.vc_row-o-equal-height) {
            .container, .container-full {
                .row_no_padding, .row {
                    > .vc_column_container {
                        -webkit-box-align: end;
                        -webkit-align-items: flex-end;
                        -ms-flex-align: end;
                        align-items: flex-end;
                    }
                }
            }
        }
    }
    &.vc_row-o-content-middle {
        .container, .container-full {
            .row_no_padding, .row {
                > .vc_column_container {
                    > .vc_column-inner {
                        -webkit-box-pack: center;
                        -webkit-justify-content: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                    }
                }
            }
        }
        &:not(.vc_row-o-equal-height) {
            .container, .container-full {
                .row_no_padding, .row {
                    > .vc_column_container {
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

.vc_row {
    &.vc_row-flex {
        .container, .container-full {
            .row_no_padding, .row {
                > .vc_vc_column,
                > .vc_vc_column_inner {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;

                    > .vc_column_container {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        width: 100%;
                        > .vc_column-inner {
                            -webkit-box-flex: 1;
                            -webkit-flex-grow: 1;
                            -ms-flex-positive: 1;
                            flex-grow: 1;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -webkit-flex-direction: column;
                            -ms-flex-direction: column;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }

    // equal height
    &.vc_row-o-equal-height {
        .container, .container-full {
            .row_no_padding, .row {
                > .vc_column_container {
                    -webkit-box-align: stretch;
                    -webkit-align-items: stretch;
                    -ms-flex-align: stretch;
                    align-items: stretch;
                }
            }
        }
    }

    // content alignment
    &.vc_row-o-content-top {
        .container, .container-full {
            .row_no_padding, .row {
                > .vc_vc_column,
                > .vc_vc_column_inner {
                    > .vc_column_container {
                        > .vc_column-inner {
                            -webkit-box-pack: start;
                            -webkit-justify-content: flex-start;
                            -ms-flex-pack: start;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
        &:not(.vc_row-o-equal-height) {
            .container, .container-full {
                .row_no_padding, .row {
                    > .vc_vc_column,
                    > .vc_vc_column_inner {
                        > .vc_column_container {
                            -webkit-box-align: start;
                            -webkit-align-items: flex-start;
                            -ms-flex-align: start;
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
    }
    &.vc_row-o-content-bottom {
        .container, .container-full {
            .row_no_padding, .row {
                > .vc_vc_column,
                > .vc_vc_column_inner {
                    > .vc_column_container {
                        > .vc_column-inner {
                            -webkit-box-pack: end;
                            -webkit-justify-content: flex-end;
                            -ms-flex-pack: end;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
        &:not(.vc_row-o-equal-height) {
            .container, .container-full {
                .row_no_padding, .row {
                    > .vc_vc_column,
                    > .vc_vc_column_inner {
                        > .vc_column_container {
                            -webkit-box-align: end;
                            -webkit-align-items: flex-end;
                            -ms-flex-align: end;
                            align-items: flex-end;
                        }
                    }
                }
            }
        }
    }
    &.vc_row-o-content-middle {
        > .vc_vc_column,
        > .vc_vc_column_inner {
            > .vc_column_container {
                > .vc_column-inner {
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                }
            }
        }
        &:not(.vc_row-o-equal-height) {
            .container, .container-full {
                .row_no_padding, .row {
                    > .vc_vc_column,
                    > .vc_vc_column_inner {
                        > .vc_column_container {
                            -webkit-box-align: center;
                            -webkit-align-items: center;
                            -ms-flex-align: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

/**
 */
.noborder {
    .pbr-category-filter {
        border-right: 0;
    }
}

.pbr-category-filter {
    .category-filter-link {
        display: none;
    }
    &.category-filter-default {
        background: #000 none repeat scroll 0 0;
        cursor: pointer;
        max-height: 360px;
        max-width: 962px;
        min-width: 320px;
        overflow: hidden;
        position: relative;
        text-align: center;
        small {
            display: none;
        }
        .img {
            display: block;
            max-width: 100%;
            min-height: 100%;
            opacity: 0.8;
            position: relative;
            transform: scale(1.12);
            transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
        }
        h4 {
            top: 120px;
            transform: translate3d(0px, 0px, 0px);
            transition: transform 0.35s ease 0s;
            left: 30px;
            padding: 10px 0;
            position: absolute;
            right: 30px;
            color: $white;
            letter-spacing: 2px;
            font-size: 48px;
            font-family: $font-family-second;
            span {
                display: inline-block;
                position: relative;
                &:after {
                    background: #ffffff none repeat scroll 0 0;
                    content: "";
                    height: 2px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    position: absolute;
                    bottom: 0;
                    transform: translate3d(0px, 10px, 0px);
                    width: 100%;
                    opacity: 0;
                    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
                }
            }
        }
        .category-caption {
            backface-visibility: hidden;
            color: #ffffff;
            font-size: 1.25em;
            padding: 2em;
            text-transform: uppercase;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            padding: 3em;
            &:before {
                background: rgba(0, 0, 0, 0.4);
                bottom: 30px;
                content: "";
                left: 30px;
                position: absolute;
                right: 30px;
                top: 30px;
                transform: scale(1.1);
                opacity: 0;
                transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
            }
        }
        .category-filter-content {
            margin: 0 auto;
            transform: translate3d(0px, 200px, 0px);
            opacity: 0;
            transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
        }
        &:hover {
            img {
                opacity: 0.5;
                transform: scale(1);
            }
            h4 {
                transform: translate3d(0px, -50px, 0px);
                span {
                    &:after {
                        opacity: 1;
                        transform: translate3d(0px, 15px, 0px);
                    }
                }
            }
            .category-caption {
                &:before {
                    opacity: 1;
                    transform: scale(1);
                }
            }
            .category-filter-content {
                opacity: 1;
                transform: translate3d(0px, 120px, 0px);
            }
            .category-filter-list {
                li {
                    @include opacity(1);
                    bottom: 0;
                }
            }
        }
        .category-filter-list {
            li {
                display: inline-block;
                margin: 0 10px;
                @include transition-property(all);
                @include transition-duration(0.35s);
                @include opacity(0);
                position: relative;
                bottom: -50px;
                a {
                    font-size: 12px;
                    color: $white;
                    text-transform: uppercase;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            li:nth-child(1) {
                @include transition-delay(0.1s, 0s);
            }
            li:nth-child(2) {
                @include transition-delay(0.2s, 0s);
            }
            li:nth-child(3) {
                @include transition-delay(0.3s, 0s);
            }
            li:nth-child(4) {
                @include transition-delay(0.4s, 0s);
            }
            li:nth-child(5) {
                @include transition-delay(0.5s, 0s);
            }
        }
    }
    &.category-filter-v1 {
        text-align: center;
        &:before {
            background-color: $border-color;
            content: "";
            height: 95px;
            left: 0;
            position: absolute;
            top: 28%;
            width: 1px;
        }
        .category-filter-content {
            display: block;
            left: 0;
            right: 0;
            position: absolute;
            top: 0;
            transition: all 0.4s ease 0s;
            width: 60%;
            margin: 0 auto;
            z-index: 1;
            min-height: 228px;
            border: 1px solid transparent;
            ul {
                left: 0;
                margin: 0 auto;
                opacity: 0;
                padding: 0 20px;
                position: absolute;
                right: 0;
                top: 80px;
                transition: all 400ms ease 0s;
            }
        }
        .filter-head {
            margin-bottom: 40px;
        }
        h4 {
            font-size: 14px;
            margin-top: 20px;
        }
        .category-image {
            margin-top: 100px;
        }
        small {
            position: relative;
            &:before {
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 40px;
                height: 3px;
                background-color: $border-color;
                bottom: -20px;
            }
        }
        &:hover {
            .category-filter-content {
                background: #ffffff none repeat scroll 0 0;
                border-color: #000;
                top: 0;
                height: auto;
                a {
                    font-size: 11px;
                    text-transform: uppercase;
                }
                ul {
                    opacity: 1;
                    top: 100px;
                }
                h4 {
                    color: $theme-color;
                    cursor: pointer;
                }
            }
        }
    }
}

.wpb_column {
    &:first-child {
        .pbr-category-filter.category-filter-v1 {
            &:before {
                content: none;
            }
        }
    }
}

/**
 *
 */
.widget-text-heading {
    .subtitle {
        letter-spacing: 6px;
        font-size: 14px;
        font-family: $headings-font-family;
        color: $theme-color-secondary;
    }
    .widget-heading {
        position: relative;
        z-index: 3;
        margin: 20px 0 35px;
        color: $theme-color;
    }
    .description {
        margin: 0 0 45px;
    }
    &.heading-style1 {
        .subtitle, .widget-heading {
            color: $white;
        }
    }
    &.heading-style2 {
        .subtitle, .widget-heading {
            color: $white;
        }
        .subtitle {
            font-size: 24px;
            font-family: $font-family-base;
            font-weight: 100;
            letter-spacing: 0;
        }
        .widget-heading {
            margin: 0 0 25px;
            font-size: 100px;
        }
        @media (max-width: 980px) {
            .widget-heading {
                font-size: 80px;
            }
        }
        @media (max-width: $screen-phone) {
            .widget-heading {
                font-size: 50px;
            }
            .subtitle {
                line-height: 1.4;
            }
        }
    }
    &.heading-style3 {
        .widget-heading {
            font-size: 36px;
            margin: 5px 0 25px;
        }
    }
    &.heading-style4 {
        .subtitle {
            letter-spacing: 0;
            font-size: 36px;
            line-height: 36px;
            font-family: $font-family-italic;
            color: $text-color;
            @media (max-width: $screen-md-max) {
                font-size: 27px;
                line-height: 27px;
            }
        }
        .widget-heading {
            font-size: 48px;
            line-height: 60px;
            margin: 14px 0 37px;
            color: $theme-color-second ;
            font-family: $font-family-bold;
            letter-spacing:-2px;
            @media (max-width: $screen-md-max) {
                font-size: 36px;
                line-height: 45px;
                margin-bottom: 15px;
            }
        }
        .description {
            margin: 0 ;
            line-height: 36px;
        }
    }
    &.heading-style5 {
        background: $white;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 99;
        padding: 100px 120px;
        transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        @media (max-width: $screen-md-max) {
            padding: 20px;
        }
        @media (max-width: $screen-sm-max) {
            position: static;
            padding: 0;
            margin-bottom: 40px;
            display: block;
            transform: translateX(0) translateY(0);
            -o-transform: translateX(0) translateY(0);
            -moz-transform: translateX(0) translateY(0);
            -webkit-transform: translateX(0) translateY(0);
        }
        .subtitle {
            letter-spacing: 0;
            font-size: 36px;
            line-height: 36px;
            font-family: $font-family-italic;
            color: $text-color;
            @media (max-width: $screen-md-max) {
                font-size: 27px;
                line-height: 27px;
            }
        }
        .widget-heading {
            font-size: 48px;
            line-height: 60px;
            margin: 14px 0 0;
            color: $theme-color-second ;
            font-family: $font-family-bold;
            letter-spacing:-2px;
            @media (max-width: $screen-md-max) {
                font-size: 36px;
                line-height: 45px;
                margin-bottom: 15px;
            }
        }
        .description {
            margin: 14px 0 0 ;
            line-height: 36px;
        }
    }
    @media (max-width: 1024px) {
        .widget-heading {
            font-size: 50px;
        }
    }
    @media (max-width: 980px) {
        .subtitle {
            font-size: 12px;
            letter-spacing: 3px;
        }
        .widget-heading {
            font-size: 40px;
        }
    }
    @media (max-width: $screen-phone) {
        .widget-heading {
            margin-top: 5px;
            font-size: 34px;
        }
    }
}

.vc_btn3-container {
    margin-bottom: 20px !important;
}
.vc_btn3 {
    font-weight: 500 !important;
}

.btn-primary {
    .vc_btn3.vc_btn3-size-lg {
        font-size: 12px;
        font-weight: 500;
        padding: 20px 40px;
    }
}

.vc_row-no-padding {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

/**
 * Product Tabs Widgets
 */
.widget-productcats {
    .widget-heading {
        h3 {
            margin: 10px 0 0;
        }
        .sub-categories {
            padding-top: 20px;
            a {
                color: #888;
                font-size: 95%
            }
        }
    }
}

.wpb_flickr_widget {
    text-align: center;
    .wpb_wrapper {
        margin-top: -20px;
    }
    .wpb_flickr_heading {
        font-size: 18px;
    }
    .flickr_badge_image {
        float: none;
        display: inline-block;
        margin: 20px 10px 0;
        @include size(120px, 120px);
    }
    .flickr_stream_wrap {
        display: none;
    }
}

.vc_grid-item {
    .vc_separator {
        display: none;
    }
    .vc_grid-item-mini {
        .vc_gitem-zone {
            .vc_gitem-zone-mini {
                .vc_gitem_row .vc_gitem-col {
                    padding: 15px 20px 20px;
                    .vc_custom_heading {
                        margin: 0;
                        padding: 0;
                        h1, h2, h3, h4, h5, h6 {
                            font-size: 14px;
                        }
                    }
                    .vc_gitem-post-data-source-post_excerpt {
                        max-height: 95px;
                        overflow: hidden;
                    }
                    .vc_btn3.vc_btn3-size-md {
                        padding: 10px 20px;
                        border: none !important;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .vc_grid-item-mini{
        padding: 5px;
        &.vc_is-hover .vc_gitem-zone-b{
            opacity: 1 !important;
        }
        .vc_gitem-zone-b{
            @include transition(all 0.45s ease);
            background: rgba(0,0,0,0.5);
            top: 0 !important;
            opacity: 0;
        }
        .vc_icon_element.vc_icon_element-outer {
            margin: 0;
            .vc_icon_element-inner.vc_icon_element-size-md {
                width: 62px;
                height: 62px;
                border: 0;
                line-height: 62px!important;
                background: rgba(0,0,0,0.6);
                @include transition(all 0.3s ease);
                @include border-radius(50%);
                &:hover{
                    background: $theme-color !important;
                }
                .vc_icon_element-icon{
                    font-size: 18px !important;
                }
            }
        }
    }
}

/**
 * Styles for progress bar
 */

.vc_progress_bar {
    margin-top: 40px;
    .vc_single_bar {
        margin-bottom: 30px !important;
        .vc_bar {
            background-color: rgba(0, 0, 0, 0);
            border-radius: 0;
            height: 20px;
        }
        .vc_label {
            margin: 0;
            padding: 0 !important;
            position: absolute;
            top: -25px;
            height: 20px;
            .vc_label_units {
                float: left;
                color: red;
                margin: 0 10px 0 0;
                font-weight: bold;
            }
        }
    }
}

//.vc_tta-container {
//    h2 {
//        margin-top: 0;
//    }
//}

/*------------------------------------------------------------------
[# Toggles]
-------------------------------------------------------------------*/
.vc_toggle_default{
    padding-bottom: 0 !important;
    &.vc_toggle_size_md{
        .vc_toggle_title{
            padding-left: 40px !important;
            @include flexbox();
            align-items: center;
            min-height: 80px;
            @media (max-width: $screen-xs-max){
                min-height: 50px;
            }
            h4{
                font-size: 20px;
                display: block;
                margin: 0;
            }
            .vc_toggle_icon{
                width: 12px;
                height: 12px;
                background: transparent;
                border: 0;
                margin-left: 0;
                &:before{
                    width: 2px;
                    height: 12px;
                    background: #000;
                    border-color: #000;
                }
                &:after{
                    height: 2px;
                    width: 12px;
                    background: #000;
                }
            }
        }
        .vc_toggle_content{
            margin-top: 0;
            padding-left: 40px !important;
            padding-top: 0;
            padding-bottom: 50px;
            font-size: 16px;
            line-height: 30px;
            font-weight: 300;
            p{
                margin: 0;
            }
            span{
              display: inline-block;
              margin-bottom: 20px;
            }
        }
        &.vc_toggle_active{
            .vc_toggle_icon{
                &:after{
                    visibility: visible;
                    background: $theme-color;
                }
            }
        }
    }    
}

/*------------------------------------------------------------------
pbr-our-team
-------------------------------------------------------------------*/
.pbr-our-team {
    position: relative;
    text-align: center;
    .team-footer {
        background-color: $white;
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 100%;
    }
    h5 {
        margin: 20px 0 10px;
    }
    p {
        color: $theme-color-secondary;
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 15px;
    }
    img {
        display: inline-block;
    }
    .list-inline{
        display: none;
    }
    &.version2{
        .zoom-2 {
            img{
                @icnlude transition(all 0.3s ease);
            }
            &:hover {
                img {
                    @include scale(1);
                    @include opacity(0.5);
                }
            }
        }
        .team-image{
            position: relative;
            .list-inline{
                display: block;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 30px;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                height: 50px;
                li{
                    padding: 0;
                    margin: 0 1px;
                    @include scale(0);
                    visibility: hidden;
                    @include transition(all 0.3s ease);
                    a{
                        font-size: 16px;
                        background: $theme-color;
                        color: $white;
                        height: 50px;
                        width: 50px;
                        line-height: 50px;
                        @include border-radius(50%);
                        @include transition(all 0.3s ease);
                        &:hover{
                            background: $theme-color-second;
                        }
                    }
                }
            }
        }
        .team-footer {
            background-color: transparent;
            position: static;
        }
        h5 {
            font-family: $font-family-bold;
            font-size: 24px;
            margin-top: 33px;
            margin-bottom: 0;
        }
        p {
            font-family: $font-family-bold;
            font-size: 14px;
            margin-bottom: 0;
            color: $theme-color;
        }
        &:hover {
            .list-inline{
                li{
                    @include scale(1);
                    visibility: visible;
                }
            }
        }
    }
}

/*
 * Single Image 
 */
.wpb_single_image {

    position: relative;
    text-transform: uppercase;

    .wpb_heading {
        background: #FFF;
        opacity: 0.8;
        padding: 4px 6px;
        top: 10%;
        left: 20px;
        color: #000;
        font-size: 90%;
        font-weight: normal;
        position: absolute;
    }
    .description {
        position: absolute;
        top: 40%;
        left: 20px;
        max-width: 90%;
        span {
            font-weight: bold;
        }
    }
}

/*------------------------------------------------------------------
VC Tab
-------------------------------------------------------------------*/
.vc_tta-style-opal-style {
    .vc_tta-tabs-container {
        background-color: $white;

    }
    .vc_tta-panels-container {
        padding-top: $grid-gutter-width;
    }
    .woocommerce {
        margin-right: -20px;
        margin-left: -20px;
    }
}

.vc_tta-style-opal-style-2 {
    .vc_tta-tabs-container {
        border-bottom: 1px solid $border-color;

    }
    .woocommerce {
        margin-right: -20px;
        margin-left: -20px;
    }
}


.wpb-js-composer{
    .vc_tta.vc_tta-style-opal-style_v2{
        .vc_tta-tabs-container{
            .vc_tta-tabs-list{
                margin: 0;
                margin-bottom: 65px;
            }
            .vc_tta-tab{
                margin: 0 5px;
                >a{
                    border: 0;
                    background: transparent;
                    line-height: 24px;
                    font-family: $font-family-bold;
                    text-transform: uppercase;
                    padding: 13px 28px;
                    border-radius: 30px !important;
                    -moz-border-radius: 30px !important;
                    -o-border-radius: 30px !important;
                    -webkit-border-radius: 30px !important;
                    @include transition(all 0.3s ease);
                    &:before,&:after{
                        display: none;
                    }
                    &:hover{
                        background: $theme-color;
                        color: $white;
                    }
                }
                &.vc_active{
                    >a{
                        background: $theme-color;
                        color: $white;
                    }
                }
            }
        }
        .vc_tta-panels-container{
            .vc_tta-panel-heading{
                margin-top: 30px !important;
                margin-bottom: 30px !important;
                .vc_tta-panel-title{
                    >a{
                        color: $theme-color;
                        padding: 0;
                        @include transition(all 0.3s ease);
                    }
                }
            }
            .vc_tta-panel-body{
                padding: 0;
                border: 0;
            }
        }
    }
    .vc_tta.vc_tta-style-opal-style_v3{
        .vc_tta-tabs-container{
            margin-right: 0 !important;
            .vc_tta-tabs-list{
                margin: 0;
                margin-bottom: 45px;
                padding-bottom: 15px;
                border-bottom:1px solid $border-color;
            }
            .vc_tta-tab{
                margin-right: 30px;
                >a{
                    border: 0;
                    background: transparent;
                    font-size: 18px;
                    line-height: normal;
                    font-family: $font-family-bold;
                    padding: 0;
                    @include transition(all 0.3s ease);
                    &:before,&:after{
                        display: none;
                    }
                    &:hover{
                        color: $black;
                        font-size: 30px;
                    }
                }
                &.vc_active{
                    >a{
                        color: $black;
                        font-size: 30px;
                    }
                }
            }
        }
        .vc_tta-panels-container{
            .vc_tta-panel-body{
                padding: 0;
                border: 0;
            }
        }
    }
    .vc_tta.vc_tta-style-opal-style_v4{
        .vc_tta-tabs-container{
            margin-bottom: 30px !important;
            .vc_tta-tabs-list{
                border-bottom: 1px solid $border-color;
                margin-left: 0;
                margin-right: 0;
                .vc_tta-tab{
                    margin: 0;
                    margin-bottom: -1px;
                    margin-right: 70px;
                    border-bottom: 4px solid transparent;
                    >a{
                        border: 0;
                        color: $text-color;
                        padding: 20px 0;
                        text-transform: uppercase;
                        font-size: 14px;
                        letter-spacing: 3px;
                        font-family: $font-family-bold;
                        &:hover{
                          color: $theme-color;
                          background: transparent
                        }
                    }
                    &.vc_active{
                        border-bottom: 4px solid $theme-color;
                        >a{
                            color: $theme-color;
                            background: transparent
                        }
                    }
                }
            }
        }
        .vc_tta-panels-container{
            .vc_tta-panels{
                border: 0;
                background: transparent;
                .vc_tta-panel{
                    margin: 0;
                    .vc_tta-panel-heading{
                        margin-top: 30px !important;
                        margin-bottom: 30px !important;
                        .vc_tta-panel-title{
                            >a{
                                color: $theme-color;
                                padding: 0;
                                @include transition(all 0.3s ease);
                            }
                        }
                    }
                    .vc_tta-panel-body{
                        padding: 0;
                    }
                }
            }
        }
    }
}



.wpb-js-composer {
    .vc_tta.vc_general .vc_tta-panel-title {
        font-size: 20px;
    }
    .vc_tta.vc_general .vc_tta-tab > a {
        font-weight: 400;
    }
    .vc_tta.vc_general.vc_tta-style-opal-style {
        .vc_tta-tabs-list {
            border-bottom: 1px solid $border-color;
        }
        .vc_tta-tab {
            margin: 0 45px;
            > a {
                font-size: 14px;
                border: none;
                font-family: $headings-font-family;
                padding: 15px 0;
                &:before {
                    content: "";
                    background-color: $theme-color;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right:100%;
                    height: 4px;
                    @include transition(.3s);
                }
            }
            &.vc_active {
                > a {
                    color: $theme-color;
                    &:before {
                        right: 0;
                        display: inline;
                        width: auto;
                        height: 4px;
                    }
                }
            }
            &:first-child {
                margin-left: 1px;
            }
            @media (max-width: 1024px) {
                margin: 0 30px;
            }
        }
        .vc_tta-panel-body {
            padding: 0;
            border: none;
        }
    }
    .vc_tta.vc_general.vc_tta-style-opal-style-2 {
        .vc_tta-tab {
            > a {
                font-weight: 500;
                font-size: 18px;
                padding: 30px;
            }
            &.vc_active {
                > a {
                    color: $theme-color;
                }
            }
        }
    }
    .vc_tta-container {
        margin-bottom: 0;
    }
}

.wpb-js-composer .vc_tta .otf_custom_tabs {
    display: flex;
    align-items: stretch;
    .vc_custom_heading {
        display: flex;
        align-items: center;
        margin-right: 20px;
        overflow: visible;
        position: relative;
        h4 {
            position: static;
            margin: 0;
            &:before, &:after {
                bottom: 0;
                transform: translateX(0);
                background-color: $theme-color;
            }
        }
        + .vc_tta-tabs-list {
            flex: 1;
        }
    }
}

.vc_custom_heading > *:before,
.vc_custom_heading > *:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    z-index: 2;
}



//googlemap
.wpb_gmaps_widget .wpb_wrapper {
    padding: 0 !important;
}


/* Custom Heading */
.vc_custom_heading {
    &.link {
        a {
            color: $theme-color-secondary !important;
            font-size: 12px;
            letter-spacing: 3px;
            position: relative;
            padding-left: 100px;
            &:before {
                content: "";
                height: 1px;
                width: 70px;
                background-color: $theme-color-secondary;
                position: absolute;
                top: 50%;
                left: 0;
            }
        }
    }
}

/* image_grid*/
.pbr-footer {
    .wpb_image_grid {
        position: relative;
        .wpb_image_grid_ul {
            justify-content: space-around;
            display: inline-block;
            li {
                @include flexbox;
                align-self: center;
                left: 0 !important;
                position: relative !important;
                margin: 0 !important;
                top: 0 !important;
                width: 33% !important;
                padding: 8px;
                background-color: transparent;
            }
        }
    }
}

/* image_grid*/
.wpb_image_grid .wpb_image_grid_ul {
    @media (min-width: $screen-sm) {
        @include flexbox;
        justify-content: space-around;
    }
    li {
        align-self: center;
        left: 0 !important;
        position: relative !important;
        margin: 0 !important;
        top: 0 !important;
        background-color: #000;
        @media (max-width: $screen-xs) {
            width: 50% !important;
            margin: 15px !important;
        }
        img {
            width: 100%;
            @include opacity(0.85);
        }
        &:hover {
            img {
                @include opacity(1);
            }
        }
    }
}

/* slide custom */
.slide-element .rev_slider {
    >ul{
        overflow: visible !important;
    }
    li.tp-revslider-slidesli {
        overflow: visible !important;
    }
}