/* block */

.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;
    position: relative;
    z-index: 1;
    padding: $block-module-padding;
    background: transparent;
    border-width: 0px;
    border-style: solid;
    .#{$block-heading-selector} {
        color: $block-module-heading-color;
        padding: $block-module-heading-padding;
        margin: $block-module-heading-margin;
        text-transform: $block-module-heading-transform;
        font-size: $block-module-heading-font-size;
        font-family: $block-module-heading-font-family;
        position: relative;
        z-index: 10;
        letter-spacing: 3px;
        text-transform: uppercase;
        border-bottom: 1px solid $border-color;
        .subtitle {
            font-weight: normal;
            font-size: 11px;
            text-transform: none;
            &:before {
                display: none
            }
        }
    }
    .widget-title-v2 {
        border-top: 1px solid $border-color;
        > span {
            background: $white;
            position: relative;
            top: -10px;
            padding: 0 20px;
        }
    }
    .#{$block-content-selector} {
        @include border-radius ($block-module-content-radius);
        @include clearfix();
        background-color: $block-module-content-bg;

    }
    .#{$block-heading-reversed-selector} {
        margin-right: 75px;
    }

    /* block styles */
    &.nopadding {
        .#{$block-content-selector} {
            padding: 0;
            margin: 0;
        }
    }

}

// Contextual variations

.#{$block-prefix}-default {
    @include block-variant($panel-default-border, $panel-default-text, #000, $panel-default-border);
}

.#{$block-prefix}-primary {
    @include block-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}

.#{$block-prefix}-success {
    @include block-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}

.#{$block-prefix}-info {
    @include block-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}

.#{$block-prefix}-warning {
    @include block-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}

.#{$block-prefix}-danger {
    @include block-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}

.sidebar {
    .#{$block-selector} {
        .#{$block-heading-selector} {
            
        }
    }

}

/**
 * Styling Css for widgets in footer layout
 */
.pbr-footer {
    .#{$block-selector} {
        .#{$block-heading-selector} {
            font-size: 18px;
            border: none;
            margin-bottom: 0;
            & > span {
                padding: 0px 0px;
                &:before {
                    content: none;
                }
            }
        }
    }
    ul li {
        font-size: 16px;
    }
}
.footer-1{
    .widget-footer {
        &.widget_nav_menu ul {
            li {
                @extend .col-xs-6;
            }
        }
    }
}
.widget-footer {
    margin-bottom: 30px;
    .widget-title {
        font-size: 14px;
        color: $theme-color-secondary;
        padding: 0;
        margin-bottom: 30px;
        margin-top: 0;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    &.widget_product_categories ul,
    &.widget_categories ul,
    &.widget_layered_nav ul,
    &.widget_layered_nav_filters ul,
    &.widget_nav_menu ul {
        @extend .row;
        margin-top: -5px;
        li {
            border: none;
            padding-top: 5px;
            padding-bottom: 5px;
            @extend .col-xs-12;
        }
    }
}

.title-heading {
    text-transform: uppercase;
    color: $theme-color-secondary;
    margin-bottom: 30px;
    margin-top: 0;
    letter-spacing: 3px;
}