
.pbr-newsletter {
    border-top: 1px solid $border-color;
    margin-top: 30px;
}

/* List Style Widgets*/

.widget_archive a,
.widget_recent_entries a,
.widget_recent_comments a:first-child,
.widget_layered_nav a,
.widget_categories a,
.widget_meta a,
.widget_pages a {
    position: relative;
    padding-left: 20px;
    display: inline-block;
}

.widget_recent_comments span {
    padding-left: 20px;
}

.widget_archive a:before,
.widget_recent_entries a:before,
.widget_recent_comments a:before,
.widget_layered_nav a:before,
.widget_categories a:before,
.widget_meta a:before,
.widget_pages a:before {
    position: absolute;
    left: 0;
    top: 8px;
    font-family: "FontAwesome";
    color: $text-color;
    font-size: 7px;
}
.widget_recent_comments a:before {
    left: -20px;
    top: 3px;
}

.widget_archive a:before,
.widget_categories a:before,
.widget_meta a:before,
.widget_pages a:before,
.widget_recent_comments a:first-child:before,
.widget_recent_entries a:before,
.widget_recent_entries a:before {
    content: "\f10c"
}

.widget_layered_nav a:before {
    content: "\f0da"
}

.widget_archive > ul,
.widget_categories > ul,
.widget_links > ul,
.widget_meta > ul,
.widget_pages > ul,
.widget_recent_comments > ul,
.widget_recent_entries > ul,
.widget_rss > ul {
    padding-left: 0;
    margin-bottom: 0;
}
.widget_archive ul,
.widget_categories ul,
.widget_links ul,
.widget_meta ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_rss ul {
    list-style: none;
    li {
        padding: 5px 0;
        font-size: 14px;
        font-weight: 500;
        &:first-child {
            padding-top: 0;
        }
    }
}

.widget_categories li ul,
.widget_pages li ul {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 9px;
    padding-left: 20px;
}

.widget_categories li li:last-child,
.widget_pages li li:last-child {
    padding-bottom: 0;
}

.widget_nav_menu,
.widget_pbr_menu_vertical {
    ul.menu,
    ul.navbar-nav {
        list-style: none;
        padding:0;
        margin:0;
        a {
            font-size: 14px;
            font-weight: 400;
            color: $text-color;
            &:hover {
                color: $black;
            }
        }
        ul{
            padding-left: $theme-padding/2;
            li {
                &:last-child {
                    border-bottom: none;
                }
                &:hover {
                    border-color: $theme-color;
                }
            }
        }
        li {
            border-bottom: 1px solid $border-color;
            @include transition(.3s);
        }
        > li {
            padding-top: 8px;
            padding-bottom:8px;
            &:before {
                font-family: FontAwesome;
                content: "\f105";
                color: $theme-color;
                position: absolute;
                left: 0;
                top: 50%;
                @include translate(0,-50%);
            }
            &:first-child {
                padding-top: 0;
            }
            &:hover {
                border-color: $theme-color;
            }
        }
    }
}

.widget_nav_menu {
    ul.menu {
        > li {
            position: relative;
            &:before {
                @include translate(0,0);
                top: 3px;
            }
        }
    }
}

.widget {
    select {
        border: 1px solid $border-color;
        padding: 5px 15px;
        width: 100%;
        -webkit-appearance:none;
        -moz-appearance:none;
    }
}

#wp-calendar #today {
    color: $theme-color;
    font-weight: 700;
}

.widget_recent_comments {
    .comment-author-link {
        color: $theme-color;
    }
}

.pbr-search.input-group {
    input.fa {
        background: none;
        border: none;
    }
}

/* Recent Posts Widget */

.widget_recent_entries .post-date {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 5px;
    color: $theme-color;
}

.widget_pbr_recent_post {
    .post-widget {
        margin-top: 20px;
    }
    .item-post.media {
        border-top: 1px solid $border-color;
        padding-top: 20px;
        &:first-child {
            padding-top: 0;
            border-top: none;
        }
        a.image {
            width: 80px;
            padding-right: 15px;
        }
        .media-body {
            .entry-title {
                margin: -3px 0 0;
            }
            > p {
                display: none;
            }
        }
    }
    .post-stick-layout {
        .item-post.media.item-big {
            border-top: none;
            a.image {
                padding-right: 0;
                width: 100%;
                margin-bottom: 10px;
            }
            .entry-title {
                margin: 0 0 10px;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
            }
        }
        .item-post.media {
            padding-top: 15px;
            .media-body {
                .entry-title {
                    margin: 0 0 5px;
                }
            }
            .post-date {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 700;
                color: $theme-color;
            }
        }
    }
}

/* Search Widget */
.widget_search {
    .btn-search {
        input {
            border: none;
            background-color: transparent;
        }
    }
}

/* RSS Widget */

.rsswidget img {
    margin-top: -4px;
}

.rssSummary {
    margin: 9px 0;
}

.rss-date {
    display: block;
}

.widget_rss li {
    margin-bottom: 18px;
}

.widget_rss li:last-child {
    margin-bottom: 0;
}

/* Text Widget */

.widget_text > div > :last-child {
    margin-bottom: 0;
}

/* Calendar Widget*/
.widget_calendar {
    table {
        line-height: 2;
        margin: 0;
        width: 100%;
        font-size: 14px;
    }
    caption {
        color: $black;
        line-height: 1.7142857142;
        margin-top: 0;
        margin-bottom: 10px;
        text-align: left;
        font-weight: 500;
    }
    thead th {
        background: #f5f5f5;
    }
    tbody td, thead th {
        text-align: center;
        padding: 2px;
    }
    tbody a {
        background-color: $theme-color-secondary;
        color: #fff;
        display: block;
        &:hover {
            background-color: darken($theme-color-secondary,10%);
            color: #fff;
        }
    }
    tfoot {
        font-weight: 500;
    }
    #prev {
        padding-left: 5px;
    }
    #next {
        padding-right: 5px;
        text-align: right;
    }
}

/****/

.popupnewsletter {
    .btn-flying-right {
        position: fixed;
        top: 40%;
        right: 0;
        z-index: 99;
    }
    .modal {
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
        }
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
}

/**social**/
.widget_pbr_socials_widget {

    a {
        display: block;
        &:hover {
            i {
                color: $theme-color;
            }
        }
    }
    i {
        color: $white;
        transition: color 0.3s ease 0s;
    }
    .bo-sicolor {
        a {
            i {
                @include size(50px, 50px);
                line-height: 46px;
                text-align: center;
                font-size: 16px;
                border-radius: 50%;
                border: 2px solid rgba($white,.2);
                background-color: rgba($white,.2);
                display: block;
                &:hover {
                    border-color: $theme-color;
                    background-color: transparent;
                }
            }
            span {
                display: none;
            }
        }
    }
}

.pbr-featurebox {
    .row {
        padding: 50px;
        border: 1px solid $border-color;
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
            padding: 20px;
        }
    }
}

.widget-brand-logo {
    margin-bottom: 0;
    .owl-pagination {
        margin-top: 30px;
    }
    .owl-buttons{
        display: none;
    }
    .item-brand {
        position: relative;
        display: block;
        text-align: center;
        img {
            width: auto !important;
            text-align: center;
            display: inline-block !important;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: gray;
            @include opacity(1);
            @include transition(all 0.2s ease-in-out 0s);
        }
    }
    &:hover {
        .item-brand {
            img {
                @include opacity(0.5);
            }
            &:hover {
                img {
                    filter: grayscale(0%);
                    -webkit-filter: grayscale(0%);
                    -moz-filter: grayscale(0%);
                    -ms-filter: grayscale(0%);
                    -o-filter: grayscale(0%);
                    filter: none;
                    @include opacity(1);

                }
            }
        }
    }
}

// Widget On Sale
.woo-onsale {
    .onsale {
        display: none;
    }
    .product-sale-label {
        position: absolute;
        @include size(36px, 36px);
        background-color: #fb4949;
        color: #fff;
        top: 10px;
        right: 10px;
        @include border-radius(50%);
        line-height: 36px;
        font-size: 12px;
        font-weight: 400;
    }
}

// pbr-designs
.pbr-designs {
    .widget-content {
        background-color: #1d1d1d;
        .owl-item .item {
            padding: 0;
            .content {
                padding-top: 100px;
                padding-bottom: 100px;
                .design_title {
                    color: #fff;
                    margin-bottom: 70px;
                }
                .design_description {
                    color: #999;
                    font-size: 20px;
                    line-height: 32px;
                    margin-bottom: 70px;
                }
                .button-video {
                    .fa {
                        font-size: 16px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}

/* pbr-video-popup */
.pbr-video-popup {
    .video-popup {
        .button-video {
            display:inline-block;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            i {
                border: 5px solid #fff;
                line-height: 90px;
                width: 100px;
                @include border-radius(50%);
                margin: 0 0 30px;
                font-size: 30px;
            }
            span {
                display: block;
            }
            &:hover {
                border-color: $theme-color;
                color: $theme-color;
                i {
                    border-color: $theme-color;
                }
            }
        }
    }
    &.version2{
        text-align: center;
        margin: 0;
        .video-popup {
            .button-video {
                display: inline-flex;
                -o-display: inline-flex;
                -moz-display: inline-flex;
                -webkit-display: inline-flex;
                align-items: center;
                justify-content: center;
                i {
                    height: 100px;
                    line-height: 100px;
                    width: 100px;
                    margin: 0;
                    background: $theme-color;
                    color: $white;
                    border: 0;
                    display: block;
                    @include transition(all 0.3s ease);
                    &:before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        @include size(17px,22px);
                        background: url('#{$image-theme-path }video.png') center center no-repeat;
                    }
                }
                .subtitle-content,.title-content{
                    font-family: $font-family-bold;
                    font-size: 36px;
                    text-transform: capitalize;
                    letter-spacing: -0.5px;
                    margin: 0 25px;
                    color: $white !important;
                    @media (max-width: $screen-xs-max) {
                        display: none;
                    }
                }
                .icon{
                    position: relative;
                    &:before,&:after{
                        content: "";
                        position: absolute;
                        background: transparent;
                        @include border-radius(50%);
                        border: 2px solid rgba(255,255,255,0.08);
                        @include transition(all 0.3s ease);
                    }
                    &:before{
                        top: -20px;
                        left: -20px;
                        @include size(140px,140px);
                    }
                    &:after{
                        top: -60px;
                        left: -60px;
                        @include size(220px,220px);
                    }
                }
                &:hover{
                    i {
                        background: $theme-color-second;
                    }
                    .icon{
                        &:before,&:after{
                            top: -40px;
                            left: -40px;
                            @include size(180px,180px);
                            border: 1px solid rgba(255,255,255,0.08);
                        }
                    }
                }
            }
            .widget-content{
                color: $white;
                margin-top: 20px;
            }
        }
    }
}

/* widget Banner Info */
.widget-banner-info {
    .description {
        margin-bottom: 60px;
        position: relative;
        z-index: 3;
        ul {
            width: 100%;
            list-style: none;
            padding-left: 0;
            margin: 0;
            border: 2px solid rgba(#fff, 0.3);
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 50px 25px;
            position: relative;

            li {
                width: 50%;
                line-height: 30px;
                padding: 5px 25px;
                color: #fff;
                text-align: right;
                display: flex;
                span {
                    flex: 1;
                    display: flex;
                    &:after {
                        content: '';
                        border-top: dotted 1px rgba(#fff, 0.3);
                        height: 1px;
                        top: 50%;
                        flex: 1;
                        position: relative;
                        margin: 0 20px;
                    }
                }
            }
        }
    }
    .banner-img {
        position: relative;
        &:before {
            bottom: 0;
            background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.15) 20%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            background: -moz-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.15) 20%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            background: -webkit-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.15) 20%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            background: -ms-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.15) 20%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            transform: scale(3);
            content: "";
            height: 400px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 100%;
            width: 400px;
            z-index: 1;
        }
        img {
            z-index: 2;
            position: relative;
        }
    }
}

/* widget Banner Info */

.widget-banner-effect {
    @include flexbox;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    &:before {
        @include size(100%, 100%);
        position: absolute;
        content: "";
        background-color: rgba(#000, 0.1);
        -webkit-transition: all 1s; /* Safari */
        -ms-transition: all 1s;
        transition: all 1s;
    }
    > div {
        align-self: center;
        -webkit-align-self: center;
        -moz-align-self: center;
        -ms-align-self: center;
    }
    .banner-effect-content {
        position: absolute;
        margin: auto;
        padding: 0 15%;
        content: "";
        color: #fff;
        .widget-heading {
            color: #fff;
            font-size: 30px;
            margin: 15px 0 25px;
            -webkit-transition: all 2s; /* Safari */
            -ms-transition: all 2s;
            transition: all 2s;
            -ms-transform: scale(1); /* IE 9 */
            -webkit-transform: scale(1); /* Safari */
            transform: scale(1);
        }
        .description {
            -ms-transform: scale(0); /* IE 9 */
            -webkit-transform: scale(0); /* Safari */
            transform: scale(0);
            -webkit-transition: all 0; /* Safari */
            -ms-transition: all 0;
            transition: all 0;
            opacity: 0;
            filter: Alpha(opacity=0);
            visibility: hidden;
        }
    }
    &:hover {
        &:before {
            background-color: rgba(#000, 0.6);
            -webkit-transition: all 1s; /* Safari */
            -ms-transition: all 1s;
            transition: all 1s;
        }
        .widget-heading {
            -webkit-transition: all 2s; /* Safari */
            -ms-transition: all 2s;
            transition: all 2s;
            -ms-transform: scale(1.15); /* IE 9 */
            -webkit-transform: scale(1.15); /* Safari */
            transform: scale(1.15);
        }
        .description {
            -ms-transform: scale(1); /* IE 9 */
            -webkit-transform: scale(1); /* Safari */
            transform: scale(1);
            -webkit-transition: all 1s; /* Safari */
            -ms-transition: all 1s;
            transition: all 1s;
            opacity: 1;
            filter: Alpha(opacity=1);
            visibility: visible;
        }
    }
}

/* Banner Countdown */
.banner-countdown-widget {
    .banner-countdown-inner {
        color: #fff;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        padding: 20% 10%;
        h3 {
            color: #fff;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 1px;
            margin: 10px 0;
        }
        .heading-countdown {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        .viewall {
            margin-top: 20px;
            a {
                border: 1px solid #fff;
                color: #fff;
                text-transform: uppercase;
                line-height: 30px;
                font-weight: 500;
                padding: 0 20px;
                display: inline-block;
                font-size: 12px;
                letter-spacing: 1px;
            }
        }
    }
    .countdown-times {
        overflow: hidden;
        @include translate(0px, 0px);
        @include transition(all 0.4s ease);
        > div {
            margin: 5px 3px;
            padding: 20px 5px 15px;
            background-color: #fff;
            font-size: 10px;
            color: #898989;
            text-transform: normal;
            font-weight: 500;
            min-width: 65px;
            display: inline-flex;
            flex-direction: column;
            > b {
                font-size: 24px;
                line-height: 1;
                font-weight: 500;
                color: $theme-color;
            }
        }
    }
}

/*------------------------------------*\
    Tags Widget
\*------------------------------------*/
.tagcloud {
    a {
        position: relative;
        z-index: 1;
        font-weight: 300;
        color: $widget-tag-color;
        border: $widget-tag-border;
        margin: $widget-tag-margin;
        padding: $widget-tag-padding;
        background: $widget-tag-bg;
        text-transform: $widget-tag-transform;
        font-size: $widget-tag-font-size;
        @include inline-block();
        @include border-radius($widget-tag-border-radius);
        &:after {
            content: "";
            position: absolute;
            top: 0;
            width: 0;
            z-index: -1;
            height: 100%;
            left: 0;
            background-color: $widget-tag-bg-hover;
            @include transition(all .2s linear);
        }
        &:hover {
            color: $widget-tag-color-hover;
            border-color: $widget-tag-border-color-hover;
            &:after {
                width: 100%;
            }
        }
    }
}

// widget rotateimages
.pbr-rotateimages {

    .rotate {
        background: url('#{$image-theme-skin}bg-rotate-.png') no-repeat center bottom $nocolor;
        background-size: 100% auto;
        @media screen and (min-width: $screen-lg-min) {
            padding: 0 15% 100px;
        }
        @media screen and (max-width: $screen-lg-min) {
            padding: 0 8% 100px;
        }
        @media screen and (max-width: $screen-md-min) {
            padding: 0 8% 70px;
        }
        @media screen and (max-width: $screen-sm) {
            padding: 0 6% 60px;
        }

        @media screen and (max-width: 320px) {
            padding: 0 0 30px;
        }
    }
    .spritespin-instance {
        cursor: move;
    }
    .widget-content {
        text-align: center;
    }
    @media screen and (max-width: $screen-md-min) {
        .spritespin-canvas, .spritespin-instance {
            height: 568px !important;
            width: 680px !important;
        }
    }
    @media screen and (max-width: 700px) {
        .spritespin-canvas, .spritespin-instance {
            height: 418px !important;
            width: 500px !important;
        }
    }

    @media screen and (max-width: $screen-xs) {
        .spritespin-canvas, .spritespin-instance {
            height: 317px !important;
            width: 380px !important;
        }
    }
    @media screen and (max-width: $screen-xs) {
        .spritespin-canvas, .spritespin-instance {
            height: 267px !important;
            width: 320px !important;
        }
    }
}

/* Widget Post Carousel */
.widget-post-carousel {
    .blog-post {
        overflow: hidden;
        .entry-title {
            font-size: 16px;
            font-weight: 600;
            margin-top: 10px;
        }
        .entry-date {
            .day {
                font-size: 30px;
                color: #000;
                font-weight: 500;
            }
            font-weight: 400;
        }
        .readmore {
            margin-top: 10px;
            a {
                color: $theme-color;
                text-decoration: underline;
                font-size: 12px;
                font-weight: 400;
            }
        }
    }

    .blog-post-list {
        @include flexbox;
        > div {
            flex: 1;
        }
        .information-post {
            margin-left: 15px;
        }
        .post-thumbnail {
            margin-right: 15px;
        }
    }
    .blog-post-grid {
        @include flexbox;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;

        &:hover {
            .post-thumbnail {
                -ms-transform: scale(1.05); /* IE 9 */
                -webkit-transform: scale(1.05); /* Safari */
                transform: scale(1.05);
                -webkit-transition: all 1s; /* Safari */
                -ms-transition: all 1s;
                transition: all 1s;
            }
        }
        .post-thumbnail {
            position: relative;
            -ms-transform: scale(1); /* IE 9 */
            -webkit-transform: scale(1); /* Safari */
            transform: scale(1);
            -webkit-transition: all 1s; /* Safari */
            -ms-transition: all 1s;
            transition: all 1s;
            &:before {
                @include size(100%, 100%);
                position: absolute;
                content: "";
                background-color: rgba(#000, 0.4);
                -webkit-transition: all 1s; /* Safari */
                -ms-transition: all 1s;
                transition: all 1s;
            }
        }
        &:hover {
            .post-thumbnail {
                -ms-transform: scale(1.05); /* IE 9 */
                -webkit-transform: scale(1.05); /* Safari */
                transform: scale(1.05);
                -webkit-transition: all 1s; /* Safari */
                -ms-transition: all 1s;
                transition: all 1s;
                &:before {
                    background-color: rgba(#000, 0.6);
                    -webkit-transition: all 1s; /* Safari */
                    -ms-transition: all 1s;
                    transition: all 1s;
                }
            }
        }
        > div {
            align-self: flex-end;
            -webkit-align-self: flex-end;
            -moz-align-self: flex-end;
            -ms-align-self: flex-end;
        }
        .information-post {
            position: absolute;
            margin: auto;
            padding: 30px;
            content: "";
            color: #fff;
        }
        .entry-title {
            a {
                color: #fff;
                font-size: 18px;
                &:hover {
                    color: $theme-color;
                }
            }
        }
        .entry-date {
            .day {
                color: #fff;
            }
        }
    }
}

.wpb_widgetised_column {
    .wpb_widgetised_column_heading {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 600;
        margin: 0 20px 0 0;
        line-height: 52px;
    }
}

.widget_mc4wp_form_widget {
    .pbr-footer &{
        text-align: left;
        .widget-title{
            display: block;
        }
        .form-style-1 {
            p {
                font-size: $font-size-base - 2;
                margin-bottom: 30px;
                color: $text-color;
                line-height: normal;
                font-family: $font-family-base;
            }
            > div {
                @include border-radius(0);
                padding: 0;
                input[type="email"] {
                    border: 1px solid #f7f7f7;
                    background-color: #f7f7f7;
                    margin: 0;
                    height: 58px;
                }
                .btn-primary {
                    font-size: 10px;
                    font-weight: 500;
                    padding: 20px 30px;
                    font-family: $font-family-base;
                    background: $theme-color !important;
                    color: $white !important;
                    letter-spacing: 0;
                    border-left: 0 !important;
                    &:hover{
                        background-color: darken($theme-color,10%) !important;
                    }
                }
                @media (max-width: 980px) {
                    display: block;
                }
                @media (max-width: 640px) {
                    @include flexbox;
                }
            }
        }
    }
    text-align: center;
    .widget-title{
        display: none;
    } 
    .form-style-1{
        p{
            color: $white;
            font-size:36px;
            line-height: 48px;
            max-width: 620px;
            margin: auto;
            margin-bottom: 51px;
            font-family: $font-family-bold;
        }
        > div {
            @include flexbox;
            justify-content: space-around;
            width: 100%;
            @include border-radius(50px);
            overflow: hidden;
            background: $white;
            padding: 18px 10px;
            input[type="email"] {
                margin: 0;
                height: 30px;
                border: 0;
                padding: 0 25px;
                font-size: 16px;
                @include box-shadow(none);
                &:focus{
                    border: 0;
                }
            }
            .btn-primary {
                border: 0 !important;
                font-size: 12px;
                letter-spacing: 4px;
                padding: 0 25px;
                font-family: $font-family-bold;
                border-left: 1px solid $theme-color !important;
                color: $theme-color !important;
                background: $white !important;
            }
        }
    }
}

.vc_custom_heading.button {
    a {
        display: block;
        background-color: $theme-color;
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
}

.contact-add {
    i {
        font-size: 16px;
        margin-right: 10px;
    }
}

/* footer-menu */
.footer-menu {
    ul {
        li {
            display: inline-block;
            border-bottom: none !important;
            width: auto !important;
            margin: 0 20px;
        }
    }
}

.search-category {
    border: 1px solid $border-color;
    background-color: #fff;
    .btn-search {
        padding: 0;
        border: none;
        .searchsubmit {
            line-height: 46px;
            padding: 0 20px;
            border: none;
            font-size: 16px;
            background-color: transparent;
        }
    }
    .search-category-container {
        background-color: transparent;
        padding: 0;
        border: none;
    }
    .dropdown_product_cat {
        height: 46px;
        border: none !important;
        color: $text-color;
        font-size: 13px;
        background-color: transparent;
        padding: 0 20px !important;
        @include box-shadow(none);
        &:focus {
            outline-offset: 0;
        }
    }
    .search-category-input {
        background-color: transparent;
        border: none;
        @include box-shadow(none);
        &:focus {
            border: none;
        }
    }
}

.footer-social {
    overflow: hidden;
    ul.social {
        margin: 0;
        position: relative;
        padding: 0 80px;
        display: inline-block;
        &:before,
        &:after {
            content: "";
            height: 1px;
            width: 300%;
            background-color: rgba($white,.1);
            position: absolute;
            top: 50%;
        }
        &:before {
            right: 100%;
        }
        &:after {
            left: 100%;
        }
        @media (max-width: $screen-phone) {
            padding: 0;
        }
    }
}

.widget_pbr_recent_comment {
    h6 {
        margin-top: 0;
    }
    a {
        font-size: 14px;
        line-height: 24px;
        display: inline-block;
    }
    article {
        border-top: 1px solid $border-color;
        padding-top: 20px;
        &:first-child {
            padding-top: 0;
            border-top: none;
        }
    }
}

.widget_pbr_posts {
    .entry-title {
        margin-bottom: 0;
    }
}

.sidebar {
    .widget_pbr_recent_post {
        .entry-title {
            font-size: 12px;
            font-weight: 500;
            line-height: 22px;
        }
    }
    .navbar-collapse {
        padding: 0;
    }
    .navbar-nav {
        float: none;
        > li {
            float: none;
            > a {
                padding: 0;
                line-height: inherit;
            }
        }
    }
}

.pbr-footer {
    .widget_nav_menu {
        ul.menu {
            > li {
                padding: 5px 0;
                border: none;
                &:before {
                    content: none;
                }
            }
            a {
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
    .widget_pbr_socials_widget .bo-sicolor a {
        &:hover{
            i{
                border-color: $theme-color;
            }
        }
        i {
            background-color: transparent;
            border-color: rgba($white,.2);
            @media (max-width: $screen-phone) {
                width: 40px;
                height: 40px;
                line-height: 38px;
            }
        }
    }
}

.wpcf7-form {
    .form-control {
        background-color: #efefef;
        @include transition(.3s);
    }
}
