@font-face {
    font-family: "<%= fontName %>";
    src: url('#{$lexus-font-path}<%= fontName %>.eot');
    src: url('#{$lexus-font-path}<%= fontName %>.eot?#iefix') format('eot'),
    url('#{$lexus-font-path}<%= fontName %>.woff') format('woff'),
    url('#{$lexus-font-path}<%= fontName %>.ttf') format('truetype');
}

[class*="<%= cssClass%>"]{
    //font-family: "<%= fontName %>";
    display: inline-block;
    font: normal normal normal 14px/1 "<%= fontName %>";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

<% _.each(glyphs, function(glyph) { %>.<%= cssClass%>-<%= glyph.fileName %>:before {
    content: "\<%= glyph.codePoint %>";
}
<% }); %>