/* $headings-font-weight:    700 !default; */
/**
 * Import component variables
 */
/** elements mixins **/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/*inline-block
============================================*/
/****/
/****/
/****/
/** elements mixins **/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/*inline-block
============================================*/
/****/
/****/
/*
 * Global variables
 */
/* main color which will be used for all main block styles... */
/**
 * Import component variables
 */
/**
 *
 */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons for light style */
/* Variables icons outline */
/* Variables icons inverse */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* --- SCSS For Typography --- */
/**
 *   Blocks Layout Selectors
 */
/********* LAYOUT **************/
/*------------------------------------*\
    Widget Price Filter
\*------------------------------------*/
/* line 5, sass/woocommerce/_widget.scss */
.widget_price_filter .price_slider_wrapper {
  padding-top: 20px;
}
/* line 8, sass/woocommerce/_widget.scss */
.widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #b99767 !important;
}
/* line 11, sass/woocommerce/_widget.scss */
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  margin-bottom: 30px;
  background-color: #ededed !important;
}
/* line 15, sass/woocommerce/_widget.scss */
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  background: #000 !important;
}
/* line 18, sass/woocommerce/_widget.scss */
.widget_price_filter .price_slider_amount .button {
  padding: 12px 18px;
}

/*------------------------------------*\
    Product List Widget
\*------------------------------------*/
/* line 26, sass/woocommerce/_widget.scss */
.woocommerce ul.product_list_widget {
  padding: 0;
  list-style: none;
}
/* line 31, sass/woocommerce/_widget.scss */
.woocommerce ul.product_list_widget li .review,
.woocommerce ul.product_list_widget .widget-product .review {
  clear: left;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .woocommerce ul.product_list_widget li .review, .rtl
.woocommerce ul.product_list_widget .widget-product .review {
  clear: right;
}
/* line 34, sass/woocommerce/_widget.scss */
.woocommerce ul.product_list_widget li .price > *,
.woocommerce ul.product_list_widget .widget-product .price > * {
  font-size: 14px;
  color: #f1ba27;
}
/* line 38, sass/woocommerce/_widget.scss */
.woocommerce ul.product_list_widget li img,
.woocommerce ul.product_list_widget .widget-product img {
  width: 82px;
  float: left;
  margin-left: 0;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .woocommerce ul.product_list_widget li img, .rtl
.woocommerce ul.product_list_widget .widget-product img {
  float: right;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl .woocommerce ul.product_list_widget li img, .rtl
.woocommerce ul.product_list_widget .widget-product img {
  margin-right: 0;
  margin-left: inherit;
}
/* line 43, sass/woocommerce/_widget.scss */
.woocommerce ul.product_list_widget li .rating,
.woocommerce ul.product_list_widget .widget-product .rating {
  margin-bottom: 8px;
}
/* line 46, sass/woocommerce/_widget.scss */
.woocommerce ul.product_list_widget li .star-rating,
.woocommerce ul.product_list_widget .widget-product .star-rating {
  margin: 0;
}
/* line 49, sass/woocommerce/_widget.scss */
.woocommerce ul.product_list_widget li .name,
.woocommerce ul.product_list_widget .widget-product .name {
  font-weight: 400;
  margin-top: 0;
  text-transform: none;
  height: 42px;
  overflow: hidden;
  line-height: 20px;
}
/* line 57, sass/woocommerce/_widget.scss */
.woocommerce ul.product_list_widget li a,
.woocommerce ul.product_list_widget .widget-product a {
  font-weight: normal;
}

/**
 * Styling special product block.
 */
/* line 67, sass/woocommerce/_widget.scss */
.products.related, .products.upsells {
  margin-bottom: 20px !important;
  position: relative;
  padding: 0px;
  background: transparent;
  border-width: 0px;
  border-style: solid;
}

/* line 77, sass/woocommerce/_widget.scss */
.products.related h2, .product > #reviews > h3, .products.upsells h2 {
  color: #000000;
  padding: 20px 0;
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
  z-index: 10;
  line-height: 1.1;
  text-align: left;
  border-bottom: solid 1px #ededed;
}
/* line 89, sass/woocommerce/_widget.scss */
.products.related h2 > span, .product > #reviews > h3 > span, .products.upsells h2 > span {
  padding: 0 25px;
  display: inline-block;
}

/* line 97, sass/woocommerce/_widget.scss */
.products.related h2, .product.upsell h2 {
  border-bottom: solid 1px #000;
}

/* line 101, sass/woocommerce/_widget.scss */
.product > #reviews {
  border: solid 1px #ededed;
  margin-bottom: 20px;
}

/**
 * Deal Modules
 */
/* line 111, sass/woocommerce/_widget.scss */
.woo-deals .caption {
  padding: 5px 20px 20px !important;
}
/* line 114, sass/woocommerce/_widget.scss */
.woo-deals .carousel-inner {
  overflow: visible;
}
/* line 117, sass/woocommerce/_widget.scss */
.woo-deals .description {
  margin-bottom: 10px;
  font-size: 13px;
}
/* line 121, sass/woocommerce/_widget.scss */
.woo-deals .pts-countdown {
  padding: 5px 0;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}
/* line 126, sass/woocommerce/_widget.scss */
.woo-deals .deals-information {
  margin-bottom: 20px;
}
/* line 129, sass/woocommerce/_widget.scss */
.woo-deals .rating > * {
  float: none;
}
/* line 133, sass/woocommerce/_widget.scss */
.woo-deals .countdown-times {
  overflow: hidden;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 137, sass/woocommerce/_widget.scss */
.woo-deals .countdown-times > div {
  text-align: center;
  float: left;
  margin-right: 5%;
  width: 20%;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .woo-deals .countdown-times > div {
  float: right;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl .woo-deals .countdown-times > div {
  margin-left: 5%;
  margin-right: inherit;
}
/* line 142, sass/woocommerce/_widget.scss */
.woo-deals .countdown-times > div > b {
  display: block;
  font-size: 14px;
  font-weight: 900;
  color: #b99767;
}
/* line 148, sass/woocommerce/_widget.scss */
.woo-deals .countdown-times > div:last-child {
  padding-right: 0;
  float: right;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl .woo-deals .countdown-times > div:last-child {
  padding-left: 0;
  padding-right: inherit;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .woo-deals .countdown-times > div:last-child {
  float: left;
}
/* line 154, sass/woocommerce/_widget.scss */
.woo-deals .cart {
  left: 0;
  position: absolute;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  -o-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  visibility: hidden;
}
/* line 162, sass/woocommerce/_widget.scss */
.woo-deals .cart .add_to_cart_button {
  color: #000000;
  background: #fff;
  font-weight: 900;
}
/* line 163, sass/woocommerce/_widget.scss */
.woo-deals .cart .add_to_cart_button.added {
  display: none;
}
/* line 169, sass/woocommerce/_widget.scss */
.woo-deals .cart .add_to_cart_button:hover, .woo-deals .cart .add_to_cart_button:active, .woo-deals .cart .add_to_cart_button:focus {
  color: #fff;
  background: #b99767;
}
/* line 174, sass/woocommerce/_widget.scss */
.woo-deals .cart .wc-forward {
  margin: 0 auto;
}
/* line 179, sass/woocommerce/_widget.scss */
.woo-deals:hover .cart {
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  -o-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}

/**
 * Widget Products Categories Menu 
 */
/* line 191, sass/woocommerce/_widget.scss */
ul.product-categories li {
  padding: 10px 15px;
  list-style-type: none;
}
/* line 196, sass/woocommerce/_widget.scss */
ul.product-categories li a {
  position: relative;
  color: #000;
}
/* line 199, sass/woocommerce/_widget.scss */
ul.product-categories li a:before {
  display: none;
}
/* line 205, sass/woocommerce/_widget.scss */
ul.product-categories li.cat-parent > ul li a {
  padding-left: 10px;
  color: #999999;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl ul.product-categories li.cat-parent > ul li a {
  padding-right: 10px;
  padding-left: inherit;
}
/* line 208, sass/woocommerce/_widget.scss */
ul.product-categories li.cat-parent > ul li a:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 108, sass/components/mixins/_rtl.scss */
.rtl ul.product-categories li.cat-parent > ul li a:before {
  right: 0;
  left: auto;
}
/* line 218, sass/woocommerce/_widget.scss */
ul.product-categories li:hover {
  background: #f9f9f9;
  position: relative;
}
/* line 220, sass/woocommerce/_widget.scss */
ul.product-categories li:hover > a {
  position: relative;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
/* line 227, sass/woocommerce/_widget.scss */
ul.product-categories li:hover > ul {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
  min-width: 200px;
}
/* line 235, sass/woocommerce/_widget.scss */
ul.product-categories li ul {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eaeaea;
  border-radius: 0 3px 3px;
  left: 100%;
  margin-left: -1px;
  opacity: 0;
  padding: 15px;
  position: absolute;
  top: -1px;
  transform: translateY(20px);
  transition: transform 0.4s ease 0s, opacity 0.4s ease 0s, visibility 0.4s ease 0s;
  visibility: hidden;
  white-space: nowrap;
  z-index: 101;
}

/*
**  pbr category list
*/
/* line 260, sass/woocommerce/_widget.scss */
.pbr-category-list #pbr-accordion-categories .category-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 17px 15px;
  padding-right: 20px;
  padding-left: 30px;
  width: 100%;
  background: url(images/list-style.png) no-repeat 15px 25px transparent;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl .pbr-category-list #pbr-accordion-categories .category-title {
  padding-left: 20px;
  padding-right: inherit;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl .pbr-category-list #pbr-accordion-categories .category-title {
  padding-right: 30px;
  padding-left: inherit;
}
/* line 267, sass/woocommerce/_widget.scss */
.pbr-category-list #pbr-accordion-categories .category-title a {
  text-transform: uppercase;
  font-size: 12px;
}
/* line 270, sass/woocommerce/_widget.scss */
.pbr-category-list #pbr-accordion-categories .category-title a:hover {
  color: #b99767;
}
/* line 274, sass/woocommerce/_widget.scss */
.pbr-category-list #pbr-accordion-categories .category-title a.dropdown {
  float: right;
  margin-left: 10px;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .pbr-category-list #pbr-accordion-categories .category-title a.dropdown {
  float: left;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl .pbr-category-list #pbr-accordion-categories .category-title a.dropdown {
  margin-right: 10px;
  margin-left: inherit;
}
/* line 278, sass/woocommerce/_widget.scss */
.pbr-category-list #pbr-accordion-categories .category-title .total-product {
  display: inline-block;
}
/* line 283, sass/woocommerce/_widget.scss */
.pbr-category-list #pbr-accordion-categories .panel-collapse .category-title {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  background-position: 12px 12px;
}
/* line 288, sass/woocommerce/_widget.scss */
.pbr-category-list #pbr-accordion-categories .panel-collapse .category-title a {
  font-size: 11px;
}

/*------------------------------------*\
    Cart
\*------------------------------------*/
/* line 300, sass/woocommerce/_widget.scss */
.cart_list > div {
  margin: 10px 0;
  padding: 10px 0;
}
/* line 304, sass/woocommerce/_widget.scss */
.cart_list .name {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-transform: none;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
}
/* line 313, sass/woocommerce/_widget.scss */
.cart_list .image {
  width: 82px;
  height: 82px;
}
/* line 316, sass/woocommerce/_widget.scss */
.cart_list .cart-item {
  line-height: 1.1;
  margin: 0;
  font-size: 14px;
}
/* line 320, sass/woocommerce/_widget.scss */
.cart_list .cart-item .amount {
  font-size: 14px;
  color: #f1ba27;
}
/* line 325, sass/woocommerce/_widget.scss */
.cart_list .cart-main-content {
  text-align: left;
  position: relative;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .cart_list .cart-main-content {
  text-align: right;
}
/* line 328, sass/woocommerce/_widget.scss */
.cart_list .cart-main-content .remove {
  position: absolute;
  right: 0;
  top: auto;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 25px;
  /* 9 */
  font-size: 2.5rem;
  /* 9 */
  bottom: 10px;
  height: 20px;
}
/* line 115, sass/components/mixins/_rtl.scss */
.rtl .cart_list .cart-main-content .remove {
  left: 0;
  right: auto;
}
/* line 337, sass/woocommerce/_widget.scss */
.cart_list + .total {
  text-align: right;
  margin-top: 10px;
  padding: 0 15px;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .cart_list + .total {
  text-align: left;
}
/* line 341, sass/woocommerce/_widget.scss */
.cart_list + .total .amount {
  font-size: 15px;
}

/* line 351, sass/woocommerce/_widget.scss */
.widget_shopping_cart .widget_shopping_cart_content .buttons {
  padding: 20px 15px;
  overflow: hidden;
}

/** widget-timing-deal  */
/* line 359, sass/woocommerce/_widget.scss */
.widget-timing-deal {
  background-image: url("images/dont-miss.png");
  background-repeat: no-repeat;
  background-position: left top;
}
/* line 364, sass/woocommerce/_widget.scss */
.widget-timing-deal .widget-heading {
  padding: 20px 5px 10px 35px;
}
/* line 366, sass/woocommerce/_widget.scss */
.widget-timing-deal .widget-heading h3 {
  font-size: 30px;
  margin: 0;
}
/* line 369, sass/woocommerce/_widget.scss */
.widget-timing-deal .widget-heading h3 span {
  color: #000000;
}
/* line 373, sass/woocommerce/_widget.scss */
.widget-timing-deal .widget-heading p {
  margin-bottom: 0;
}
/* line 377, sass/woocommerce/_widget.scss */
.widget-timing-deal .woo-products-deals {
  border: 1px solid #ededed;
  position: relative;
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 991px) {
  /* line 383, sass/woocommerce/_widget.scss */
  .widget-timing-deal .woo-products-deals:before {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #e93434;
    content: "";
    position: absolute;
    left: -1px;
    top: 45%;
    z-index: 3;
  }
  /* line 22, sass/components/mixins/_rtl.scss */
  .rtl .widget-timing-deal .woo-products-deals:before {
    border-right: 8px solid #e93434;
    border-left: inherit;
  }
  /* line 108, sass/components/mixins/_rtl.scss */
  .rtl .widget-timing-deal .woo-products-deals:before {
    right: -1px;
    left: auto;
  }
}
/* line 394, sass/woocommerce/_widget.scss */
.widget-timing-deal .woo-products-deals .product-deal {
  padding: 10px;
  text-align: center;
  min-height: 150px;
}
/* line 401, sass/woocommerce/_widget.scss */
.widget-timing-deal .product-deal .onsale {
  display: none;
}
/* line 406, sass/woocommerce/_widget.scss */
.widget-timing-deal .product-deal .image .product-image {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.6s ease-out 0s;
  -o-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
}
/* line 412, sass/woocommerce/_widget.scss */
.widget-timing-deal .product-deal .image:hover .product-image {
  opacity: 0.25;
  filter: alpha(opacity=25);
  -webkit-transition: all 0.6s ease-out 0s;
  -o-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
}
/* line 417, sass/woocommerce/_widget.scss */
.widget-timing-deal .product-deal .image .button-action {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.6s ease-out 0s;
  -o-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 100%;
  height: 85px;
}
/* line 431, sass/woocommerce/_widget.scss */
.widget-timing-deal .product-deal .image:hover .button-action {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s ease-out 0s;
  -o-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
}
/* line 441, sass/woocommerce/_widget.scss */
.widget-timing-deal .countdown-times > div {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  position: relative;
  font-size: 12px;
  text-align: left;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .widget-timing-deal .countdown-times > div {
  text-align: right;
}
/* line 447, sass/woocommerce/_widget.scss */
.widget-timing-deal .countdown-times > div:before {
  content: ":";
  position: absolute;
  right: 0;
  top: 10px;
}
/* line 115, sass/components/mixins/_rtl.scss */
.rtl .widget-timing-deal .countdown-times > div:before {
  left: 0;
  right: auto;
}
/* line 453, sass/woocommerce/_widget.scss */
.widget-timing-deal .countdown-times > div > b {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
/* line 460, sass/woocommerce/_widget.scss */
.widget-timing-deal .countdown-times > div:last-child:before {
  content: "";
}

/*------------------------------------*\
    Mini Cart
\*------------------------------------*/
/* line 9, sass/woocommerce/_styles.scss */
.pbr-topcart .dropdown.open .mini-cart:before {
  content: "";
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}
/* line 108, sass/components/mixins/_rtl.scss */
.rtl .pbr-topcart .dropdown.open .mini-cart:before {
  right: 0;
  left: auto;
}
/* line 20, sass/woocommerce/_styles.scss */
.pbr-topcart .dropdown-menu {
  top: 50px;
  padding: 20px;
  min-width: 320px;
  display: block;
  visibility: hidden;
  text-align: left;
  left: auto;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .pbr-topcart .dropdown-menu {
  text-align: right;
}
/* line 108, sass/components/mixins/_rtl.scss */
.rtl .pbr-topcart .dropdown-menu {
  right: auto;
  left: auto;
}
/* line 115, sass/components/mixins/_rtl.scss */
.rtl .pbr-topcart .dropdown-menu {
  left: 0;
  right: auto;
}
/* line 33, sass/woocommerce/_styles.scss */
.pbr-topcart .dropdown-menu:before, .pbr-topcart .dropdown-menu:after {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: absolute;
  left: 100%;
  margin-left: -26%;
}
/* line 108, sass/components/mixins/_rtl.scss */
.rtl .pbr-topcart .dropdown-menu:before, .rtl .pbr-topcart .dropdown-menu:after {
  right: 100%;
  left: auto;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl .pbr-topcart .dropdown-menu:before, .rtl .pbr-topcart .dropdown-menu:after {
  margin-right: -26%;
  margin-left: inherit;
}
/* line 41, sass/woocommerce/_styles.scss */
.pbr-topcart .dropdown-menu:before {
  top: -11px;
  border-bottom: 11px solid rgba(0, 0, 0, 0.2);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}
/* line 47, sass/woocommerce/_styles.scss */
.pbr-topcart .dropdown-menu:after {
  top: -10px;
  border-bottom: 11px solid #FFF;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}
/* line 53, sass/woocommerce/_styles.scss */
.pbr-topcart .dropdown-menu .quantity {
  font-size: 14px;
}
/* line 57, sass/woocommerce/_styles.scss */
.pbr-topcart .media {
  border-bottom: solid 1px #ededed;
}
/* line 60, sass/woocommerce/_styles.scss */
.pbr-topcart .name {
  font-size: 12px;
}
/* line 62, sass/woocommerce/_styles.scss */
.pbr-topcart .name a {
  color: #000 !important;
}
/* line 64, sass/woocommerce/_styles.scss */
.pbr-topcart .name a:hover {
  color: #b99767 !important;
}
/* line 70, sass/woocommerce/_styles.scss */
.pbr-topcart .open .dropdown-menu {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform-origin: 29px -50px;
  -moz-transform-origin: 29px -50px;
  -ms-transform-origin: 29px -50px;
  transform-origin: 29px -50px;
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  visibility: visible;
}
/* line 79, sass/woocommerce/_styles.scss */
.pbr-topcart .total {
  padding-top: 20px;
  padding-bottom: 10px;
}
/* line 83, sass/woocommerce/_styles.scss */
.pbr-topcart .buttons {
  background: #f2f2f2;
  margin-bottom: 0;
  padding: 15px 30px;
  margin-right: -20px;
  margin-left: -20px;
}

/* line 95, sass/woocommerce/_styles.scss */
#cart .mini-cart > * {
  text-transform: uppercase;
  font-weight: 300;
}
/* line 99, sass/woocommerce/_styles.scss */
#cart .mini-cart .title-cart {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 11px;
  /* 9 */
  font-size: 1.1rem;
  /* 9 */
  font-weight: 400;
  line-height: 24px;
}
/* line 105, sass/woocommerce/_styles.scss */
#cart .cart-icon {
  text-transform: uppercase;
}
/* line 108, sass/woocommerce/_styles.scss */
#cart .title-cart, #cart .dropdown-toggle .amount, #cart .mini-cart-items em {
  display: none;
}
/* line 111, sass/woocommerce/_styles.scss */
#cart .mini-cart-items {
  background: #b99767;
  display: block;
  top: -6px;
  right: 0;
  position: absolute;
  color: #FFF;
  font-size: 10px;
  padding: 2px 6px;
  z-index: 3;
  border-radius: 50%;
}
/* line 115, sass/components/mixins/_rtl.scss */
.rtl #cart .mini-cart-items {
  left: 0;
  right: auto;
}
/* line 123, sass/woocommerce/_styles.scss */
#cart .cart-icon {
  display: inline-block;
  padding: 7px 10px 0 0;
}
/* line 35, sass/components/mixins/_rtl.scss */
.rtl #cart .cart-icon {
  padding: 7px 0 0 10px;
}
/* line 126, sass/woocommerce/_styles.scss */
#cart .cart-icon i {
  display: block;
  float: left;
  background: url("images/cart-bg.png") no-repeat center top transparent;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
/* line 135, sass/woocommerce/_styles.scss */
#cart.version-2 .cart-icon {
  padding: 0 10px 0 0;
  display: inline;
}
/* line 35, sass/components/mixins/_rtl.scss */
.rtl #cart.version-2 .cart-icon {
  padding: 0 0 0 10px;
}
/* line 138, sass/woocommerce/_styles.scss */
#cart.version-2 .cart-icon i {
  background: url("images/cart-v2.png") no-repeat center top transparent;
}
/* line 142, sass/woocommerce/_styles.scss */
#cart.version-2 .title-cart {
  display: inline-block;
}
/* line 145, sass/woocommerce/_styles.scss */
#cart.version-2 .mini-cart-items {
  position: inherit;
  display: inline-block;
  z-index: 3;
}
/* line 153, sass/woocommerce/_styles.scss */
#cart.version-4 .cart-icon i {
  background: url("images/cart-v4.png") no-repeat center top transparent;
}

/* line 162, sass/woocommerce/_styles.scss */
.widget-products .products-grid > .row {
  border: none;
}

/* line 166, sass/woocommerce/_styles.scss */
.productinfo-show-discounts {
  font-size: 12px;
  margin: 20px 0 !important;
  padding-left: 75px;
  position: relative;
  color: #666;
  padding: 0;
  margin-bottom: 22px;
  border-radius: 0px;
  overflow: hidden;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl .productinfo-show-discounts {
  padding-right: 75px;
  padding-left: inherit;
}
/* line 172, sass/woocommerce/_styles.scss */
.productinfo-show-discounts:before {
  background: url("images/icon-show-discounts.png") no-repeat center center #70ba28;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 20px;
  content: "";
}
/* line 108, sass/components/mixins/_rtl.scss */
.rtl .productinfo-show-discounts:before {
  right: 20px;
  left: auto;
}
/* line 8, sass/bootstrap/mixins/_alerts.scss */
.productinfo-show-discounts hr {
  border-top-color: #c9e2b3;
}
/* line 11, sass/bootstrap/mixins/_alerts.scss */
.productinfo-show-discounts .alert-link {
  color: #2b542c;
}
/* line 188, sass/woocommerce/_styles.scss */
.productinfo-show-discounts ul {
  list-style: none;
  margin-left: 40px;
  padding: 15px 30px;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl .productinfo-show-discounts ul {
  margin-right: 40px;
  margin-left: inherit;
}
/* line 192, sass/woocommerce/_styles.scss */
.productinfo-show-discounts ul li {
  padding: 3px 0;
}
/* line 194, sass/woocommerce/_styles.scss */
.productinfo-show-discounts ul li:before {
  content: "\f14a";
  font-family: "FontAwesome";
  color: #70ba28;
  padding-right: 8px;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl .productinfo-show-discounts ul li:before {
  padding-left: 8px;
  padding-right: inherit;
}

/* line 206, sass/woocommerce/_styles.scss */
#reviews .reviews-summary {
  padding: 15px 30px;
}
/* line 208, sass/woocommerce/_styles.scss */
#reviews .reviews-summary h5 {
  font-size: 12px;
  margin-bottom: 20px;
}
/* line 212, sass/woocommerce/_styles.scss */
#reviews .reviews-summary .review-summary-total {
  text-align: center;
  font-weight: 400;
}
/* line 215, sass/woocommerce/_styles.scss */
#reviews .reviews-summary .review-summary-total .review-summary-result {
  width: 90px;
  height: 90px;
  text-align: center;
  border: 2px solid #f0c73b;
  color: #f0c73b;
  line-height: 90px;
  font-size: 24px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 8px;
}
/* line 226, sass/woocommerce/_styles.scss */
#reviews .reviews-summary .review-summary-detal {
  overflow: hidden;
  display: block;
}
/* line 229, sass/woocommerce/_styles.scss */
#reviews .reviews-summary .review-summary-detal .review-label {
  color: #000;
  font-weight: 400;
}
/* line 237, sass/woocommerce/_styles.scss */
#reviews .comments {
  border-top: 1px solid #ededed;
  padding: 20px 30px;
}
/* line 240, sass/woocommerce/_styles.scss */
#reviews .comments h5 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 244, sass/woocommerce/_styles.scss */
#reviews .comments .commentlist {
  margin: 15px 0;
}
/* line 246, sass/woocommerce/_styles.scss */
#reviews .comments .commentlist .comment {
  margin-bottom: 30px;
}
/* line 249, sass/woocommerce/_styles.scss */
#reviews .comments .commentlist .pbr-avata {
  width: 100px;
  text-align: center;
}
/* line 252, sass/woocommerce/_styles.scss */
#reviews .comments .commentlist .pbr-avata > div {
  display: inline-block;
}
/* line 256, sass/woocommerce/_styles.scss */
#reviews .comments .commentlist .pbr-avata .pbr-image .avatar {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}
/* line 261, sass/woocommerce/_styles.scss */
#reviews .comments .commentlist .pbr-avata .pbr-author {
  color: #000;
  font-weight: 900;
  padding-top: 10px;
  text-transform: capitalize;
}
/* line 268, sass/woocommerce/_styles.scss */
#reviews .comments .commentlist .comment-text {
  border: 1px solid #ededed;
  padding: 15px 20px;
}
/* line 271, sass/woocommerce/_styles.scss */
#reviews .comments .commentlist .comment-text .meta {
  color: #bbb;
}
/* line 274, sass/woocommerce/_styles.scss */
#reviews .comments .commentlist .comment-text > div {
  margin-bottom: 7px;
  float: left;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl #reviews .comments .commentlist .comment-text > div {
  float: right;
}
/* line 278, sass/woocommerce/_styles.scss */
#reviews .comments .commentlist .comment-text .star-rating {
  margin-bottom: 15px;
}
/* line 284, sass/woocommerce/_styles.scss */
#reviews .review_form_wrapper {
  border-top: 1px solid #ededed;
  padding: 20px 30px;
}
/* line 289, sass/woocommerce/_styles.scss */
#reviews .progress {
  height: 15px;
  margin-bottom: 15px;
  background-color: #f2f2f2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 294, sass/woocommerce/_styles.scss */
#reviews .progress .progress-bar {
  color: #aaa;
}
/* line 296, sass/woocommerce/_styles.scss */
#reviews .progress .progress-bar.progress-bared {
  color: #fff;
}
/* line 302, sass/woocommerce/_styles.scss */
#reviews #reply-title {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

/**
 * Product Single Page
 */
/* line 314, sass/woocommerce/_styles.scss */
.product-block {
  position: relative;
  margin-bottom: 30px;
  background: #FFF;
}
/* line 318, sass/woocommerce/_styles.scss */
.product-block span.onsale {
  top: 5%;
  right: 10%;
  left: auto;
}
/* line 115, sass/components/mixins/_rtl.scss */
.rtl .product-block span.onsale {
  left: 10%;
  right: auto;
}
/* line 108, sass/components/mixins/_rtl.scss */
.rtl .product-block span.onsale {
  right: auto;
  left: auto;
}
/* line 323, sass/woocommerce/_styles.scss */
.product-block .sale-off {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #fb4949;
  color: #fff;
  top: 0;
  right: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  line-height: 36px;
  font-size: 12px;
  font-weight: 400;
}
/* line 115, sass/components/mixins/_rtl.scss */
.rtl .product-block .sale-off {
  left: 0;
  right: auto;
}
/* line 335, sass/woocommerce/_styles.scss */
.product-block .image {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 2px;
}
/* line 340, sass/woocommerce/_styles.scss */
.product-block .image img {
  height: auto;
  width: 100%;
}
/* line 344, sass/woocommerce/_styles.scss */
.product-block .image a, .product-block .image .product-image {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
/* line 349, sass/woocommerce/_styles.scss */
.product-block .image .image-effect {
  top: 0;
  position: absolute;
  overflow: hidden;
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  -o-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 108, sass/components/mixins/_rtl.scss */
.rtl .product-block .image .image-effect {
  right: 0;
  left: auto;
}
/* line 358, sass/woocommerce/_styles.scss */
.product-block .image .image-hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 362, sass/woocommerce/_styles.scss */
.product-block .image:hover .image-effect {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
/* line 365, sass/woocommerce/_styles.scss */
.product-block .image:hover .image-hover {
  -webkit-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  -o-transform: translate(100%, 0px);
  transform: translate(100%, 0px);
}
/* line 370, sass/woocommerce/_styles.scss */
.product-block .image .yith-wcwl-add-to-wishlist span {
  display: none;
}
/* line 375, sass/woocommerce/_styles.scss */
.product-block .caption {
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}
/* line 381, sass/woocommerce/_styles.scss */
.product-block .price > * {
  width: auto;
  display: inline-block;
  display: block;
  text-align: center;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 18px;
  /* 9 */
  font-size: 1.8rem;
  /* 9 */
  font-weight: normal;
  color: #f1ba27;
}
/* line 392, sass/woocommerce/_styles.scss */
.product-block .price span:before, .product-block .price span:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 20%;
  background-color: #ededed;
  top: 12px;
}
/* line 400, sass/woocommerce/_styles.scss */
.product-block .price span:before {
  left: 0;
}
/* line 403, sass/woocommerce/_styles.scss */
.product-block .price span:after {
  right: 0;
}
/* line 409, sass/woocommerce/_styles.scss */
.product-block .price > ins {
  color: #666666;
  font-size: 12px;
}
/* line 413, sass/woocommerce/_styles.scss */
.product-block .price > ins span:before, .product-block .price > ins span:after {
  content: none;
}
/* line 419, sass/woocommerce/_styles.scss */
.product-block .name {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 12px;
  /* 9 */
  font-size: 1.2rem;
  /* 9 */
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
}
/* line 425, sass/woocommerce/_styles.scss */
.product-block .category {
  text-transform: none;
  font-weight: 300;
  font-style: italic;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 12px;
  /* 9 */
  font-size: 1.2rem;
  /* 9 */
}
/* line 430, sass/woocommerce/_styles.scss */
.product-block .category a {
  color: #999999;
}
/* line 432, sass/woocommerce/_styles.scss */
.product-block .category a:hover {
  color: #b99767;
}
/* line 437, sass/woocommerce/_styles.scss */
.product-block .rating {
  text-align: center;
}
/* line 439, sass/woocommerce/_styles.scss */
.product-block .rating .star-rating {
  display: inline-block;
  float: none;
}
/* line 444, sass/woocommerce/_styles.scss */
.product-block .add_to_cart_button {
  position: relative;
}
/* line 447, sass/woocommerce/_styles.scss */
.product-block .add_to_cart_button.loading .title-cart {
  visibility: hidden;
}
/* line 449, sass/woocommerce/_styles.scss */
.product-block .add_to_cart_button.loading .title-cart:after {
  visibility: visible;
  content: "Loading..";
  position: absolute;
  top: 9px;
  left: 5px;
  width: 100%;
  text-align: center;
}
/* line 461, sass/woocommerce/_styles.scss */
.product-block:hover {
  box-shadow: 0 0 2px 1px #edeeee;
}
/* line 463, sass/woocommerce/_styles.scss */
.product-block:hover .action-bottom {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 100%;
}

/* line 473, sass/woocommerce/_styles.scss */
.action-bottom {
  margin: 0px auto;
  padding: 0px 10px 10px;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 999;
  left: 0;
  right: 0;
  top: 95%;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.11);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.11);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
/* line 486, sass/woocommerce/_styles.scss */
.action-bottom > * {
  display: inline-block;
  text-align: center;
}
/* line 489, sass/woocommerce/_styles.scss */
.action-bottom > * a {
  float: left;
  text-align: center;
  overflow: hidden;
  text-indent: -99999px;
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  background: url("images/icon-button.png") no-repeat;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .action-bottom > * a {
  float: right;
}
/* line 499, sass/woocommerce/_styles.scss */
.action-bottom > * a.add_to_wishlist {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 0;
  background-position: left top;
}
/* line 503, sass/woocommerce/_styles.scss */
.action-bottom > * a.add_to_wishlist:hover {
  background-position: left bottom;
}
/* line 507, sass/woocommerce/_styles.scss */
.action-bottom > * a.compare {
  background-position: center top;
}
/* line 509, sass/woocommerce/_styles.scss */
.action-bottom > * a.compare:hover {
  background-position: center bottom;
}
/* line 513, sass/woocommerce/_styles.scss */
.action-bottom > * a.quickview {
  background-position: right top;
}
/* line 515, sass/woocommerce/_styles.scss */
.action-bottom > * a.quickview:hover {
  background-position: right bottom;
}
/* line 521, sass/woocommerce/_styles.scss */
.action-bottom .title, .action-bottom .clear, .action-bottom .feedback {
  display: none;
}

/* line 526, sass/woocommerce/_styles.scss */
div[class*="add-to-wishlist"] {
  margin-top: 0;
  position: relative;
}
/* line 529, sass/woocommerce/_styles.scss */
div[class*="add-to-wishlist"] .ajax-loading {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 538, sass/woocommerce/_styles.scss */
a.add_to_wishlist {
  text-indent: -99999px;
  display: block;
}

/* line 542, sass/woocommerce/_styles.scss */
.yith-wcwl-add-to-wishlist {
  margin-top: 0;
}

/**
 * Products Listing In Grid Style
 */
/* line 551, sass/woocommerce/_styles.scss */
.products-grid .product-block .caption {
  margin-left: 20px;
  margin-right: 20px;
}
/* line 556, sass/woocommerce/_styles.scss */
.products-grid div.product {
  position: relative;
}
/* line 558, sass/woocommerce/_styles.scss */
.products-grid div.product:after {
  position: auto;
  bottom: 0;
  right: 0;
  width: 100%;
  content: "";
  height: 1px;
}
/* line 567, sass/woocommerce/_styles.scss */
.products-grid div.product.first {
  clear: both;
  border-left: none;
}
/* line 571, sass/woocommerce/_styles.scss */
.products-grid div.product .name {
  min-height: 40px;
  max-height: 40px;
  overflow: hidden;
}
/* line 577, sass/woocommerce/_styles.scss */
.products-grid .feedback {
  display: none;
}

/* line 583, sass/woocommerce/_styles.scss */
.products-list .action-bottom {
  opacity: 1;
  position: relative;
  box-shadow: none;
  top: 0;
  bottom: 0;
  padding: 0;
}
/* line 590, sass/woocommerce/_styles.scss */
.products-list .action-bottom .feedback {
  line-height: 40px;
  border-bottom: 2px solid #e93434;
}
/* line 594, sass/woocommerce/_styles.scss */
.products-list .action-bottom .button {
  display: block;
  text-transform: uppercase;
}
/* line 598, sass/woocommerce/_styles.scss */
.products-list .action-bottom .yith-wcwl-add-to-wishlist {
  position: relative;
}
/* line 600, sass/woocommerce/_styles.scss */
.products-list .action-bottom .yith-wcwl-add-to-wishlist .ajax-loading {
  position: absolute;
  top: 5px;
  left: 20px;
}
/* line 108, sass/components/mixins/_rtl.scss */
.rtl .products-list .action-bottom .yith-wcwl-add-to-wishlist .ajax-loading {
  right: 20px;
  left: auto;
}
/* line 607, sass/woocommerce/_styles.scss */
.products-list .action-bottom .compare.added {
  position: relative !important;
  font-size: inherit;
}
/* line 612, sass/woocommerce/_styles.scss */
.products-list .action-bottom .title, .products-list .action-bottom .clear {
  display: none;
}
/* line 14, sass/bootstrap/mixins/_clearfix.scss */
.products-list .rating:before, .products-list .rating:after {
  content: " ";
  display: table;
}
/* line 19, sass/bootstrap/mixins/_clearfix.scss */
.products-list .rating:after {
  clear: both;
}
/* line 618, sass/woocommerce/_styles.scss */
.products-list .rating .star-rating {
  float: right;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .products-list .rating .star-rating {
  float: left;
}
/* line 622, sass/woocommerce/_styles.scss */
.products-list .clear {
  display: none;
}
/* line 625, sass/woocommerce/_styles.scss */
.products-list .product-block {
  border-bottom: solid 1px #ededed;
}
/* line 627, sass/woocommerce/_styles.scss */
.products-list .product-block .rating {
  display: inline-block;
}
/* line 631, sass/woocommerce/_styles.scss */
.products-list .product-block:hover .action-bottom {
  top: 0;
}
/* line 637, sass/woocommerce/_styles.scss */
.products-list .type-product:last-child .product-block {
  border-bottom: none;
}

/* line 640, sass/woocommerce/_styles.scss */
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
  font-weight: normal;
}

/* line 643, sass/woocommerce/_styles.scss */
ul.pbr-w-products-list {
  padding: 0;
  margin: 0 !important;
}
/* line 646, sass/woocommerce/_styles.scss */
ul.pbr-w-products-list .product-block img {
  max-width: 90px;
  margin-right: 15px;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl ul.pbr-w-products-list .product-block img {
  margin-left: 15px;
  margin-right: inherit;
}

/* line 654, sass/woocommerce/_styles.scss */
.woocommerce span.onsale {
  min-width: auto;
  max-height: auto;
  background-color: #e93434;
  color: #FFF;
  font-size: 12px;
  z-index: 100;
  min-height: auto;
  line-height: 45px;
  padding: 0 6px;
  text-transform: uppercase;
}

/**
 * Single product
 */
/*------------------------------------*\
    Quantity inputs
\*------------------------------------*/
/* line 673, sass/woocommerce/_styles.scss */
.quantity {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
  float: left;
}
/* line 678, sass/woocommerce/_styles.scss */
.quantity span {
  font-size: 16px;
  margin-right: 5px;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl .quantity span {
  margin-left: 5px;
  margin-right: inherit;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .quantity {
  float: right;
}
/* line 683, sass/woocommerce/_styles.scss */
.quantity input.qty {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 10px;
  width: 45px;
  height: 35px;
  color: #000;
  font-weight: 400;
  border: 1px solid #e5e5e5;
}
/* line 57, sass/bootstrap/mixins/_forms.scss */
.quantity input.qty:focus:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 695, sass/woocommerce/_styles.scss */
.quantity .plus, .quantity .minus {
  background: #FFF;
  float: right;
  clear: right;
  display: block;
  padding: 0;
  margin: 0;
  vertical-align: text-top;
  text-decoration: none;
  overflow: visible;
  text-decoration: none;
  cursor: pointer;
  line-height: 13px;
  font-size: 12px;
  color: #666666;
  border: 1px solid #ededed;
  text-align: center;
  width: 25px;
  height: 19px;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .quantity .plus, .rtl .quantity .minus {
  float: left;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .quantity .plus, .rtl .quantity .minus {
  clear: left;
}
/* line 714, sass/woocommerce/_styles.scss */
.quantity .plus {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  right: 0;
}
/* line 115, sass/components/mixins/_rtl.scss */
.rtl .quantity .plus {
  left: 0;
  right: auto;
}
/* line 718, sass/woocommerce/_styles.scss */
.quantity .minus {
  bottom: 0;
  right: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
/* line 115, sass/components/mixins/_rtl.scss */
.rtl .quantity .minus {
  left: 0;
  right: auto;
}

/* Single > Meta */
/* line 727, sass/woocommerce/_styles.scss */
.product_meta {
  clear: both;
  margin-top: 20px;
  padding: 15px 0 5px;
  border-top: 1px solid #ededed;
}
/* line 732, sass/woocommerce/_styles.scss */
.product_meta a {
  color: #a0a0a0;
}
/* line 734, sass/woocommerce/_styles.scss */
.product_meta a:hover {
  color: #b99767;
  text-decoration: none;
}
/* line 739, sass/woocommerce/_styles.scss */
.product_meta > span {
  display: block;
  color: #000;
}
/* line 743, sass/woocommerce/_styles.scss */
.product_meta > div {
  margin-bottom: 10px;
}
/* line 746, sass/woocommerce/_styles.scss */
.product_meta .posted_in, .product_meta .tagged_as {
  font-weight: bold;
  font-weight: 600;
}
/* line 748, sass/woocommerce/_styles.scss */
.product_meta .posted_in a, .product_meta .tagged_as a {
  font-weight: 400;
}

/* line 753, sass/woocommerce/_styles.scss */
.sku_wrapper {
  font-weight: bold;
  font-weight: 600;
}

/* line 754, sass/woocommerce/_styles.scss */
.sku_wrapper span {
  display: inline;
  font-weight: 400;
  color: #a0a0a0;
}

/* line 759, sass/woocommerce/_styles.scss */
.single-product.woocommerce div.product div.images img {
  width: auto;
}
/* line 762, sass/woocommerce/_styles.scss */
.single-product.woocommerce div.product p.price {
  color: #f1ba27;
  font-size: 18px;
}
/* line 766, sass/woocommerce/_styles.scss */
.single-product.woocommerce div.product form.cart {
  margin-bottom: 10px;
}
/* line 768, sass/woocommerce/_styles.scss */
.single-product.woocommerce div.product form.cart div.quantity {
  margin-right: 40px;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl .single-product.woocommerce div.product form.cart div.quantity {
  margin-left: 40px;
  margin-right: inherit;
}
/* line 771, sass/woocommerce/_styles.scss */
.single-product.woocommerce div.product form.cart .variations {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 774, sass/woocommerce/_styles.scss */
.single-product.woocommerce div.product form.cart .variations .label {
  font-size: 12px;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
}
/* line 783, sass/woocommerce/_styles.scss */
.single-product.woocommerce div.product .woocommerce-product-rating {
  margin-bottom: 10px;
}
/* line 788, sass/woocommerce/_styles.scss */
.single-product.woocommerce .quantity .qty {
  width: 90px;
}
/* line 793, sass/woocommerce/_styles.scss */
.single-product .summary {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 14px;
  /* 9 */
  font-size: 1.4rem;
  /* 9 */
}
/* line 795, sass/woocommerce/_styles.scss */
.single-product .summary .star-rating {
  font-size: 12px;
}
/* line 798, sass/woocommerce/_styles.scss */
.single-product .summary .share_social {
  background-color: #f5f5f5;
  border: 1px solid #f0f0f0;
  padding: 15px;
  margin-top: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
/* line 804, sass/woocommerce/_styles.scss */
.single-product .summary .share_social span {
  color: #000;
  line-height: 35px;
}
/* line 809, sass/woocommerce/_styles.scss */
.single-product .summary .clear {
  display: none;
}
/* line 812, sass/woocommerce/_styles.scss */
.single-product .summary .yith-wcwl-add-to-wishlist {
  float: left;
  position: relative;
  margin-bottom: 30px;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .single-product .summary .yith-wcwl-add-to-wishlist {
  float: right;
}
/* line 816, sass/woocommerce/_styles.scss */
.single-product .summary .yith-wcwl-add-to-wishlist .ajax-loading {
  position: absolute;
  top: 5px;
  left: 20px;
}
/* line 108, sass/components/mixins/_rtl.scss */
.rtl .single-product .summary .yith-wcwl-add-to-wishlist .ajax-loading {
  right: 20px;
  left: auto;
}
/* line 822, sass/woocommerce/_styles.scss */
.single-product .summary a.compare {
  float: left;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .single-product .summary a.compare {
  float: right;
}
/* line 824, sass/woocommerce/_styles.scss */
.single-product .summary a.compare.added {
  position: relative !important;
}
/* line 826, sass/woocommerce/_styles.scss */
.single-product .summary a.compare.added:before {
  content: "\f0ec";
  font-family: "FontAwesome";
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl .single-product .summary a.compare.added:before {
  margin-left: 10px;
  margin-right: inherit;
}

/* line 839, sass/woocommerce/_styles.scss */
.woocommerce div.product .woocommerce-tabs {
  border: solid 1px #ededed;
  margin-bottom: 20px;
}
/* line 841, sass/woocommerce/_styles.scss */
.woocommerce div.product .woocommerce-tabs ul.tabs {
  background: transparent;
  color: #f1ba27;
}
/* line 844, sass/woocommerce/_styles.scss */
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  background: transparent;
  border: none;
  padding: 10px 15px;
}
/* line 848, sass/woocommerce/_styles.scss */
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  background-color: #4d4d4d;
}
/* line 851, sass/woocommerce/_styles.scss */
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce div.product .woocommerce-tabs ul.tabs li.active:after {
  box-shadow: 0px 0px 0 #fff !important;
  border: none !important;
}
/* line 855, sass/woocommerce/_styles.scss */
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}
/* line 858, sass/woocommerce/_styles.scss */
.woocommerce div.product .woocommerce-tabs .wc-tab {
  padding-left: 20px;
}
/* line 860, sass/woocommerce/_styles.scss */
.woocommerce div.product .woocommerce-tabs h2 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 20px;
}

/* line 866, sass/woocommerce/_styles.scss */
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  background: none;
  color: #000;
}

/* line 870, sass/woocommerce/_styles.scss */
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-bottom-color: #ededed;
}

/**
 * Category And Listing Page
 */
/* line 878, sass/woocommerce/_styles.scss */
.products-top-wrap {
  border-bottom: solid 1px #000000;
  padding-left: 10px;
  padding-right: 10px;
  background: #FFF;
}
/* line 883, sass/woocommerce/_styles.scss */
.products-top-wrap .woocommerce-ordering {
  margin-top: 10px;
  float: right;
}
/* line 887, sass/woocommerce/_styles.scss */
.products-top-wrap .display-mode {
  float: left;
  margin: 12px 0;
}
/* line 890, sass/woocommerce/_styles.scss */
.products-top-wrap .display-mode .btn {
  border-radius: 0;
  background-color: transparent;
  padding: 4px 7px;
  font-size: 14px;
  line-height: 20px;
  color: #b5b5b5;
  margin-right: 9px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 905, sass/woocommerce/_styles.scss */
.products-bottom-wrap {
  padding: 20px 0;
}
/* line 906, sass/woocommerce/_styles.scss */
.products-bottom-wrap .woocommerce-pagination {
  float: left;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .products-bottom-wrap .woocommerce-pagination {
  float: right;
}
/* line 910, sass/woocommerce/_styles.scss */
.products-bottom-wrap nav.woocommerce-pagination ul, .products-bottom-wrap nav.woocommerce-pagination ul li {
  border: none;
}
/* line 912, sass/woocommerce/_styles.scss */
.products-bottom-wrap nav.woocommerce-pagination ul span.current, .products-bottom-wrap nav.woocommerce-pagination ul li span.current {
  background: transparent;
  color: #b99767;
  text-decoration: underline;
}
/* line 918, sass/woocommerce/_styles.scss */
.products-bottom-wrap nav.woocommerce-pagination ul a:hover, .products-bottom-wrap nav.woocommerce-pagination ul li a:hover {
  background: transparent;
  color: #b99767;
}
/* line 925, sass/woocommerce/_styles.scss */
.products-bottom-wrap .woocommerce-result-count {
  float: right;
  margin: 8px 0;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .products-bottom-wrap .woocommerce-result-count {
  float: left;
}

/*------------------------------------*\
    Quickview
\*------------------------------------*/
/* line 936, sass/woocommerce/_styles.scss */
#pbr-quickview-modal .modal-dialog {
  overflow: hidden;
}
/* line 939, sass/woocommerce/_styles.scss */
#pbr-quickview-modal .modal-dialog del .amount {
  color: #666666;
}
@media (max-width: 991px) {
  /* line 943, sass/woocommerce/_styles.scss */
  #pbr-quickview-modal .modal-dialog.modal-lg {
    width: 90%;
    margin: 15px auto;
  }
}
/* line 950, sass/woocommerce/_styles.scss */
#pbr-quickview-modal .product-info {
  padding: 0;
  margin: 0;
}
/* line 953, sass/woocommerce/_styles.scss */
#pbr-quickview-modal .product-info .summary {
  margin-right: 20px;
  width: 95%;
}
/* line 22, sass/components/mixins/_rtl.scss */
.rtl #pbr-quickview-modal .product-info .summary {
  margin-left: 20px;
  margin-right: inherit;
}
/* line 957, sass/woocommerce/_styles.scss */
#pbr-quickview-modal .product-info .product_title {
  padding-top: 0;
  margin-top: 0;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 30px;
  /* 9 */
  font-size: 3rem;
  /* 9 */
}
/* line 962, sass/woocommerce/_styles.scss */
#pbr-quickview-modal .product-info .product_meta {
  margin: 0;
}
/* line 14, sass/bootstrap/mixins/_clearfix.scss */
#pbr-quickview-modal .product-info .product_meta:before, #pbr-quickview-modal .product-info .product_meta:after {
  content: " ";
  display: table;
}
/* line 19, sass/bootstrap/mixins/_clearfix.scss */
#pbr-quickview-modal .product-info .product_meta:after {
  clear: both;
}
/* line 969, sass/woocommerce/_styles.scss */
#pbr-quickview-modal .close:hover .fa, #pbr-quickview-modal .close:hover .icon {
  color: #b99767;
}
/* line 974, sass/woocommerce/_styles.scss */
#pbr-quickview-modal #quickview-carousel {
  overflow: hidden;
}
/* line 977, sass/woocommerce/_styles.scss */
#pbr-quickview-modal #quickview-carousel:hover .left {
  left: 15px;
}
/* line 108, sass/components/mixins/_rtl.scss */
.rtl #pbr-quickview-modal #quickview-carousel:hover .left {
  right: 15px;
  left: auto;
}
/* line 980, sass/woocommerce/_styles.scss */
#pbr-quickview-modal #quickview-carousel:hover .right {
  right: 15px;
}
/* line 115, sass/components/mixins/_rtl.scss */
.rtl #pbr-quickview-modal #quickview-carousel:hover .right {
  left: 15px;
  right: auto;
}
/* line 986, sass/woocommerce/_styles.scss */
#pbr-quickview-modal .carousel-indicators li {
  border-color: #b99767;
}
/* line 989, sass/woocommerce/_styles.scss */
#pbr-quickview-modal .carousel-indicators .active {
  background: #b99767;
  border-color: #b99767;
}
/* line 994, sass/woocommerce/_styles.scss */
#pbr-quickview-modal .carousel-control {
  top: 0px;
  margin: 57% auto;
  font-weight: normal;
  color: #FFF;
  border: 0px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 20px;
  /* 9 */
  font-size: 2rem;
  /* 9 */
  -webkit-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
/* line 1002, sass/woocommerce/_styles.scss */
#pbr-quickview-modal .carousel-control.left {
  left: -45px;
}
/* line 108, sass/components/mixins/_rtl.scss */
.rtl #pbr-quickview-modal .carousel-control.left {
  right: -45px;
  left: auto;
}
/* line 1005, sass/woocommerce/_styles.scss */
#pbr-quickview-modal .carousel-control.right {
  right: -45px;
}
/* line 115, sass/components/mixins/_rtl.scss */
.rtl #pbr-quickview-modal .carousel-control.right {
  left: -45px;
  right: auto;
}
/* line 1008, sass/woocommerce/_styles.scss */
#pbr-quickview-modal .carousel-control:hover {
  color: #b99767;
}

/**
 * Checkout Page
 */
/**
 * Thanks you page
 */
/************************
 * Form Styles
 ************************/
/* line 6, sass/woocommerce/_form.scss */
.woocommerce #respond input#submit, .woocommerce button.button, .woocommerce input.button {
  color: #fff;
  background-color: #b99767;
  border-color: #b18b56;
  border-radius: 0px;
  padding: 15px 20px;
}
/* line 11, sass/bootstrap/mixins/_buttons.scss */
.woocommerce #respond input#submit:focus, .woocommerce #respond input#submit.focus, .woocommerce button.button:focus, .woocommerce button.button.focus, .woocommerce input.button:focus, .woocommerce input.button.focus {
  color: #fff;
  background-color: #a27e4b;
  border-color: #5c482b;
}
/* line 17, sass/bootstrap/mixins/_buttons.scss */
.woocommerce #respond input#submit:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  color: #fff;
  background-color: #a27e4b;
  border-color: #8a6b3f;
}
/* line 22, sass/bootstrap/mixins/_buttons.scss */
.woocommerce #respond input#submit:active, .woocommerce #respond input#submit.active, .open > .woocommerce #respond input#submit.dropdown-toggle, .woocommerce button.button:active, .woocommerce button.button.active, .open > .woocommerce button.button.dropdown-toggle, .woocommerce input.button:active, .woocommerce input.button.active, .open > .woocommerce input.button.dropdown-toggle {
  color: #fff;
  background-color: #a27e4b;
  border-color: #8a6b3f;
}
/* line 29, sass/bootstrap/mixins/_buttons.scss */
.woocommerce #respond input#submit:active:hover, .woocommerce #respond input#submit:active:focus, .woocommerce #respond input#submit:active.focus, .woocommerce #respond input#submit.active:hover, .woocommerce #respond input#submit.active:focus, .woocommerce #respond input#submit.active.focus, .open > .woocommerce #respond input#submit.dropdown-toggle:hover, .open > .woocommerce #respond input#submit.dropdown-toggle:focus, .open > .woocommerce #respond input#submit.dropdown-toggle.focus, .woocommerce button.button:active:hover, .woocommerce button.button:active:focus, .woocommerce button.button:active.focus, .woocommerce button.button.active:hover, .woocommerce button.button.active:focus, .woocommerce button.button.active.focus, .open > .woocommerce button.button.dropdown-toggle:hover, .open > .woocommerce button.button.dropdown-toggle:focus, .open > .woocommerce button.button.dropdown-toggle.focus, .woocommerce input.button:active:hover, .woocommerce input.button:active:focus, .woocommerce input.button:active.focus, .woocommerce input.button.active:hover, .woocommerce input.button.active:focus, .woocommerce input.button.active.focus, .open > .woocommerce input.button.dropdown-toggle:hover, .open > .woocommerce input.button.dropdown-toggle:focus, .open > .woocommerce input.button.dropdown-toggle.focus {
  color: #fff;
  background-color: #8a6b3f;
  border-color: #5c482b;
}
/* line 37, sass/bootstrap/mixins/_buttons.scss */
.woocommerce #respond input#submit:active, .woocommerce #respond input#submit.active, .open > .woocommerce #respond input#submit.dropdown-toggle, .woocommerce button.button:active, .woocommerce button.button.active, .open > .woocommerce button.button.dropdown-toggle, .woocommerce input.button:active, .woocommerce input.button.active, .open > .woocommerce input.button.dropdown-toggle {
  background-image: none;
}
/* line 45, sass/bootstrap/mixins/_buttons.scss */
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit.disabled:focus, .woocommerce #respond input#submit.disabled.focus, .woocommerce #respond input#submit.disabled:active, .woocommerce #respond input#submit.disabled.active, .woocommerce #respond input#submit[disabled], .woocommerce #respond input#submit[disabled]:hover, .woocommerce #respond input#submit[disabled]:focus, .woocommerce #respond input#submit[disabled].focus, .woocommerce #respond input#submit[disabled]:active, .woocommerce #respond input#submit[disabled].active, fieldset[disabled] .woocommerce #respond input#submit, fieldset[disabled] .woocommerce #respond input#submit:hover, fieldset[disabled] .woocommerce #respond input#submit:focus, fieldset[disabled] .woocommerce #respond input#submit.focus, fieldset[disabled] .woocommerce #respond input#submit:active, fieldset[disabled] .woocommerce #respond input#submit.active, .woocommerce button.button.disabled, .woocommerce button.button.disabled:hover, .woocommerce button.button.disabled:focus, .woocommerce button.button.disabled.focus, .woocommerce button.button.disabled:active, .woocommerce button.button.disabled.active, .woocommerce button.button[disabled], .woocommerce button.button[disabled]:hover, .woocommerce button.button[disabled]:focus, .woocommerce button.button[disabled].focus, .woocommerce button.button[disabled]:active, .woocommerce button.button[disabled].active, fieldset[disabled] .woocommerce button.button, fieldset[disabled] .woocommerce button.button:hover, fieldset[disabled] .woocommerce button.button:focus, fieldset[disabled] .woocommerce button.button.focus, fieldset[disabled] .woocommerce button.button:active, fieldset[disabled] .woocommerce button.button.active, .woocommerce input.button.disabled, .woocommerce input.button.disabled:hover, .woocommerce input.button.disabled:focus, .woocommerce input.button.disabled.focus, .woocommerce input.button.disabled:active, .woocommerce input.button.disabled.active, .woocommerce input.button[disabled], .woocommerce input.button[disabled]:hover, .woocommerce input.button[disabled]:focus, .woocommerce input.button[disabled].focus, .woocommerce input.button[disabled]:active, .woocommerce input.button[disabled].active, fieldset[disabled] .woocommerce input.button, fieldset[disabled] .woocommerce input.button:hover, fieldset[disabled] .woocommerce input.button:focus, fieldset[disabled] .woocommerce input.button.focus, fieldset[disabled] .woocommerce input.button:active, fieldset[disabled] .woocommerce input.button.active {
  background-color: #b99767;
  border-color: #b18b56;
}
/* line 56, sass/bootstrap/mixins/_buttons.scss */
.woocommerce #respond input#submit .badge, .woocommerce button.button .badge, .woocommerce input.button .badge {
  color: #b99767;
  background-color: #fff;
}

/* line 12, sass/woocommerce/_form.scss */
.woocommerce a.button, a.yith-wcwl-add-button {
  background: none;
  padding: 14px 20px;
  font-weight: normal;
  color: #999999;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
/* line 21, sass/woocommerce/_form.scss */
.woocommerce a.button:hover, a.yith-wcwl-add-button:hover {
  background: none;
}

/* line 27, sass/woocommerce/_form.scss */
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  color: #fff;
  background-color: #e93434;
  border-color: #e71d1d;
  border-radius: 0px;
  padding: 15px 30px;
  text-transform: uppercase;
}
/* line 11, sass/bootstrap/mixins/_buttons.scss */
.woocommerce #respond input#submit.alt:focus, .woocommerce #respond input#submit.alt.focus, .woocommerce a.button.alt:focus, .woocommerce a.button.alt.focus, .woocommerce button.button.alt:focus, .woocommerce button.button.alt.focus, .woocommerce input.button.alt:focus, .woocommerce input.button.alt.focus {
  color: #fff;
  background-color: #d31717;
  border-color: #770d0d;
}
/* line 17, sass/bootstrap/mixins/_buttons.scss */
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  color: #fff;
  background-color: #d31717;
  border-color: #b31313;
}
/* line 22, sass/bootstrap/mixins/_buttons.scss */
.woocommerce #respond input#submit.alt:active, .woocommerce #respond input#submit.alt.active, .open > .woocommerce #respond input#submit.alt.dropdown-toggle, .woocommerce a.button.alt:active, .woocommerce a.button.alt.active, .open > .woocommerce a.button.alt.dropdown-toggle, .woocommerce button.button.alt:active, .woocommerce button.button.alt.active, .open > .woocommerce button.button.alt.dropdown-toggle, .woocommerce input.button.alt:active, .woocommerce input.button.alt.active, .open > .woocommerce input.button.alt.dropdown-toggle {
  color: #fff;
  background-color: #d31717;
  border-color: #b31313;
}
/* line 29, sass/bootstrap/mixins/_buttons.scss */
.woocommerce #respond input#submit.alt:active:hover, .woocommerce #respond input#submit.alt:active:focus, .woocommerce #respond input#submit.alt:active.focus, .woocommerce #respond input#submit.alt.active:hover, .woocommerce #respond input#submit.alt.active:focus, .woocommerce #respond input#submit.alt.active.focus, .open > .woocommerce #respond input#submit.alt.dropdown-toggle:hover, .open > .woocommerce #respond input#submit.alt.dropdown-toggle:focus, .open > .woocommerce #respond input#submit.alt.dropdown-toggle.focus, .woocommerce a.button.alt:active:hover, .woocommerce a.button.alt:active:focus, .woocommerce a.button.alt:active.focus, .woocommerce a.button.alt.active:hover, .woocommerce a.button.alt.active:focus, .woocommerce a.button.alt.active.focus, .open > .woocommerce a.button.alt.dropdown-toggle:hover, .open > .woocommerce a.button.alt.dropdown-toggle:focus, .open > .woocommerce a.button.alt.dropdown-toggle.focus, .woocommerce button.button.alt:active:hover, .woocommerce button.button.alt:active:focus, .woocommerce button.button.alt:active.focus, .woocommerce button.button.alt.active:hover, .woocommerce button.button.alt.active:focus, .woocommerce button.button.alt.active.focus, .open > .woocommerce button.button.alt.dropdown-toggle:hover, .open > .woocommerce button.button.alt.dropdown-toggle:focus, .open > .woocommerce button.button.alt.dropdown-toggle.focus, .woocommerce input.button.alt:active:hover, .woocommerce input.button.alt:active:focus, .woocommerce input.button.alt:active.focus, .woocommerce input.button.alt.active:hover, .woocommerce input.button.alt.active:focus, .woocommerce input.button.alt.active.focus, .open > .woocommerce input.button.alt.dropdown-toggle:hover, .open > .woocommerce input.button.alt.dropdown-toggle:focus, .open > .woocommerce input.button.alt.dropdown-toggle.focus {
  color: #fff;
  background-color: #b31313;
  border-color: #770d0d;
}
/* line 37, sass/bootstrap/mixins/_buttons.scss */
.woocommerce #respond input#submit.alt:active, .woocommerce #respond input#submit.alt.active, .open > .woocommerce #respond input#submit.alt.dropdown-toggle, .woocommerce a.button.alt:active, .woocommerce a.button.alt.active, .open > .woocommerce a.button.alt.dropdown-toggle, .woocommerce button.button.alt:active, .woocommerce button.button.alt.active, .open > .woocommerce button.button.alt.dropdown-toggle, .woocommerce input.button.alt:active, .woocommerce input.button.alt.active, .open > .woocommerce input.button.alt.dropdown-toggle {
  background-image: none;
}
/* line 45, sass/bootstrap/mixins/_buttons.scss */
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt.disabled:focus, .woocommerce #respond input#submit.alt.disabled.focus, .woocommerce #respond input#submit.alt.disabled:active, .woocommerce #respond input#submit.alt.disabled.active, .woocommerce #respond input#submit.alt[disabled], .woocommerce #respond input#submit.alt[disabled]:hover, .woocommerce #respond input#submit.alt[disabled]:focus, .woocommerce #respond input#submit.alt[disabled].focus, .woocommerce #respond input#submit.alt[disabled]:active, .woocommerce #respond input#submit.alt[disabled].active, fieldset[disabled] .woocommerce #respond input#submit.alt, fieldset[disabled] .woocommerce #respond input#submit.alt:hover, fieldset[disabled] .woocommerce #respond input#submit.alt:focus, fieldset[disabled] .woocommerce #respond input#submit.alt.focus, fieldset[disabled] .woocommerce #respond input#submit.alt:active, fieldset[disabled] .woocommerce #respond input#submit.alt.active, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt.disabled:focus, .woocommerce a.button.alt.disabled.focus, .woocommerce a.button.alt.disabled:active, .woocommerce a.button.alt.disabled.active, .woocommerce a.button.alt[disabled], .woocommerce a.button.alt[disabled]:hover, .woocommerce a.button.alt[disabled]:focus, .woocommerce a.button.alt[disabled].focus, .woocommerce a.button.alt[disabled]:active, .woocommerce a.button.alt[disabled].active, fieldset[disabled] .woocommerce a.button.alt, fieldset[disabled] .woocommerce a.button.alt:hover, fieldset[disabled] .woocommerce a.button.alt:focus, fieldset[disabled] .woocommerce a.button.alt.focus, fieldset[disabled] .woocommerce a.button.alt:active, fieldset[disabled] .woocommerce a.button.alt.active, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt.disabled:focus, .woocommerce button.button.alt.disabled.focus, .woocommerce button.button.alt.disabled:active, .woocommerce button.button.alt.disabled.active, .woocommerce button.button.alt[disabled], .woocommerce button.button.alt[disabled]:hover, .woocommerce button.button.alt[disabled]:focus, .woocommerce button.button.alt[disabled].focus, .woocommerce button.button.alt[disabled]:active, .woocommerce button.button.alt[disabled].active, fieldset[disabled] .woocommerce button.button.alt, fieldset[disabled] .woocommerce button.button.alt:hover, fieldset[disabled] .woocommerce button.button.alt:focus, fieldset[disabled] .woocommerce button.button.alt.focus, fieldset[disabled] .woocommerce button.button.alt:active, fieldset[disabled] .woocommerce button.button.alt.active, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt.disabled:focus, .woocommerce input.button.alt.disabled.focus, .woocommerce input.button.alt.disabled:active, .woocommerce input.button.alt.disabled.active, .woocommerce input.button.alt[disabled], .woocommerce input.button.alt[disabled]:hover, .woocommerce input.button.alt[disabled]:focus, .woocommerce input.button.alt[disabled].focus, .woocommerce input.button.alt[disabled]:active, .woocommerce input.button.alt[disabled].active, fieldset[disabled] .woocommerce input.button.alt, fieldset[disabled] .woocommerce input.button.alt:hover, fieldset[disabled] .woocommerce input.button.alt:focus, fieldset[disabled] .woocommerce input.button.alt.focus, fieldset[disabled] .woocommerce input.button.alt:active, fieldset[disabled] .woocommerce input.button.alt.active {
  background-color: #e93434;
  border-color: #e71d1d;
}
/* line 56, sass/bootstrap/mixins/_buttons.scss */
.woocommerce #respond input#submit.alt .badge, .woocommerce a.button.alt .badge, .woocommerce button.button.alt .badge, .woocommerce input.button.alt .badge {
  color: #e93434;
  background-color: #fff;
}

/* line 35, sass/woocommerce/_form.scss */
.woocommerce a.add_to_cart_button, .woocommerce a.product_type_external, #main-container .woocommerce button.button.single_add_to_cart_button {
  min-width: 135px;
  padding: 5px;
  display: block;
  text-align: left;
  display: inline-block;
  line-height: 30px;
  border: none;
}
/* line 11, sass/components/mixins/_rtl.scss */
.rtl .woocommerce a.add_to_cart_button, .rtl .woocommerce a.product_type_external, .rtl #main-container .woocommerce button.button.single_add_to_cart_button {
  text-align: right;
}
/* line 45, sass/woocommerce/_form.scss */
.woocommerce a.add_to_cart_button .icon-cart, .woocommerce a.product_type_external .icon-cart, #main-container .woocommerce button.button.single_add_to_cart_button .icon-cart {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #f1ba27;
  line-height: 30px;
  font-size: 14px;
}
/* line 53, sass/woocommerce/_form.scss */
.woocommerce a.add_to_cart_button .title-cart, .woocommerce a.product_type_external .title-cart, #main-container .woocommerce button.button.single_add_to_cart_button .title-cart {
  font-size: 12px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 1199px) {
  /* line 53, sass/woocommerce/_form.scss */
  .woocommerce a.add_to_cart_button .title-cart, .woocommerce a.product_type_external .title-cart, #main-container .woocommerce button.button.single_add_to_cart_button .title-cart {
    padding-right: 10px;
  }
  /* line 22, sass/components/mixins/_rtl.scss */
  .rtl .woocommerce a.add_to_cart_button .title-cart, .rtl .woocommerce a.product_type_external .title-cart, .rtl #main-container .woocommerce button.button.single_add_to_cart_button .title-cart {
    padding-left: 10px;
    padding-right: inherit;
  }
}
/* line 64, sass/woocommerce/_form.scss */
.woocommerce a.add_to_cart_button:hover, .woocommerce a.product_type_external:hover, #main-container .woocommerce button.button.single_add_to_cart_button:hover {
  color: #f1ba27;
}

/**
 * Input Form Styles
 */
/* line 76, sass/woocommerce/_form.scss */
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text, .woocommerce form .form-row textarea, .woocommerce select, .woocommerce-cart table.cart input.input-text {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.62857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/* line 57, sass/bootstrap/mixins/_forms.scss */
.woocommerce form .form-row .input-text:focus, .woocommerce-page form .form-row .input-text:focus, .woocommerce form .form-row textarea:focus, .woocommerce select:focus, .woocommerce-cart table.cart input.input-text:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 103, sass/bootstrap/mixins/_vendor-prefixes.scss */
.woocommerce form .form-row .input-text::-moz-placeholder, .woocommerce-page form .form-row .input-text::-moz-placeholder, .woocommerce form .form-row textarea::-moz-placeholder, .woocommerce select::-moz-placeholder, .woocommerce-cart table.cart input.input-text::-moz-placeholder {
  color: #999;
  opacity: 1;
}
/* line 107, sass/bootstrap/mixins/_vendor-prefixes.scss */
.woocommerce form .form-row .input-text:-ms-input-placeholder, .woocommerce-page form .form-row .input-text:-ms-input-placeholder, .woocommerce form .form-row textarea:-ms-input-placeholder, .woocommerce select:-ms-input-placeholder, .woocommerce-cart table.cart input.input-text:-ms-input-placeholder {
  color: #999;
}
/* line 108, sass/bootstrap/mixins/_vendor-prefixes.scss */
.woocommerce form .form-row .input-text::-webkit-input-placeholder, .woocommerce-page form .form-row .input-text::-webkit-input-placeholder, .woocommerce form .form-row textarea::-webkit-input-placeholder, .woocommerce select::-webkit-input-placeholder, .woocommerce-cart table.cart input.input-text::-webkit-input-placeholder {
  color: #999;
}
/* line 102, sass/woocommerce/_form.scss */
.woocommerce form .form-row .input-text[disabled], .woocommerce form .form-row .input-text[readonly], fieldset[disabled] .woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text[disabled], .woocommerce-page form .form-row .input-text[readonly], fieldset[disabled] .woocommerce-page form .form-row .input-text, .woocommerce form .form-row textarea[disabled], .woocommerce form .form-row textarea[readonly], fieldset[disabled] .woocommerce form .form-row textarea, .woocommerce select[disabled], .woocommerce select[readonly], fieldset[disabled] .woocommerce select, .woocommerce-cart table.cart input.input-text[disabled], .woocommerce-cart table.cart input.input-text[readonly], fieldset[disabled] .woocommerce-cart table.cart input.input-text {
  background-color: #eeeeee;
  opacity: 1;
}
/* line 109, sass/woocommerce/_form.scss */
.woocommerce form .form-row .input-text[disabled], fieldset[disabled] .woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text[disabled], fieldset[disabled] .woocommerce-page form .form-row .input-text, .woocommerce form .form-row textarea[disabled], fieldset[disabled] .woocommerce form .form-row textarea, .woocommerce select[disabled], fieldset[disabled] .woocommerce select, .woocommerce-cart table.cart input.input-text[disabled], fieldset[disabled] .woocommerce-cart table.cart input.input-text {
  cursor: not-allowed;
}

/* line 114, sass/woocommerce/_form.scss */
.woocommerce form .form-row textarea {
  min-height: 100px;
}

/* line 117, sass/woocommerce/_form.scss */
.woocommerce-cart table.cart input {
  padding: 10px 12px;
}
