/************************
 * Form Styles
 ************************/

//// normal button
.woocommerce #respond input#submit, .woocommerce button.button, .woocommerce input.button{
 	@include button-variant( $btn-primary-color, $theme-color, $theme-color);
    border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    padding: 15px $padding-large-horizontal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled] {
    padding: 15px $padding-large-horizontal;
}

.woocommerce a.button, a.yith-wcwl-add-button{
    background:$theme-color;
    padding:14px 20px;
    font-weight: normal;
    color: $white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    border-radius: 0;
    &:hover{
        background:darken($theme-color,10%);
        color: $white;
    }
}
/// submission buttons
 
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	@include button-variant( $btn-primary-color, $theme-color, $theme-color);
    border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    padding:$product-button-padding;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    @include transition(.3s);
}
 
/// add to cart button and buy product button
 .woocommerce  a.add_to_cart_button, .woocommerce a.product_type_external, #main-container .woocommerce button.button.single_add_to_cart_button {
    .icon-cart{
        @include size(16px, 16px);
        line-height: 13px;
        text-align: center;
        color: $theme-color-default;
        font-size: $font-size-base - 6;
        border:2px solid $theme-color-default;
        border-radius:50%;

    }
    &:hover{
        color: #fff; 
    } 
}

/// 


/**
 * Input Form Styles
 */
//// input and textarea. styles extended from bootstrap form
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text, .woocommerce form .form-row textarea,  .woocommerce select, .woocommerce-cart table.cart input.input-text {
	
    padding: 5px 15px;
    line-height: $line-height-base !important;
	font-size: $font-size-base - 2;
	color: $input-color;
	background-color: $input-bg;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid $input-border;
	border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.

	// Customize the `:focus` state to imitate native WebKit styles.
	@include form-control-focus;

	// Placeholder
	@include placeholder;

	// Disabled and read-only inputs
	//
	// HTML5 says that controls under a fieldset > legend:first-child won't be
	// disabled if the fieldset is disabled. Due to implementation difficulty, we
	// don't honor that edge case; we style them as disabled anyway.
	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		background-color: $input-bg-disabled;
		opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
	}

	&[disabled],
	fieldset[disabled] & {
		cursor: $cursor-disabled;
	}
}
.woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text, 
.woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button, 
.woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input, 
.woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button, 
.woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input{
    width: auto!important;
    @media (max-width: $screen-phone) {
        width: 100% !important;
    }
}
.woocommerce form .form-row textarea{
   min-height: 100px;	
}
.woocommerce-cart table.cart input{
    letter-spacing: 0;
    &.btn-default {
        padding: 14px 40px;
    }
}

.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: auto!important;
    padding: 9px ;
    @media (max-width: $screen-phone) {
        width: 100% !important;
        margin: 0 0 10px;
    }
}

.woocommerce form .form-row.woocommerce-validated .select2-container, 
.woocommerce form .form-row.woocommerce-validated input.input-text, 
.woocommerce form .form-row.woocommerce-validated select {
    border-color: $theme-color;
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{
    @media screen and (max-width: $screen-xs-min) {
        float: none!important;
        width: auto!important;
    }
}
.select2-container .select2-choice {
    padding: 4px !important;
    border-radius: 0 !important;
}

.woocommerce-cart table.cart input.input-text {
    line-height:  40px !important;
    height: 42px;
    width: 100px;
}
.woocommerce-checkout {
    #customer_details {
        margin-bottom: 60px;
    }
    h3 {
        font-size: 26px;
    }
}
.woocommerce table.shop_table {
    border-radius: 0 !important;
    th {
        font-weight: 500 !important;
        border-bottom: 0;
    }
}
.woocommerce,
.woocommerce-page {
    .woocommerce-checkout .col2-set .col-1,
    .woocommerce-checkout .col2-set .col-2 {
        float: none;
        width: 100%;
    }
    .page-title {
        display: none;
    }
}

