/*------------------------------------*\
    Mini Cart
\*------------------------------------*/
.woocommerce-mini-cart {
    list-style: none;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
    border-bottom: 1px solid $border-color;
    li {
        margin-bottom: 20px;
        position: relative;
        a {
            display: block;
            font-weight: 500;
        }
        &:first-child {
            margin-top: 0;
        }
    }
    a.remove {
        color: $brand-danger;
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 16px;
    }
    img {
        width: 80px;
        margin-right: 15px;
    }
    .quantity {
        float: none;
        span {
            font-size: 14px;
            color: $theme-color;
        }
    }
}

.cart-wrapper {
    display: flex;
    i {
        font-size: 24px;
    }
}

#cart {
    &.open {
        .mini-cart:before {
            content: "";
            background: transparent;
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%, 200px);
        }
    }
}

.mini-cart {
    font-weight: 500;
    outline: none !important;
    display: flex;
    .amount {
        color: $theme-color-secondary;
    }
    .title-cart {
        display: block;
        font-size: 10px;
        text-transform: uppercase;
    }
    &:after {
        font-size: 12px;
        margin-top: 2px;
        margin-left: 0.5em;
    }
}

.cart-right {
    > span {
        line-height: 1;
    }
}

.cart-icon {
    position: relative;
    margin-right: 30px;
    span {
        display: block;
        background-color: $theme-color;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        color: $white;
        font-size: 12px;
        border-radius: 50%;
        position: absolute;
        right: -18px;
        top: -5px;
    }
    em {
        display: none;
    }
}

.opal-btn-wishlist {
    margin-right: 30px;
    position: relative;
    .count {
        border-radius: 50%;
        background-color: $theme-color;
        color: $white;
        font-size: 12px;
        font-weight: 500;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        position: absolute;
        right: -15px;
        top: -11px;
    }
}

.pbr-topcart {
    .dropdown-menu {
        top: 50px;
        padding: $theme-padding - 10;
        min-width: $mini-cart-dropdown-size;
        display: block;
        visibility: hidden;
        text-align: left;
        left: auto;
        right: 0;
        @include box-sizing(border-box);
        @include opacity(0);
        @include scale(0);
        @include transition(all 300ms cubic-bezier(0.34, 1.61, 0.7, 1));
        &:before,
        &:after {
            content: "";
            @include inline-block();
            position: absolute;
            left: 100%;
            margin-left: -26%;
        }
        &:before {
            top: -11px;
            border-bottom: 11px solid rgba($black, 0.2);
            border-left: 11px solid rgba($black, 0);
            border-right: 11px solid rgba($black, 0);
        }
        &:after {
            top: -10px;
            border-bottom: 11px solid $white;
            border-left: 11px solid rgba($black, 0);
            border-right: 11px solid rgba($black, 0);
        }
    }
    .media {
        border-bottom: solid 1px $border-color;
    }
    .name {
        a {
            color: $black !important;
            &:hover {
                color: $theme-color !important;
            }
        }
    }
    .open {
        .dropdown-menu {
            @include scale(1);
            @include opacity(1);
            @include transform-origin(29px, -50px);
            @include filter(none);
            visibility: visible;
            z-index: 99999;
        }
    }
    .buttons {
        margin-bottom: 0;
        @include flexbox;
        justify-content: space-between;
        a {
            @include button-variant($white, $theme-color, $theme-color);
            @include button-size($padding-large-vertical, $padding-large-horizontal - 5, $font-size-base - 4, $line-height-base, $btn-border-radius-base);
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}

///// Elements Styles //////////////// ////////////// ////////////// ////////////// ////////////// ////////////// //////////////

.woocommerce .product.first {
    clear: both;
}

.widget-products {
    .owl-controls {
        display: none !important;
    }
}

.widget-products-bg {
    // margin: 0 -20px;
    // .owl-wrapper-outer {
    //     //margin: 0 -10px;
    // }
    // .owl-item {
    //     padding: 0 20px;
    // }
    .product-block .caption::before {
        content: none;
    }
}

.productinfo-show-discounts {
    font-size: $font-size-base - 2;
    margin: 20px 0 !important;
    padding-left: 75px;
    position: relative;
    color: #666;
    &:before {
        background: url('#{$image-theme-path}icon-show-discounts.png') no-repeat center center $brand-success;
        @include size (36px, 36px);
        @include border-radius(50%);
        position: absolute;
        left: 20px;
        top: 20px;
        content: "";
    }
    padding: 0;
    margin-bottom: $line-height-computed;
    border-radius: $alert-border-radius;
    overflow: hidden;

    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);

    ul {
        list-style: none;
        margin-left: 40px;
        padding: 15px 30px;
        li {
            padding: 3px 0;
            &:before {
                content: "\f14a";
                font-family: "FontAwesome";
                color: $brand-success;
                padding-right: 8px;
            }
        }
    }
}

//reviews
#reviews {
    margin-bottom: 0;
    .reviews-summary {
        padding: 0 80px;
        h5 {
            font-size: 12px;
            margin-bottom: 20px;
        }
        .review-summary-total {
            text-align: center;
            font-weight: 400;
            margin-right: 50px;
            padding-right: 50px;
            border-right: 1px solid $border-color;
            .review-summary-result {
                text-align: center;
                color: $theme-color;
                font-size: 48px;
            }
        }
        .review-summary-detal {
            overflow: hidden;
            display: block;
            margin-top: 0px;
            .review-label {
                color: $black;
                font-weight: 400;
                min-width: 60px;
            }
            .progress {
            }
        }
    }
    .comments {
        border-top: 1px solid $border-color;
        padding: 40px 0;
        margin-top: 40px;
        .commentlist {
            margin: 15px 0;
            .comment {
                margin-bottom: 30px;
                padding-bottom: 15px;
                border-bottom: 1px solid $border-color;
                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
            .pbr-avata {
                width: 100px;
                > div {
                    display: inline-block;
                }
                .pbr-image {
                    .avatar {
                        @include border-radius(50%);
                        overflow: hidden;
                    }
                }
                .pbr-author {
                    color: $black;
                    font-weight: 900;
                    padding-top: 10px;
                    text-transform: capitalize;
                }
            }
            .comment-text {
                padding: 0 20px;
                .meta {
                    color: #bbb;
                    font-size: 12px;
                }
                > div {
                    margin-bottom: 7px;
                    float: left;
                }
                .star-rating {
                    margin-bottom: 15px;
                }
            }
        }
    }
    .review_form_wrapper {
        border-top: 1px solid $border-color;
        padding: 40px 0 0;
    }

    .progress {
        margin-bottom: 12px;
        background-color: #f2f2f2;
        @include box-shadow(none);
        height: 30px;
        .progress-bar {
            color: #aaa;
            font-weight: 500;
            &.progress-bared {
                color: #fff;
            }
        }
    }

    #reply-title {
        margin-bottom: 20px;
        font-size: 16px;
        font-family: $font-family-base;
    }
}

////////// Pages Styles ////////////// ////////////// ////////////// ////////////// ////////////// ////////////// //////////////
/**
 * Product Single Page
 */

.product-block {
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    @include transition(all 400ms ease 0s);
    z-index: 0;
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
        margin-bottom: 30px;
    }
    span.onsale {
        top: inherit;
        right: 0;
        left: 0;
        bottom: -15px;
        margin: 0 auto;
    }
    .sale-off {
        position: absolute;
        @include size(36px, 36px);
        background-color: #fb4949;
        color: #fff;
        top: 0;
        right: 0;
        @include border-radius(50%);
        line-height: 36px;
        font-size: 12px;
        font-weight: 400;
    }
    .image {
        position: relative;
        img {
            height: auto;
            width: 100%;
        }
        a, .product-image {
            display: block;
            overflow: hidden;
            position: relative;
        }
        .image-effect {
            top: 0;
            position: absolute;
            overflow: hidden;
            left: 0;
            @include opacity(1);
            @include translate(-100%, 0px);
            @include transition(all 0.3s);
        }
        .image-hover {
            @include transition(all 0.3s);
        }
        &:hover {
            .image-effect {
                @include translate(0px, 0px);
            }
            .image-hover {
                @include translate(100%, 0px);
            }
        }

    }
    
    .model {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .category {
        text-transform: none;
        font-weight: $product-category-font-weight;
        font-style: $product-category-font-style;
        @include font-size(font-size, $product-category-font-size);
        a {
            color: $product-category-color;
            &:hover {
                color: $product-category-hover-color;
            }
        }
    }

    .product-year {
        position: relative;
        padding: 0 40px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 10px;
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            display: none;
        }
        span {
            font-size: 10px;
        }
        p {
            color: $theme-color-secondary;
            margin-bottom: 0;
        }
        &:before, &:after {
            content: "";
            height: 1px;
            width: 20px;
            background-color: $theme-color-secondary;
            position: absolute;
            top: 50%;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }   
    .name {
        @include font-size(font-size, $product-name-font-size);
        line-height: $product-name-line-height;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .price {
        > * {
            width: auto;
            display: block;
            text-align: center;
            position: relative;
            @include font-size(font-size, $product-price-font-size);
            font-weight: $product-price-font-weight;
            color: $product-price-color;
            font-family: $headings-font-family;
            line-height: 1.1;
            font-size: 24px;
            @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
                font-size: $font-size-base;
            }
        }
        & > ins {
            text-decoration: none;
        }
        & > del {
            color: $light-gray;
            font-size: $font-size-base;
            text-decoration: line-through;
            @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
                font-size: $font-size-base - 2;
            }
        }
    }

    .caption {
        position: absolute;
        top: auto;
        bottom: 20px;
        left: 20px;
        right: 20px;
        background: $white;
        z-index: 99;
        @include transition(all 0.3s ease);
        .meta{
            padding: 30px 15px;
            @include flexbox();
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
            @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
                padding: 15px;
            }
            .rating{
                order: 3;
                display: none;
            }
            .price{
                order: 2;
                display: none;
                // margin-bottom: 10px;
            }
        }
    }
        
    .button-action{
        height: 104px;
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        background: $white;
        z-index: 99;
        @include translateY(100%);
        visibility: hidden;
        @include transition(all 0.25s ease);
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            height: 74px;
        }
        >div{
            display: inline-block
        }
        >.clear{
            display: none !important;
        }
        .add-cart{
            display: block !important;
            margin-top: 30px;
            @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
                margin-top: 0;
            }
            .btn-primary{
                border: 0 !important;
                padding: 0;
                font-size: 12px;
                background-color: $theme-color !important;
                color: $white;
                height: 42px;
                line-height: 42px;
                @include transition(all 0.3s ease);
                .title-cart{
                    display: block;
                }
                &:after{
                    top: 0;
                }
                &:hover{
                    background-color: $theme-color-second !important;
                }
            }
            .added_to_cart {
                display: none !important;
            }
        } 
        div[class*="add-to-wishlist"] {
            margin-top: 0;
            position: relative;
            .feedback{
                display: none;
            }
            .ajax-loading{
                margin: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .yith-compare{
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
            .compare{
                &.added{
                    &:after{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        content: "\f0ec";
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
            }
            span{
                display: none;
            }
        }
        .show a,.quick-view a,.yith-compare .compare{
            display: block;
            font-size: 16px;
            background-color: transparent;
            color: $text-color;
            height: 20px;
            width: 40px;
            line-height: 20px;
            position: relative;
            @include border-radius(50%);
            @include transition(all 0.3s ease);
            i{
                margin: 0;
            }
            &:hover{
                color: $theme-color !important;
            }
        }
        
        span{
            display: none;
        }
    }
    &:hover{
        .caption {
            top: 20px;
            bottom: 123px;
            @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
                bottom: 93px;
            }
            .meta{
                .rating{
                    display: block;
                }
                .price{
                    display: block;
                    
                }
            }
        }
        .button-action{
            bottom: 20px;
            @include translateY(0);
            visibility: visible;
            @include opacity(1);
        }
    }
}

/**
 * Products Listing In Grid Style
 */
// 

.products-list {
    .product-block{
        border-bottom: 1px solid $border-color;
        padding-bottom: 40px;
        >.row{
            @include flexbox();
            align-items: center;
            @media (max-width: $screen-xs-max) {
                display: block
            }
        }
        .name{
            font-size: 24px;
            font-family: $font-family-bold;
            line-height: normal;
            margin-top: 25px;
            margin-bottom: 15px;
            a{
                @icnlude transition(all 0.3s ease);
                &:hover{
                    color: $theme-color;
                }
            }
        }
        .description{
            line-height: 30px;
            margin-bottom: 25px;
        }
        .price {
            margin: 0;
            > *{
                font-family: $font-family-bold;
                font-size: 24px;
                display: inline-block;
            }
            & > del {
                font-size: 16px;
            }
        }
        .product-assets{
            >div{
                display: inline-block
            }
            >.clear{
                display: none !important;
            }
            .add-cart{
                .btn-primary{
                    border: 0 !important;
                    padding: 0;
                    display: inline-block;
                    font-size: 16px;
                    background-color: $theme-color !important;
                    color: $white;
                    height: 50px;
                    width: 50px;
                    line-height: 50px;
                    @include border-radius(50%);
                    @include transition(all 0.3s ease);
                    &:hover{
                        background-color: $theme-color-second !important;
                    }
                    .hidden{
                        display: block !important;
                        line-height: inherit;
                    }
                    .title-cart{
                        display: none;
                    }
                }
            } 
            div[class*="add-to-wishlist"] {
                margin-top: 0;
                position: relative;
                .feedback{
                    display: none;
                }
                .ajax-loading{
                    display: none !important;
                }
            }
            .yith-compare{
                .compare{
                    &.added{
                        text-indent: -9999px;
                        &:after{
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            font-family: FontAwesome;
                            content: "\f0ec";
                            text-indent: 0;
                        }
                    }
                }
                span{
                    display: none;
                }
            }
            .show a,.quick-view a,.yith-compare .compare{
                display: inline-block;
                font-size: 16px;
                background-color: $theme-color !important;
                color: $white;
                height: 50px;
                width: 50px;
                line-height: 50px;
                position: relative;
                @include border-radius(50%);
                @include transition(all 0.3s ease);
                i{
                    margin: 0;
                }
                &:hover{
                    background-color: $theme-color-second !important;
                }
            }
            span{
                display: none;
            }
        }
    }
}

ul.pbr-w-products-list {
    padding: 0;
    margin: 0 !important;
    .product-block {
        img {
            max-width: 90px;
        }
    }

}

.woocommerce .product,
.products {
    span.onsale {
        min-width: auto;
        max-height: auto;
        background-color: $theme-color-secondary;
        color: $white;
        font-size: 12px;
        z-index: 1;
        line-height: 65px;
        border-radius: 50%;
        font-weight: 400;
        width: 65px;
        height: 65px;
        top: 20px;
        left: 20px;
        position: absolute;
        text-align: center;
        bottom: auto;
        right: auto;
        text-transform: uppercase;
    }
    .star-rating {
        font-size: 11px;
        display: inline-block;
        float: none;
        font-family: star;
        height: 1.2em;
        line-height: 1;
        overflow: hidden;
        position: relative;
        width: 5.4em;
        margin-bottom: 0;
        &:before {
            content: "\53\53\53\53\53";
            color: #d3ced2;
            float: left;
            left: 0;
            position: absolute;
            top: 0;
        }
        span {
            float: left;
            left: 0;
            overflow: hidden;
            padding-top: 1.5em;
            position: absolute;
            top: 0;
            &:before {
                content: "\53\53\53\53\53";
                color: $brand-warning;
                left: 0;
                position: absolute;
                top: 0;
            }
        }
        @media (max-width: 1024px) {
            margin-bottom: 0;
        }
    }
}



/**
 * Products Special Style
 */
.widget.widget-special{
    margin-bottom: 0;
    .space-padding-bottom-40{
        padding: 0 !important;
    }
    .product-block{
        text-align: center;
        margin-bottom: 40px;
        &:hover{
            .image{
                .action-special{
                    >div:not(.clear){
                        visible: visible;
                        @include scale(1);
                    }
                }
            }
        }
        .image{
            position: relative;
            .action-special{
                @include flexbox();
                justify-content: center;
                height: 50px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                >div:not(.clear){
                    margin: 0 3px;
                    visible: hidden;
                    @include scale(0);
                    @include transition(all 0.3s ease);
                }
            }
            .add-cart{
                .btn-primary{
                    border: 0 !important;
                    padding: 0;
                    display: inline-block;
                    font-size: 16px;
                    background-color: $theme-color !important;
                    color: $white;
                    height: 50px;
                    width: 50px;
                    line-height: 50px;
                    @include border-radius(50%);
                    @include transition(all 0.3s ease);
                    &:hover{
                        background-color: $theme-color-second !important;
                    }
                    .hidden{
                        display: block !important;
                        line-height: inherit;
                    }
                    .title-cart{
                        display: none;
                    }
                }
            } 
            div[class*="add-to-wishlist"] {
                margin-top: 0;
                position: relative;
                .feedback{
                    display: none;
                }
            }
            .yith-compare{
                .compare{
                    &.added{
                        text-indent: -9999px;
                        &:after{
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            font-family: FontAwesome;
                            content: "\f0ec";
                            text-indent: 0;
                        }
                    }
                }
                span{
                    display: none;
                }
            }
            .show a,.quick-view a,.yith-compare .compare{
                font-size: 16px;
                background-color: $theme-color !important;
                color: $white;
                height: 50px;
                width: 50px;
                line-height: 50px;
                position: relative;
                @include border-radius(50%);
                @include transition(all 0.3s ease);
                i{
                    margin: 0;
                }
                &:hover{
                    background-color: $theme-color-second !important;
                }
            }
            span{
                display: none;
            }
        }
        .special-product{
            .name{
                font-size: 24px;
                font-family: $font-family-bold;
                line-height: normal;
                margin-top: 44px;
                margin-bottom: 23px;
                a{
                    @icnlude transition(all 0.3s ease);
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
            .description{
                line-height: 30px;
                margin-bottom: 25px;
            }
            .price {
                margin: 0;
                > *{
                    font-family: $font-family-bold;
                    font-size: 24px;
                    display: inline-block;
                }
                & > del {
                    font-size: 16px;
                }
            }
        }
    }
}





/**
 * Single product
 */
/*------------------------------------*\
    Quantity inputs
\*------------------------------------*/
.quantity {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
    float: left;
    span {
        font-size: $font-size-base + 2;
        margin-right: 5px;
    }
    input.qty {
        @include border-right-radius(0);
        @include border-left-radius(0);
        padding: 5px;
        @include size(45px, 35px);
        color: $black;
        font-weight: 400;
        border: 1px solid #e5e5e5;
        &:focus {
            @include form-control-focus();
        }
    }
    .plus, .minus {
        background: $white;
        display: block;
        padding: 0;
        margin: 0;
        vertical-align: text-top;
        text-decoration: none;
        overflow: visible;
        text-decoration: none;
        cursor: pointer;
        line-height: 40px;
        font-size: 14px;
        font-weight: 700;
        color: $black;
        border: none;
        text-align: center;
        height: 40px;
        width: 20px;
        position: absolute;
        top: 1px;
        outline: none !important;
    }
    .plus {
        @include border-bottom-radius(0);
        right: 12px;
    }
    .minus {
        left: 12px;
        @include border-top-radius(0);
    }
}

/* Single > Meta */
.product_meta {
    clear: both;
    margin-top: 15px;
    padding: 30px 0 5px;
    border-top: 1px solid $border-color;
    font-size: 14px;
    a {
        &:hover {
            text-decoration: none;
        }
    }
    > span {
        display: block;
    }
    > div {
        margin-bottom: $theme-margin / 2;
    }
}

.sku_wrapper span {
    display: inline;
}

//---------------
.quantity {
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0;
    }
}
.single-product {
    &.woocommerce {
        .woocommerce-product-gallery {
            .col-lg-9 {
                width: 82%;
            }
            .col-lg-3 {
                width: 18%;
            }
            .owl-controls {
                display: none !important;
            }
            .carousel-control {
                width: 50%;
                height: 30px;
                line-height: 30px;
                top: auto;
                bottom: -20px;
                opacity: 1;
                border: none;
            }
            .carousel-controls-v3 .carousel-control.left {
                left: 0;
            }
            .carousel-controls-v3 .carousel-control.right {
                right: 0;
            }
            @media (max-width: 980px) {
                .col-lg-9, .col-lg-3 {
                    float: left;
                }
            }
        }
        div.product {
            span.onsale {
                display: none;
            }
            .products {
                span.onsale {
                    display: block;
                }
            }
            div.images img {
                width: auto;
                margin-bottom: 20px;
            }
            p.price {
                color: $product-price-color;
                font-size: 30px;
                font-weight: 700;
                del {
                    font-size: 16px;
                    color: #000;
                    font-weight: 600;
                }
                ins {
                    text-decoration: none;
                }
            }
            form.cart {
                margin-bottom: 5px;
                margin-top: 40px;
                padding-top: 25px;
                border-top: 1px solid $border-color;
                div.quantity {
                    margin-right: 40px;
                    margin-bottom: 15px;
                    padding: 0px;
                    @media (max-width: $screen-phone) {
                        margin-right: 15px;
                    }
                }
                .variations {
                    margin-top: 10px;
                    margin-bottom: 40px;
                    .label {
                        font-size: 12px;
                        text-transform: uppercase;
                        font-weight: normal;

                    }
                }
            }
            .woocommerce-product-rating {
                margin-bottom: 30px;
                margin-top: 30px;
                border-bottom: 1px solid $border-color;
                border-top: 1px solid $border-color;
                padding: 15px 0;
                .woocommerce-review-link {
                    margin-left: 15px;
                    padding-left: 15px;
                    border-left: 1px solid $border-color;
                }
            }
            .product_title {
                display: block !important;
                font-size: 36px;
            }
            .product-year {
                font-weight: 500;
                margin-bottom: 5px;
                font-size: 16px;
                color: $theme-color-secondary;
                line-height: 1;
            }
            .yith-wcwl-wishlistaddedbrowse,
            .yith-wcwl-wishlistexistsbrowse {
                .feedback {
                    color: $theme-color;
                }
                a {
                    display: none !important;
                }

            }
        }
        .quantity {
            text-transform: uppercase;
            .qty {
                width: 100px;
                height: 42px;
            }
        }
        table {
            th {
                width: 250px;
                padding: 15px;
                border-right: 1px solid $border-color;
                &:first-child {
                    border-left: 1px solid $border-color;
                }
            }
            td.woocommerce-grouped-product-list-item__price {
                text-align: right;
            }
            .woocommerce-Price-amount {
                color: $theme-color-secondary;
                font-weight: 500;
            }
        }
        .woocommerce-tabs {
            table {
                tr:first-child {
                    border-top: 1px solid $border-color;
                }
            }
        }
    }
    .summary {
        @include font-size(font-size, $single-product-summary-font-size);
        .star-rating {
            font-size: 11.7px;
        }
        .share_social {
            background-color: #f5f5f5;
            border: 1px solid #f0f0f0;
            padding: 15px;
            margin-top: 15px;
            @include border-radius(4px);
            span {
                color: $black;
                line-height: 35px;
            }
        }
        .clear {
            display: none;
        }
        .yith-wcwl-add-to-wishlist {
            position: relative;
            .ajax-loading {
                position: absolute;
                top: 5px;
                left: 20px;
            }
        }
        .yith-wcwl-wishlistaddedbrowse,
        .yith-wcwl-add-button,
        .yith-wcwl-wishlistexistsbrowse {
            a,
            a.add_to_wishlist {
                text-transform: none;
                color: #bbb;
                font-size: 14px;
                display: inline;
                font-weight: 300;

                &:hover {
                    color: $theme-color;
                }

            }
        }
        .yith-wcwl-wishlistexistsbrowse {
            a {
                display: none;
            }
        }
        a.compare {
            color: #bbb;
            text-transform: none;
            font-size: 14px;
            padding: 10px 20px;
            margin-top: 3px;
            font-weight: 300;
            text-decoration: none;
            background: none;
            &:hover {
                color: $theme-color;
                background: none;
            }
            &:before {
                position: absolute;
                top: 10px;
                content: "\f021";
                font-family: "FontAwesome";
                display: block;
                @include square(30px);
                left: 0;
                font-weight: 400;
            }
            &.added {
                color: $theme-color;
            }
        }

    }
    .comment-form {
        margin-left: 0;
        margin-right: 0;
        .form-submit {
            margin-top: 20px !important;
        }
    }
    .comments {
        .title-heading {
            margin-bottom: 5px;
        }
    }
    #reviews #comment {
        height: 150px !important;
    }
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: $theme-color !important;
    text-decoration: none;
}

// product woocommerce tabs
.woocommerce div.product .woocommerce-tabs {
    margin-bottom: 80px;
    ul.nav-tabs {
        background: transparent;
        padding: 0;
        border-bottom: none;
        margin-bottom: 50px;
        li {
            background: transparent;
            border: none;
            display: inline-block;
            float: none;
            @media (min-width: $screen-xs-min) {
                padding: 10px 0;
                margin: 0 45px;
            }
            @media (max-width: $screen-xs-min) {
                padding: 0px;
                margin: 0 2px;
            }
            &.active {
                a {
                    background-color: transparent;
                    color: $theme-color;
                }
            }
            a {
                color: $text-color;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 400;
                padding-left: 0;
                padding-right: 0;
                font-family: $headings-font-family;
                &:hover {
                    color: $black;
                }
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .tab-pane {
        .item-description {
            padding-bottom: 60px;
            margin-bottom: 60px;
            border-bottom: 1px solid $border-color;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .wc-tab > h2 {
        display: none;
    }
}

.woocommerce div.product .woocommerce-tabs ul.nav-tabs li.active {
    background: none;
    color: $black;
}

.woocommerce div.product .woocommerce-tabs ul.nav-tabs::before {
    border-bottom-color: $border-color;
}

.woocommerce-tabs .tab-content {
    overflow: hidden;
    .owl-carousel-play {
        text-align: center;
        margin: 35px 0;
    }
}

/**
 * Category And Listing Page
 */

// styling sortorder and display mode
.products-top-wrap {
    border-bottom: 1px solid $border-color;
    margin-bottom: $grid-gutter-width;
    padding: 10px 0 20px;
    .woocommerce-ordering {
        margin: 0;
        float: right;
        position: relative;
        &:after {
            font-family: FontAwesome;
            content: "\f107";
            position: absolute;
            top: 0;
            right: 15px;
            pointer-events: none;
        }
    }
    .display-mode {
        float: left;
        margin-top: 0;
        .btn {
            border: 1px solid $border-color;
            border-radius: 0;
            background-color: transparent;
            letter-spacing: 0;
            padding: 0;
            font-size: 14px;
            line-height: 32px;
            @include size(32px, 32px);
            text-align: center;
            color: #b5b5b5;
            margin-right: 15px;
            box-shadow: none;
            -webkit-box-shadow: none;
            &.active {
                color: $theme-color;
                border-color: $theme-color;
            }

        }
        @media (max-width: 400px) {
            margin-bottom: 10px;
        }
    }
}

.products-bottom-wrap {
    .woocommerce-pagination {
        float: left;
    }
    nav.woocommerce-pagination {
        ul, ul li {
            border: none;
            span.current {
                background: transparent;
                color: $theme-color;
                text-decoration: underline;
            }
            a {
                &:hover {
                    background: transparent;
                    color: $theme-color;
                }
            }
        }
    }
    .woocommerce-result-count {
        float: right;
        margin: 8px 0;
        font-size: 14px;
        font-weight: 400;
    }
    padding: 20px 0;
}

/*------------------------------------*\
    Quickview
\*------------------------------------*/
#pbr-quickview-modal {
    .modal-dialog {
        overflow: hidden;
        del {
            .amount {
                color: $text-color;
            }
        }
        &.modal-lg {
            @media(max-width: $screen-sm-max) {
                width: 90%;
                margin: 15px auto;
            }
        }
    }
    .product-info {
        padding: 0;
        margin: 0;
        .summary {
            margin-right: $quickview-product-content-margin;
            width: 95%;
        }
        .product_title {
            padding-top: 0;
            margin-top: 0;
            @include font-size(font-size, $quickview-product-title-font-size);
        }
        .product_meta {
            @include clearfix();
            margin: 25px 0 0;
        }
    }
    .close {
        &:hover {
            .fa, .icon {
                color: $theme-color;
            }
        }
    }
    #quickview-carousel {
        overflow: hidden;
        &:hover {
            .left {
                left: 15px;
            }
            .right {
                right: 15px;
            }
        }
    }
    .carousel-indicators {
        li {
            border-color: $theme-color;
        }
        .active {
            background: $theme-color;
            border-color: $theme-color;
        }
    }
    .carousel-control {
        top: 0px;
        margin: 50% auto;
        font-weight: normal;
        @include font-size(font-size, 20px);
        @include transition(all 0.45s ease);
        @include translate(0,50%);
        &.left {
            left: -60px;
        }
        &.right {
            right: -60px;
        }
    }
}

.pbr-owl-thumbs {
    padding: 20px 0 0;
    list-style: none;
    text-align: center;
    li {
        display: inline-block;
        padding: 0 2px;
        img {

            height: 40px;
            width: auto;
            @include opacity(0.5);
        }
        &:hover {
            img {
                @include opacity(1);
            }
        }
        &.active {
            img {
                @include opacity(1);
            }
        }
    }
}

.qty[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

.woocommerce form .form-row {
    margin: 0 0 20px;
    padding: 0;
}

.woocommerce-cart table.cart .product-thumbnail img {
    width: 60px;
}

.rtl {
    &.woocommerce #content div.product div.images,
    &.woocommerce div.product div.images,
    &.woocommerce-page #content div.product div.images,
    &.woocommerce-page div.product div.images {
        float: right;
    }
}

.rtl {
    &.woocommerce #content div.product div.summary,
    &.woocommerce div.product div.summary,
    &.woocommerce-page #content div.product div.summary,
    &.woocommerce-page div.product div.summary {
        float: left;
    }
}

.woocommerce div.product form.cart .variations select {
    height: 42px;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-right: 0;
    min-width: 100%;
}
.woocommerce div.product form.cart .variations label {
    margin-top: 15px;
}

/**
 * Checkout Page
 */
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells {
    // float: none;
    // width: 100%;
    h2{
        font-size: 35px;
        margin-bottom: 30px;
    }
}
.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells {
    .products {
        padding-right: 10px;
        padding-left: 10px;
    }
    .owl-buttons {
        display: none;
    }
    .owl-carousel-play:hover .carousel-control.left {
        left: 25px;
    }
    .owl-carousel-play:hover .carousel-control.right {
        right: 25px;
    }
}

.woocommerce-account-fields {
    .checkbox input[type="checkbox"] {
        position: static;
    }
}

/**
 * Thanks you page
 */
