
.widget.widget_product_categories ul, 
.widget.widget_layered_nav ul,
.widget.widget_layered_nav_filters ul {
    li {
        border-bottom: 1px solid $border-color;
        padding: 10px 0;
        font-size: 14px;
        font-weight: 400;
        @include transition(.3s);
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
        &:first-child {
            padding-top: 0;
        }
        &:hover {
            border-color: $theme-color;
            a {
                color: $black;
                &:before {
                    color: $theme-color;
                }
            }
        }
    }
    a {
        color: $text-color;
        position: relative;
        text-transform: capitalize;
        &:before {
            font-family: FontAwesome;
            content: "\f105";
            margin-right: 10px;
        }
    }
}
/*------------------------------------*\
    Widget Price Filter
\*------------------------------------*/
.widget_price_filter {
    .price_slider_wrapper {
        padding-top: 20px;
        position: relative;
        &:before, &:after {
            content: "";
            height: 2px;
            width: 8px;
            background-color: #bbb;
            position: absolute;
            top: 20px;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 2px;
        }
    }
    .ui-slider .ui-slider-handle {
        background-color: $white !important;
        border: 2px solid $theme-color;
        width: 14px !important;
        height: 14px !important;
        top: -6px !important;
    }
    .price_slider_wrapper .ui-widget-content {
        margin-bottom: 30px;
        background-color: #bbb !important;
        height: 2px;
    }
    .ui-slider-horizontal .ui-slider-range {
        background: $theme-color !important;
    }
    .price_slider_amount {
        text-align: left !important;
        font-size: 12px;
        font-weight: 400;
        .button{
            padding:12px 30px;
            float: right !important;
            font-size: 12px !important;
        }
    }
}
/*------------------------------------*\
    Product List Widget
\*------------------------------------*/
.woocommerce{
    ul.product_list_widget{
        padding: 0;
        list-style: none;
        margin: -10px 0;
        li,
        .widget-product{
            .review{
                clear: left;
            }
            .price{
                del{
                    font-size: $widget-product-list-font-size;
                    color: $widget-product-list-color;
                    span {
                        color: $widget-product-list-color;
                        font-weight: 400;
                    }
                }
                ins{
                    color: $gray-dark;
                    font-size: $widget-product-list-font-size;
                    text-decoration: none;
                }
            }            
            img{
                width: $widget-product-list-size;
                float: left;
                margin-left: 0;
                margin-right: 15px;
            }
            .rating{
                margin-bottom: 8px;
            }
            .star-rating{
                margin: 0;
                font-size: .7em;
                span:before {
                    color: $brand-warning;
                }
            }
            .name{
                font-weight: $widget-product-list-font-weight;
                font-size: $widget-product-list-font-size;
                margin-top: 0;
                text-transform: $widget-product-list-text-transform;
                margin-bottom: 5px;
                line-height: 20px;
            }
            span.amount {
                color: $theme-color;
                font-size: 14px;
                font-weight: 500;

            }
            del {
                span.amount {
                    color: $text-color;
                }
            }
            a{
                font-weight: 500;
                font-size: 14px;
                font-family: $headings-font-family;
                span {
                    display: block;
                }
            }
            ins {
                text-decoration: none;
            }
        }
        li {
            padding: 10px 0;
        }
    }
}

/**
 * Styling special product block.
 */
.products.related, .products.upsells{
	margin-bottom: $block-module-margin-bottom !important;
    position: relative;
    padding: $block-module-padding;
    background: transparent;
    border-width: 0px;
    border-style: solid;
    .owl-buttons {
        display: none;
    }
    .carousel-controls{
        display: none;
    }
}

.products.upsells {
    .products-grid {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.products.related h2, .product > #reviews > h3, .products.upsells h2 {
    color: $block-module-heading-color;
    padding: $block-module-heading-padding;
    margin: $block-module-heading-margin;
    text-transform: $block-module-heading-transform;
    font-size: $block-module-heading-font-size;
    position: relative;
    text-align: center;
    letter-spacing:2px;
    z-index: 10;

     line-height: 1.1;
    > span{
        padding: 0 25px;
        display:  inline-block;
    }   
    text-align: left;
    border-bottom:solid 1px $border-color;
}

.products.related h2, .product.upsell h2{
    border-bottom:solid 1px #000;
}

.product > #reviews {
	border:solid 1px $border-color;
	margin-bottom:  $block-module-margin-bottom ;
}

/**
 * Deal Modules
 */

 .woo-deals{
    .caption{
        padding: 5px 20px 20px!important;
    }
    .carousel-inner{
        overflow:visible;
    }
    .description{
        margin-bottom: $theme-padding/2;
        font-size: 13px;
    }
    .pts-countdown{
        padding: $deals-times-padding;
        font-family: $deals-times-font-family;
        font-size: $deals-times-font-size;
    }
    .deals-information{
        margin-bottom: 20px;
    }
    .rating > *{
        float: none;
    }

    .countdown-times{
        overflow: hidden;
        @include translate(0px, 0px);
        @include  transition(all 0.4s ease);
        > div{ 
            text-align: center;          
            float: left;
            margin-right: 5%;
            width: 20%;
            > b{
                display: block;
                font-size: 14px;
                font-weight: 900;
                color: $theme-color;
            } 
            &:last-child{
                padding-right: 0;
                float: right;
            }
        }
    }
    .cart{
        left: 0;
        position: absolute;
        right: 0;
        @include opacity(0);
        @include translate(0px, 60px);
        @include  transition(all 0.4s ease);
        visibility: hidden;
        .add_to_cart_button{
            &.added{
                display: none;
            }
            color: #000000;
            background: #fff;
            font-weight: 900;
            &:hover,&:active,&:focus{
                color: #fff;
                background: $theme-color;
            }
        }
        .wc-forward{
            margin: 0 auto;
        }
    }
    &:hover{
        .cart{
            @include translate(0px, 30px);
            visibility: visible;
            @include opacity(1);
        }
    }
}

/**
 * Widget Products Categories Menu 
 */
ul.product-categories{
    padding-left: 0;
    list-style: none;
    li{
        &.cat-parent {
            .children {
                margin-top: 5px;
            }
        }
        &.current-cat,&.current-cat-parent {
            > a {
                color: $theme-color;
            }
        }
        ul li {
            padding: 0 0 0 20px;
        }
    }
    li {
        position: relative;
        .closed ,.opened {
            position: absolute;
            right: 15px;
            top: 17px;
            content: "";
            font-size: 10px;
            color: #aaa;
            cursor: pointer;
            &:hover{
                color: $theme-color;
            }
        }
        a{
            color: $black;
            &:hover{
                @include transition(all 0.05s ease 0s);
                color:$theme-color;
            }
        }
        li {
            &:before{
                position: absolute;
                left: 30px;
                content: "\f0da";
                font-family: "FontAwesome"; 
                color: $theme-color; 
                display: inline-block;
                font-size:11px; 
                line-height:22px;
                top:7px;
            }
            a {
                color: $light-gray;
                font-size: 12px;
                &:hover{
                    color: $theme-color;
                }
            }
        }
    }
} 

/*
**  pbr category list
*/
.pbr-category-list{
    #pbr-accordion-categories{
        .category-title {
            border-bottom: $block-sidebar-hightlight-border;
            padding: $block-sidebar-list-hightlight-padding;
            padding-right: 20px;
            padding-left: 30px;
            width: 100%;
            background: url(#{$image-theme-skin}list-style.png) no-repeat 15px 25px $nocolor;
            a{
                text-transform: $block-sidebar-hightlight-transform;
                font-size: $block-sidebar-hightlight-font-size;
                &:hover{
                    color: $theme-color;
                }
            }
            a.dropdown{
                float: right;
                margin-left: 10px;
            }
            .total-product{
                display: inline-block;
            }
        }
        .panel-collapse{
            .category-title{
                padding-top: 0;
                padding-bottom: 0;
                border: none;
                background-position: 12px 12px;
                a{
                    font-size: $block-sidebar-hightlight-font-size - 1;
                }
            }    
        }
    }
}

/*------------------------------------*\
    Cart
\*------------------------------------*/
.cart_list{
    > div{
        margin: 10px 0;
        padding: 10px 0;
        position: relative;
    }
   .name{
        font-size: $font-size-base;
        font-weight: normal;
        line-height: 20px;
        text-transform: none;
        margin-top: 0;   
    }

    .image{
        @include size(82px,82px);
    }
    .cart-item{
        line-height: 1.1;
        margin: 0;
        font-size: $font-size-base;
        .amount{
            font-size: $font-size-base;
            color: $widget-product-list-color;
        }
    }
    .cart-main-content{
        text-align: left;
        .remove{
            position: absolute;
            right: 0;
            top: 10px;
            @include font-size(font-size,18px);
            @include size(20px, 20px);
            line-height: 20px;
            text-align: center;
        }
    }
    + .total{
        text-align: right;
        margin-top: 10px;
        border-bottom: 1px solid $border-color;
        padding-bottom: 15px;
        margin-bottom: 30px;
        .amount{
            font-size: $font-size-base + 1 ;  
            color: $theme-color;
            font-weight: 600;          
        }
    }
}


//Widget Shopping Cart
.widget_shopping_cart {
    .widget_shopping_cart_content{
        .buttons{
            padding: 20px 15px;
            overflow: hidden;
        }
    }
}

/** widget-timing-deal  */
.widget-timing-deal {
     background-image: url('#{$image-theme-path}dont-miss.png');
     background-repeat: no-repeat;
     background-position: left top;
    .owl-controls{
        display: none !important;
    }
    .widget-heading{ 
        padding:20px 5px 10px 35px;
        h3{
            font-size:30px;
            margin: 0;
            span{
                color: #000000;
            }
        }
        p {
            margin-bottom: 0;
        }
    } 
    .woo-products-deals {
        border: 1px solid $border-color;
        position: relative;
        padding-right: 0;
        padding-left: 0;
        @media(min-width: $screen-sm-max){
            &:before{
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 8px solid $brand-danger;
                content: "";
                position: absolute;
                left: -1px;
                top: 45%;
                z-index: 3;
            }
        }
        .product-deal {
            padding: 10px;
            text-align: center;
            min-height: 150px;
            margin-bottom: 0;
        }
    }
    .product-deal{
         .onsale{
            display: none;
         }        

         .image {
            .product-image {              
                @include opacity(1);
                @include transition(all 0.6s ease-out 0s);
               
            } 
            &:hover{
                .product-image { 
                    @include opacity(0.25);
                    @include transition(all 0.6s ease-out 0s);
                }
            }
            .button-action {
                @include opacity(0);
                 @include scale(0);
                @include transition(all 0.6s ease-out 0s);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                content: "";
                @include size(100%, 85px);
            }
            &:hover{
                .button-action {
                    @include opacity(1);
                     @include scale(1);
                    @include transition(all 0.6s ease-out 0s);
                    background-color:transparent;
                }
            }
         }
    }

    .countdown-times{
        > div{
            border-top: 3px solid #fff;
            border-bottom: 3px solid #fff;
            position: relative;
            font-size: 12px;
            text-align: left;
            &:before {
                content: ":";
                position: absolute;
                right : 0;
                top: 10px;
            }
            > b{
                display: block;
                font-size: 18px;
                font-weight: 500;
                color: #fff;
            } 
            &:last-child{
                &:before {
                    content: "";
                }
            }
        }
    }
}
/** widget-products-collection  */
.widget-products-collection{
    .main-posts{          
        .product-block{
            &:hover{
                box-shadow:none;
                .action-bottom{
                    box-shadow:none;
                }
            }
            .action-bottom{
                display: none;
            }
            .caption-list{  
                padding:0 10px;          
                .name{
                    font-size: 24px;
                    padding:0;
                    a{
                        color: $black;
                    }            
                }
                p{
                    height: 90px;
                    min-height: 90px;
                    overflow: hidden;
                }
                .price{
                    margin-bottom: 20px; 
                    margin-top: 30px;  
                    display: block;             
                    > del{
                        font-size: 24px;
                        text-decoration: none;
                        position:relative;
                        padding-right: 15px;
                        color: $theme-color;
                        &:after{
                            background-color: $border-color;
                            content: "";
                            display: block;
                            height: 1px;
                            left: 0;
                            position: absolute;
                            width: 40px;
                        }
                        &:after{
                            top:45px;
                        }
                    }
                    > ins{
                        font-size: 14px;
                        text-decoration: line-through;
                        color: $gray-dark;
                    }
                }
                .add_to_cart_button{
                    padding:0;
                    text-align: left;
                } 
            }
        }
    }
}
/** widget-productcategory  */
.pbr-productcategory{
    .padding-wrap{
        padding:20px 10px 0;
    }
    .owl-item{
        padding: 0 10px;
    }
    .list {
        .name {
            margin-top: 0;
        }
        .product-block .price > * {
            font-size: 20px;
            text-align: left;
        }
        .product-block .price > del {
            font-size: 14px;
        }
        .media-body {
            display: block;
        }
    }
}

// popupnewsletter
.popupnewsletter{
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    .modal-body{
        @media screen and (min-width: $screen-md-min) {
            width:52%;
            margin:60px 30px;
        }
        h3{
            color: #fff;
            position: relative;
            margin-bottom: 30px;
            &:after{
                color: #757575;
                content: ". . .";
                font-size: 20px;
                left: 0;
                position: absolute;
                right: 0;
                top: 28px;
            }
        }
        h4{
            color: $black;
            text-transform: none;
        }

        .description {
             color: #fff;
             margin-bottom:  25px;  
        }
        
    }
    .modal-dialog{
        @media screen and (min-width: $screen-md-min) {
            width:800px;
        }
         @media screen and (max-width: 599px) {
            width:100%;
        }
    }
    .modal-content{
        background-image: url('#{$image-theme-skin}bg_popup_newsletter.jpg');
        background-color:#e2ddda;
        background-position: right bottom;
        background-repeat: no-repeat;
        height: auto !important;
        margin: 0;
        padding: 0;
        text-align: center;
        @media screen and (min-width: $screen-md-min) {
            width:800px;
        }
         @media screen and (max-width: $screen-md-min) {
            width:100%;
        }
        .close{
            border:none;
            background:$black;
            color: $white;
            padding:0 10px;
            position: absolute;
            top: -15px;
            right: 0;
        }
    }
}

//widget_strollik_accessories
.widget_strollik_accessories {
    border-top: 1px solid $border-color;
    margin-bottom: 50px;
    .products-grid div.product .product-block {
        margin-bottom: 0;
    }
}

//woocommerce-product-search
.woocommerce-product-search {
    input.search-field{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 0;
        color: #555555;
        font-size: 14px;
        height: 46px;
        line-height: 1.62857;
        padding: 9px 20px;
    }
     input[type="submit"]{
        background-color: $theme-color;
        height: 46px;
        color: #fff;
        border: 1px solid $theme-color;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 12px;
     }
}


/* widget-product-info */
.widget-product-info{ 
    .pro-img {
        position: relative;
        &:before {
            bottom: 0;
            background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            background: -moz-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            background: -webkit-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            background: -ms-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            transform: scale(2.5);
            content: "";
            height: 100%;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 1;
        }
        img{
            z-index: 2;
            position: relative;
        }
    }
    .description{
        position: relative;
        z-index: 2;
    }
    .product-info-inner{
        @include flexbox;
        justify-content: space-around;
        
    }
    &.info-light{
        color: #fff;
        h3, h4 {
            color: #fff;
            font-size: 20px;
            line-height: 34px;
        }
    }
}

/* widget-single-product */
.widget-single-product{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    .qty {
        line-height: 34px;
        width: 60px;
        background-color: transparent;
        border: 1px solid rgba(#fff, 0.2);
        text-align: center;
        margin: 0 15px;
    }
    .product {
        border: none!important;
        padding: 0!important;
        margin-top: 10px;
        .amount {
            font-size: 30px;
            color: $theme-color;
            font-weight: 700;
            letter-spacing: -2px;
        }
    }
    .add-cart .added_to_cart{
        display: none;
    }

}

/* widget-single-product-v2  */

.widget-single-product-v2 {
    .product-summary h1.product_title {
        display: block;
        text-transform: normal;
    }
    .single-product-review{
        @include flexbox;
        justify-content: space-between;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between;
        padding:  15px 0;
        margin-top: 20px;
        margin-bottom: 20px;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        .woocommerce-product-rating{
            display: inline-block;
        }
    }
    .single-product-price{
        .price{
            font-size: 30px;
            font-weight: 800;
            color: $theme-color;
            letter-spacing: -2px;
        }
        border-bottom: 1px solid $border-color;
        margin-bottom: 30px;
    }
    button.button{
        min-height: 52px;
        padding: 0 50px!important;
        background-color: $theme-color!important;
    }
    .single_variation_wrap{
        margin-top: 40px;
        .woocommerce-variation-price,.woocommerce-variation{
            border: 1px solid $border-color;
            background-color: #fafafa;
            padding: 15px 20px;
            font-weight: bold;
            margin-bottom: 30px;
        }
    }
    label[for="pa_color"]{
        font-weight: normal;
        font-size: 14px;
        margin-right: 15px;
        margin-top: 10px;
    }
    .qty{
        min-height: 52px;
        text-align: center;
    }
    .woocommerce-product-rating{
        display: none;
    }
}

.widget_rating_filter {
    a {
        font-weight: 500;
        span:before {
            color: $brand-warning;
        }
    }
}

.widget_royanwine_accessories {
    .widget-text-heading {
        padding-left: 15px;
        padding-right: 15px;
    }
    .owl-controls {
        display: none !important;
    }
}

.widget_product_search {
    .woocommerce-product-search {
        @include flexbox;
        flex-flow: row wrap;
    }
}

.widget.cart-collaterals {
    margin-bottom: 60px;
}
  