/*
Theme Name:   LaBastia
Template:     royanwine
*/


// CLASSI UTILIZZATE
// icons-block
// title-cover-claim -> TITOLI NELLE COVER
// title-small wine -> TITOLI BASTONI VIOLA
// title-small wine line -> TITOLI BASTONI VIOLA CON RIGA PER BREADCU
// title-medium wine -> TITOLI PLAYFAIR VIOLA
// title-medium-heading wine -> ALTRI TITOLI PLAYFAIR
// btn-white ->BOTTONE CON BORDO BIANCO
// btn-wine -> BOTTONE BORDO VIOLA
// btn-wine full -> BOTTONE BACKGORUND VIOLA
// btn-gray -> BOTTONE "MOSTRATUTTI" SENZA BORDO
// btn-line-wine
// contact-wrapper -> BLOCCO CONTATTI
// column-t-text -> COLONNA titoletto + titolo + testo IN TUTTE LE $topMarginMaster
// ALCUNE CLASSI POSSONO NON ESSERE PRESENTI NEGLI ELEMENTI :)


@import "components/variabili";
@import "components/common";
@import "components/home";
@import "components/pasta";
@import "components/storia";
@import "components/blog";
@import "components/contatti";

@import "components/responsive";


//AJAX LOADING DEI POST
// .css-grid {
//    display: inline-grid;
//    grid-template-columns: 1fr 1fr 1fr;
// }
// .css-grid > li {
//    margin: 0 5px 10px;
//    padding-bottom: 25px;
//    -webkit-border-radius: 2px;
//    border-radius: 2px;
//    border: 1px solid #efefef;
// }
