/* $headings-font-weight:    700 !default; */
/*
 * Global variables
 */
/**
 * Import component variables
 */
/** elements mixins **/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/*inline-block
============================================*/
/****/
/****/
/****/
/** elements mixins **/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/*inline-block
============================================*/
/****/
/****/
/*
 * Global variables
 */
/* main color which will be used for all main block styles... */
/**
 * Import component variables
 */
/**
 *
 */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons for light style */
/* Variables icons outline */
/* Variables icons inverse */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* --- SCSS For Typography --- */
/**
 *   Blocks Layout Selectors
 */
/********* LAYOUT **************/
.widget.widget_layered_nav_filters ul li,.widget.widget_layered_nav ul li,.widget.widget_product_categories ul li {
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .widget.widget_layered_nav_filters ul li:last-child,.widget.widget_layered_nav ul li:last-child,.widget.widget_product_categories ul li:last-child {
    border-bottom: none;
    padding-bottom: 0; }
  .widget.widget_layered_nav_filters ul li:first-child,.widget.widget_layered_nav ul li:first-child,.widget.widget_product_categories ul li:first-child {
    padding-top: 0; }
  .widget.widget_layered_nav_filters ul li:hover,.widget.widget_layered_nav ul li:hover,.widget.widget_product_categories ul li:hover {
    border-color: #ffba41; }
    .widget.widget_layered_nav_filters ul li:hover a,.widget.widget_layered_nav ul li:hover a,.widget.widget_product_categories ul li:hover a {
      color: #000; }
      .widget.widget_layered_nav_filters ul li:hover a:before,.widget.widget_layered_nav ul li:hover a:before,.widget.widget_product_categories ul li:hover a:before {
        color: #ffba41; }

.widget.widget_layered_nav_filters ul a,.widget.widget_layered_nav ul a,.widget.widget_product_categories ul a {
  color: #999;
  position: relative;
  text-transform: capitalize; }
  .widget.widget_layered_nav_filters ul a:before,.widget.widget_layered_nav ul a:before,.widget.widget_product_categories ul a:before {
    font-family: FontAwesome;
    content: "\f105";
    margin-right: 10px; }

/*------------------------------------*    Widget Price Filter
\*------------------------------------*/
.widget_price_filter .price_slider_wrapper {
  padding-top: 20px;
  position: relative; }
  .widget_price_filter .price_slider_wrapper:after,.widget_price_filter .price_slider_wrapper:before {
    content: "";
    height: 2px;
    width: 8px;
    background-color: #bbb;
    position: absolute;
    top: 20px; }
  .widget_price_filter .price_slider_wrapper:before {
    left: 0; }
  .widget_price_filter .price_slider_wrapper:after {
    right: 2px; }

.widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #fff !important;
  border: 2px solid #ffba41;
  width: 14px !important;
  height: 14px !important;
  top: -6px !important; }

.widget_price_filter .price_slider_wrapper .ui-widget-content {
  margin-bottom: 30px;
  background-color: #bbb !important;
  height: 2px; }

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  background: #ffba41 !important; }

.widget_price_filter .price_slider_amount {
  text-align: left !important;
  font-size: 12px;
  font-weight: 400; }
  .widget_price_filter .price_slider_amount .button {
    padding: 12px 30px;
    float: right !important;
    font-size: 12px !important; }

/*------------------------------------*    Product List Widget
\*------------------------------------*/
.woocommerce ul.product_list_widget {
  padding: 0;
  list-style: none;
  margin: -10px 0; }
  .woocommerce ul.product_list_widget .widget-product .review,.woocommerce ul.product_list_widget li .review {
    clear: left; }
  .woocommerce ul.product_list_widget .widget-product .price del,.woocommerce ul.product_list_widget li .price del {
    font-size: 14px;
    color: #999; }
    .woocommerce ul.product_list_widget .widget-product .price del span,.woocommerce ul.product_list_widget li .price del span {
      color: #999;
      font-weight: 400; }
  .woocommerce ul.product_list_widget .widget-product .price ins,.woocommerce ul.product_list_widget li .price ins {
    color: #666;
    font-size: 14px;
    text-decoration: none; }
  .woocommerce ul.product_list_widget .widget-product img,.woocommerce ul.product_list_widget li img {
    width: 100px;
    float: left;
    margin-left: 0;
    margin-right: 15px; }
  .woocommerce ul.product_list_widget .widget-product .rating,.woocommerce ul.product_list_widget li .rating {
    margin-bottom: 8px; }
  .woocommerce ul.product_list_widget .widget-product .star-rating,.woocommerce ul.product_list_widget li .star-rating {
    margin: 0;
    font-size: .7em; }
    .woocommerce ul.product_list_widget .widget-product .star-rating span:before,.woocommerce ul.product_list_widget li .star-rating span:before {
      color: #f0c73b; }
  .woocommerce ul.product_list_widget .widget-product .name,.woocommerce ul.product_list_widget li .name {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    text-transform: none;
    margin-bottom: 5px;
    line-height: 20px; }
  .woocommerce ul.product_list_widget .widget-product span.amount,.woocommerce ul.product_list_widget li span.amount {
    color: #ffba41;
    font-size: 14px;
    font-weight: 500; }
  .woocommerce ul.product_list_widget .widget-product del span.amount,.woocommerce ul.product_list_widget li del span.amount {
    color: #999; }
  .woocommerce ul.product_list_widget .widget-product a,.woocommerce ul.product_list_widget li a {
    font-weight: 500;
    font-size: 14px;
    font-family: Abril Fatface,cursive; }
    .woocommerce ul.product_list_widget .widget-product a span,.woocommerce ul.product_list_widget li a span {
      display: block; }
  .woocommerce ul.product_list_widget .widget-product ins,.woocommerce ul.product_list_widget li ins {
    text-decoration: none; }
  .woocommerce ul.product_list_widget li {
    padding: 10px 0; }

/**
 * Styling special product block.
 */
.products.related,.products.upsells {
  margin-bottom: 50px !important;
  position: relative;
  padding: 0;
  background: transparent;
  border-width: 0;
  border-style: solid; }
  .products.related .carousel-controls,.products.related .owl-buttons,.products.upsells .carousel-controls,.products.upsells .owl-buttons {
    display: none; }

.products.upsells .products-grid .row {
  margin-left: 0;
  margin-right: 0; }

.product>#reviews>h3,.products.related h2,.products.upsells h2 {
  color: #8da368;
  padding: 0 0 25px;
  margin: 0 0 30px;
  text-transform: none;
  font-size: 14px;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
  z-index: 4;
  line-height: 1.1;
  text-align: left;
  border-bottom: 1px solid #ebebeb; }
  .product>#reviews>h3>span,.products.related h2>span,.products.upsells h2>span {
    padding: 0 25px;
    display: inline-block; }

.product.upsell h2,.products.related h2 {
  border-bottom: 1px solid #000; }

.product>#reviews {
  border: 1px solid #ebebeb;
  margin-bottom: 50px; }

/**
 * Deal Modules
 */
.woo-deals .caption {
  padding: 5px 20px 20px !important; }

.woo-deals .carousel-inner {
  overflow: visible; }

.woo-deals .description {
  margin-bottom: 20px;
  font-size: 13px; }

.woo-deals .pts-countdown {
  padding: 5px 0;
  font-family: Montserrat,sans-serif;
  font-size: 10px; }

.woo-deals .deals-information {
  margin-bottom: 20px; }

.woo-deals .rating>* {
  float: none; }

.woo-deals .countdown-times {
  overflow: hidden;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }
  .woo-deals .countdown-times>div {
    text-align: center;
    float: left;
    margin-right: 5%;
    width: 20%; }
    .woo-deals .countdown-times>div>b {
      display: block;
      font-size: 14px;
      font-weight: 900;
      color: #ffba41; }
    .woo-deals .countdown-times>div:last-child {
      padding-right: 0;
      float: right; }

.woo-deals .cart {
  left: 0;
  position: absolute;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -o-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  visibility: hidden; }
  .woo-deals .cart .add_to_cart_button {
    color: #000;
    background: #fff;
    font-weight: 900; }
    .woo-deals .cart .add_to_cart_button.added {
      display: none; }
    .woo-deals .cart .add_to_cart_button:active,.woo-deals .cart .add_to_cart_button:focus,.woo-deals .cart .add_to_cart_button:hover {
      color: #fff;
      background: #ffba41; }
  .woo-deals .cart .wc-forward {
    margin: 0 auto; }

.woo-deals:hover .cart {
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100); }

/**
 * Widget Products Categories Menu 
 */
ul.product-categories {
  padding-left: 0;
  list-style: none; }
  ul.product-categories li.cat-parent .children {
    margin-top: 5px; }
  ul.product-categories li.current-cat-parent>a,ul.product-categories li.current-cat>a {
    color: #ffba41; }
  ul.product-categories li ul li {
    padding: 0 0 0 20px; }
  ul.product-categories li {
    position: relative; }
    ul.product-categories li .closed,ul.product-categories li .opened {
      position: absolute;
      right: 15px;
      top: 17px;
      content: "";
      font-size: 10px;
      color: #aaa;
      cursor: pointer; }
      ul.product-categories li .closed:hover,ul.product-categories li .opened:hover {
        color: #ffba41; }
    ul.product-categories li a {
      color: #000; }
      ul.product-categories li a:hover {
        -webkit-transition: all .05s ease 0s;
        -o-transition: all .05s ease 0s;
        transition: all .05s ease 0s;
        color: #ffba41; }
    ul.product-categories li li:before {
      position: absolute;
      left: 30px;
      content: "\f0da";
      font-family: FontAwesome;
      color: #ffba41;
      display: inline-block;
      font-size: 11px;
      line-height: 22px;
      top: 7px; }
    ul.product-categories li li a {
      color: #999;
      font-size: 12px; }
      ul.product-categories li li a:hover {
        color: #ffba41; }

/*
**  pbr category list
*/
.pbr-category-list #pbr-accordion-categories .category-title {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 17px 15px;
  padding-right: 20px;
  padding-left: 30px;
  width: 100%;
  background: url(../../../images/list-style.png) no-repeat 15px 25px transparent; }
  .pbr-category-list #pbr-accordion-categories .category-title a {
    text-transform: uppercase;
    font-size: 12px; }
    .pbr-category-list #pbr-accordion-categories .category-title a:hover {
      color: #ffba41; }
  .pbr-category-list #pbr-accordion-categories .category-title a.dropdown {
    float: right;
    margin-left: 10px; }
  .pbr-category-list #pbr-accordion-categories .category-title .total-product {
    display: inline-block; }

.pbr-category-list #pbr-accordion-categories .panel-collapse .category-title {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  background-position: 12px 12px; }
  .pbr-category-list #pbr-accordion-categories .panel-collapse .category-title a {
    font-size: 11px; }

/*------------------------------------*    Cart
\*------------------------------------*/
.cart_list>div {
  margin: 10px 0;
  padding: 10px 0;
  position: relative; }

.cart_list .name {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  margin-top: 0; }

.cart_list .image {
  width: 82px;
  height: 82px; }

.cart_list .cart-item {
  line-height: 1.1;
  margin: 0;
  font-size: 16px; }
  .cart_list .cart-item .amount {
    font-size: 16px;
    color: #999; }

.cart_list .cart-main-content {
  text-align: left; }
  .cart_list .cart-main-content .remove {
    position: absolute;
    right: 0;
    top: 10px;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 18px;
    /* 9 */
    font-size: 1.8rem;
    /* 9 */
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center; }

.cart_list+.total {
  text-align: right;
  margin-top: 10px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 15px;
  margin-bottom: 30px; }
  .cart_list+.total .amount {
    font-size: 17px;
    color: #ffba41;
    font-weight: 600; }

.widget_shopping_cart .widget_shopping_cart_content .buttons {
  padding: 20px 15px;
  overflow: hidden; }

/** widget-timing-deal  */
.widget-timing-deal {
  background-image: url(../../../images/dont-miss.png);
  background-repeat: no-repeat;
  background-position: 0 0; }
  .widget-timing-deal .owl-controls {
    display: none !important; }
  .widget-timing-deal .widget-heading {
    padding: 20px 5px 10px 35px; }
    .widget-timing-deal .widget-heading h3 {
      font-size: 30px;
      margin: 0; }
      .widget-timing-deal .widget-heading h3 span {
        color: #000; }
    .widget-timing-deal .widget-heading p {
      margin-bottom: 0; }
  .widget-timing-deal .woo-products-deals {
    border: 1px solid #ebebeb;
    position: relative;
    padding-right: 0;
    padding-left: 0; }
    @media (min-width: 991px) {
      .widget-timing-deal .woo-products-deals:before {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 8px solid #e43636;
        content: "";
        position: absolute;
        left: -1px;
        top: 45%;
        z-index: 3; } }
    .widget-timing-deal .woo-products-deals .product-deal {
      padding: 10px;
      text-align: center;
      min-height: 150px;
      margin-bottom: 0; }
  .widget-timing-deal .product-deal .onsale {
    display: none; }
  .widget-timing-deal .product-deal .image .product-image {
    opacity: 1;
    filter: alpha(opacity=100); }
  .widget-timing-deal .product-deal .image .product-image,.widget-timing-deal .product-deal .image:hover .product-image {
    -webkit-transition: all .6s ease-out 0s;
    -o-transition: all .6s ease-out 0s;
    transition: all .6s ease-out 0s; }
  .widget-timing-deal .product-deal .image:hover .product-image {
    opacity: .25;
    filter: alpha(opacity=25); }
  .widget-timing-deal .product-deal .image .button-action {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    width: 100%;
    height: 85px; }
  .widget-timing-deal .product-deal .image .button-action,.widget-timing-deal .product-deal .image:hover .button-action {
    -webkit-transition: all .6s ease-out 0s;
    -o-transition: all .6s ease-out 0s;
    transition: all .6s ease-out 0s; }
  .widget-timing-deal .product-deal .image:hover .button-action {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    background-color: transparent; }
  .widget-timing-deal .countdown-times>div {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: relative;
    font-size: 12px;
    text-align: left; }
    .widget-timing-deal .countdown-times>div:before {
      content: ":";
      position: absolute;
      right: 0;
      top: 10px; }
    .widget-timing-deal .countdown-times>div>b {
      display: block;
      font-size: 18px;
      font-weight: 500;
      color: #fff; }
    .widget-timing-deal .countdown-times>div:last-child:before {
      content: ""; }

/** widget-products-collection  */
  .widget-products-collection .main-posts .product-block:hover,.widget-products-collection .main-posts .product-block:hover .action-bottom {
    box-shadow: none; }

.widget-products-collection .main-posts .product-block .action-bottom {
  display: none; }

.widget-products-collection .main-posts .product-block .caption-list {
  padding: 0 10px; }
  .widget-products-collection .main-posts .product-block .caption-list .name {
    font-size: 24px;
    padding: 0; }
    .widget-products-collection .main-posts .product-block .caption-list .name a {
      color: #000; }
  .widget-products-collection .main-posts .product-block .caption-list p {
    height: 90px;
    min-height: 90px;
    overflow: hidden; }
  .widget-products-collection .main-posts .product-block .caption-list .price {
    margin-bottom: 20px;
    margin-top: 30px;
    display: block; }
    .widget-products-collection .main-posts .product-block .caption-list .price>del {
      font-size: 24px;
      text-decoration: none;
      position: relative;
      padding-right: 15px;
      color: #ffba41; }
      .widget-products-collection .main-posts .product-block .caption-list .price>del:after {
        background-color: #ebebeb;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        width: 40px;
        top: 45px; }
    .widget-products-collection .main-posts .product-block .caption-list .price>ins {
      font-size: 14px;
      text-decoration: line-through;
      color: #666; }
  .widget-products-collection .main-posts .product-block .caption-list .add_to_cart_button {
    padding: 0;
    text-align: left; }

/** widget-productcategory  */
.pbr-productcategory .padding-wrap {
  padding: 20px 10px 0; }

.pbr-productcategory .owl-item {
  padding: 0 10px; }

.pbr-productcategory .list .name {
  margin-top: 0; }

.pbr-productcategory .list .product-block .price>* {
  font-size: 20px;
  text-align: left; }

.pbr-productcategory .list .product-block .price>del {
  font-size: 14px; }

.pbr-productcategory .list .media-body {
  display: block; }

.popupnewsletter .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

@media screen and (min-width: 992px) {
  .popupnewsletter .modal-body {
    width: 52%;
    margin: 60px 30px; } }

.popupnewsletter .modal-body h3 {
  color: #fff;
  position: relative;
  margin-bottom: 30px; }
  .popupnewsletter .modal-body h3:after {
    color: #757575;
    content: ". . .";
    font-size: 20px;
    left: 0;
    position: absolute;
    right: 0;
    top: 28px; }

.popupnewsletter .modal-body h4 {
  color: #000;
  text-transform: none; }

.popupnewsletter .modal-body .description {
  color: #fff;
  margin-bottom: 25px; }

@media screen and (min-width: 992px) {
  .popupnewsletter .modal-dialog {
    width: 800px; } }

@media screen and (max-width: 599px) {
  .popupnewsletter .modal-dialog {
    width: 100%; } }

.popupnewsletter .modal-content {
  background-image: url(../../../images/bg_popup_newsletter.jpg);
  background-color: #e2ddda;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  height: auto !important;
  margin: 0;
  padding: 0;
  text-align: center; }
  @media screen and (min-width: 992px) {
    .popupnewsletter .modal-content {
      width: 800px; } }
  @media screen and (max-width: 992px) {
    .popupnewsletter .modal-content {
      width: 100%; } }
  .popupnewsletter .modal-content .close {
    border: none;
    background: #000;
    color: #fff;
    padding: 0 10px;
    position: absolute;
    top: -15px;
    right: 0; }

.widget_strollik_accessories {
  border-top: 1px solid #ebebeb;
  margin-bottom: 50px; }
  .widget_strollik_accessories .products-grid div.product .product-block {
    margin-bottom: 0; }

.woocommerce-product-search input.search-field {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #555;
  font-size: 14px;
  height: 46px;
  line-height: 1.62857;
  padding: 9px 20px; }

.woocommerce-product-search input[type=submit] {
  background-color: #ffba41;
  height: 46px;
  color: #fff;
  border: 1px solid #ffba41;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 12px; }

/* widget-product-info */
.widget-product-info .pro-img {
  position: relative; }
  .widget-product-info .pro-img:before {
    bottom: 0;
    background: radial-gradient(ellipse at center,hsla(0,0%,100%,.2) 30%,hsla(0,0%,100%,0),hsla(0,0%,100%,0));
    background: -moz-radial-gradient(ellipse at center,hsla(0,0%,100%,.2) 30%,hsla(0,0%,100%,0),hsla(0,0%,100%,0));
    background: -webkit-radial-gradient(ellipse at center,hsla(0,0%,100%,.2) 30%,hsla(0,0%,100%,0),hsla(0,0%,100%,0));
    background: -ms-radial-gradient(ellipse at center,hsla(0,0%,100%,.2) 30%,hsla(0,0%,100%,0),hsla(0,0%,100%,0));
    transform: scale(2.5);
    content: "";
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1; }

.widget-product-info .description,.widget-product-info .pro-img img {
    z-index: 2;
    position: relative; }

.widget-product-info .product-info-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around; }

.widget-product-info.info-light {
  color: #fff; }
  .widget-product-info.info-light h3,.widget-product-info.info-light h4 {
    color: #fff;
    font-size: 20px;
    line-height: 34px; }

/* widget-single-product */
.widget-single-product {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px; }
  .widget-single-product .qty {
    line-height: 34px;
    width: 60px;
    background-color: transparent;
    border: 1px solid hsla(0,0%,100%,.2);
    text-align: center;
    margin: 0 15px; }
  .widget-single-product .product {
    border: none !important;
    padding: 0 !important;
    margin-top: 10px; }
    .widget-single-product .product .amount {
      font-size: 30px;
      color: #ffba41;
      font-weight: 700;
      letter-spacing: -2px; }
  .widget-single-product .add-cart .added_to_cart {
    display: none; }

/* widget-single-product-v2  */
.widget-single-product-v2 .product-summary h1.product_title {
  display: block;
  text-transform: normal; }

.widget-single-product-v2 .single-product-review {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: 15px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb; }
  .widget-single-product-v2 .single-product-review .woocommerce-product-rating {
    display: inline-block; }

.widget-single-product-v2 .single-product-price {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 30px; }
  .widget-single-product-v2 .single-product-price .price {
    font-size: 30px;
    font-weight: 800;
    color: #ffba41;
    letter-spacing: -2px; }

.widget-single-product-v2 button.button {
  min-height: 52px;
  padding: 0 50px !important;
  background-color: #ffba41 !important; }

.widget-single-product-v2 .single_variation_wrap {
  margin-top: 40px; }
  .widget-single-product-v2 .single_variation_wrap .woocommerce-variation,.widget-single-product-v2 .single_variation_wrap .woocommerce-variation-price {
    border: 1px solid #ebebeb;
    background-color: #fafafa;
    padding: 15px 20px;
    font-weight: 700;
    margin-bottom: 30px; }

.widget-single-product-v2 label[for=pa_color] {
  font-weight: 400;
  font-size: 14px;
  margin-right: 15px;
  margin-top: 10px; }

.widget-single-product-v2 .qty {
  min-height: 52px;
  text-align: center; }

.widget-single-product-v2 .woocommerce-product-rating {
  display: none; }

.widget_rating_filter a {
  font-weight: 500; }
  .widget_rating_filter a span:before {
    color: #f0c73b; }

.widget_royanwine_accessories .widget-text-heading {
  padding-left: 15px;
  padding-right: 15px; }

.widget_royanwine_accessories .owl-controls {
  display: none !important; }

.widget_product_search .woocommerce-product-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap; }

.widget.cart-collaterals {
  margin-bottom: 60px; }

/*------------------------------------*    Mini Cart
\*------------------------------------*/
.woocommerce-mini-cart {
  list-style: none;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ebebeb; }
  .woocommerce-mini-cart li {
    margin-bottom: 20px;
    position: relative; }
    .woocommerce-mini-cart li a {
      display: block;
      font-weight: 500; }
    .woocommerce-mini-cart li:first-child {
      margin-top: 0; }
  .woocommerce-mini-cart a.remove {
    color: #e43636;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px; }
  .woocommerce-mini-cart img {
    width: 80px;
    margin-right: 15px; }
  .woocommerce-mini-cart .quantity {
    float: none; }
    .woocommerce-mini-cart .quantity span {
      font-size: 14px;
      color: #ffba41; }

.cart-wrapper {
  display: flex; }
  .cart-wrapper i {
    font-size: 24px; }

#cart.open .mini-cart:before {
  content: "";
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px; }

.mini-cart {
  font-weight: 500;
  outline: none !important;
  display: flex; }
  .mini-cart .amount {
    color: #8da368; }
  .mini-cart .title-cart {
    display: block;
    font-size: 10px;
    text-transform: uppercase; }
  .mini-cart:after {
    font-size: 12px;
    margin-top: 2px;
    margin-left: .5em; }

.cart-right>span {
  line-height: 1; }

.cart-icon {
  position: relative;
  margin-right: 30px; }
  .cart-icon span {
    display: block;
    background-color: #ffba41;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    right: -18px;
    top: -5px; }
  .cart-icon em {
    display: none; }

.opal-btn-wishlist {
  margin-right: 30px;
  position: relative; }
  .opal-btn-wishlist .count {
    border-radius: 50%;
    background-color: #ffba41;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: -15px;
    top: -11px; }

.pbr-topcart .dropdown-menu {
  top: 50px;
  padding: 30px;
  min-width: 320px;
  display: block;
  visibility: hidden;
  text-align: left;
  left: auto;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .3s cubic-bezier(.34,1.61,.7,1);
  -o-transition: all .3s cubic-bezier(.34,1.61,.7,1);
  transition: all .3s cubic-bezier(.34,1.61,.7,1); }
  .pbr-topcart .dropdown-menu:after,.pbr-topcart .dropdown-menu:before {
    content: "";
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: absolute;
    left: 100%;
    margin-left: -26%; }
  .pbr-topcart .dropdown-menu:before {
    top: -11px;
    border-bottom: 11px solid rgba(0,0,0,.2); }
  .pbr-topcart .dropdown-menu:after,.pbr-topcart .dropdown-menu:before {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent; }
  .pbr-topcart .dropdown-menu:after {
    top: -10px;
    border-bottom: 11px solid #fff; }

.pbr-topcart .media {
  border-bottom: 1px solid #ebebeb; }

.pbr-topcart .name a {
  color: #000 !important; }
  .pbr-topcart .name a:hover {
    color: #ffba41 !important; }

.pbr-topcart .open .dropdown-menu {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform-origin: 29px -50px;
  -moz-transform-origin: 29px -50px;
  -ms-transform-origin: 29px -50px;
  transform-origin: 29px -50px;
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  visibility: visible;
  z-index: 6; }

.pbr-topcart .buttons {
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between; }
  .pbr-topcart .buttons a {
    color: #fff;
    background-color: #ffba41;
    border-color: #ffba41;
    padding: 15px 25px;
    font-size: 12px;
    line-height: 2;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase; }
    .open>.pbr-topcart .buttons a.dropdown-toggle,.pbr-topcart .buttons a.active,.pbr-topcart .buttons a.focus,.pbr-topcart .buttons a:active,.pbr-topcart .buttons a:focus,.pbr-topcart .buttons a:hover {
      color: #fff;
      background-color: #ffa70e;
      border-color: #ffa404; }
      .open>.pbr-topcart .buttons a.dropdown-toggle.focus,.open>.pbr-topcart .buttons a.dropdown-toggle:focus,.open>.pbr-topcart .buttons a.dropdown-toggle:hover,.pbr-topcart .buttons a.active.focus,.pbr-topcart .buttons a.active:focus,.pbr-topcart .buttons a.active:hover,.pbr-topcart .buttons a:active.focus,.pbr-topcart .buttons a:active:focus,.pbr-topcart .buttons a:active:hover {
        color: #fff;
        background-color: #e99500;
        border-color: #ffa404; }
    .open>.pbr-topcart .buttons a.dropdown-toggle,.pbr-topcart .buttons a.active,.pbr-topcart .buttons a:active {
      background-image: none; }
    .pbr-topcart .buttons a.disabled,.pbr-topcart .buttons a.disabled.active,.pbr-topcart .buttons a.disabled.focus,.pbr-topcart .buttons a.disabled:active,.pbr-topcart .buttons a.disabled:focus,.pbr-topcart .buttons a.disabled:hover,.pbr-topcart .buttons a[disabled],.pbr-topcart .buttons a[disabled].active,.pbr-topcart .buttons a[disabled].focus,.pbr-topcart .buttons a[disabled]:active,.pbr-topcart .buttons a[disabled]:focus,.pbr-topcart .buttons a[disabled]:hover,fieldset[disabled] .pbr-topcart .buttons a,fieldset[disabled] .pbr-topcart .buttons a.active,fieldset[disabled] .pbr-topcart .buttons a.focus,fieldset[disabled] .pbr-topcart .buttons a:active,fieldset[disabled] .pbr-topcart .buttons a:focus,fieldset[disabled] .pbr-topcart .buttons a:hover {
      background-color: #ffba41;
      border-color: #ffba41; }
    .pbr-topcart .buttons a .badge {
      color: #ffba41;
      background-color: #fff; }

.woocommerce .product.first {
  clear: both; }

.widget-products .owl-controls {
  display: none !important; }

.widget-products-bg .product-block .caption:before {
  content: none; }

.productinfo-show-discounts {
  font-size: 14px;
  margin: 20px 0 !important;
  padding-left: 75px;
  position: relative;
  color: #666;
  padding: 0;
  margin-bottom: 32px;
  border-radius: 0;
  overflow: hidden;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d; }
  .productinfo-show-discounts:before {
    background: url(../../../images/icon-show-discounts.png) no-repeat 50% #70ba28;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 20px;
    content: ""; }
  .productinfo-show-discounts hr {
    border-top-color: #c9e2b3; }
  .productinfo-show-discounts .alert-link {
    color: #2b542c; }
  .productinfo-show-discounts ul {
    list-style: none;
    margin-left: 40px;
    padding: 15px 30px; }
    .productinfo-show-discounts ul li {
      padding: 3px 0; }
      .productinfo-show-discounts ul li:before {
        content: "\f14a";
        font-family: FontAwesome;
        color: #70ba28;
        padding-right: 8px; }

#reviews {
  margin-bottom: 0; }
  #reviews .reviews-summary {
    padding: 0 80px; }
    #reviews .reviews-summary h5 {
      font-size: 12px;
      margin-bottom: 20px; }
    #reviews .reviews-summary .review-summary-total {
      text-align: center;
      font-weight: 400;
      margin-right: 50px;
      padding-right: 50px;
      border-right: 1px solid #ebebeb; }
      #reviews .reviews-summary .review-summary-total .review-summary-result {
        text-align: center;
        color: #ffba41;
        font-size: 48px; }
    #reviews .reviews-summary .review-summary-detal {
      overflow: hidden;
      display: block;
      margin-top: 0; }
      #reviews .reviews-summary .review-summary-detal .review-label {
        color: #000;
        font-weight: 400;
        min-width: 60px; }
  #reviews .comments {
    border-top: 1px solid #ebebeb;
    padding: 40px 0;
    margin-top: 40px; }
    #reviews .comments .commentlist {
      margin: 15px 0; }
      #reviews .comments .commentlist .comment {
        margin-bottom: 30px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ebebeb; }
        #reviews .comments .commentlist .comment:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none; }
      #reviews .comments .commentlist .pbr-avata {
        width: 100px; }
        #reviews .comments .commentlist .pbr-avata>div {
          display: inline-block; }
        #reviews .comments .commentlist .pbr-avata .pbr-image .avatar {
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          overflow: hidden; }
        #reviews .comments .commentlist .pbr-avata .pbr-author {
          color: #000;
          font-weight: 900;
          padding-top: 10px;
          text-transform: capitalize; }
      #reviews .comments .commentlist .comment-text {
        padding: 0 20px; }
        #reviews .comments .commentlist .comment-text .meta {
          color: #bbb;
          font-size: 12px; }
        #reviews .comments .commentlist .comment-text>div {
          margin-bottom: 7px;
          float: left; }
        #reviews .comments .commentlist .comment-text .star-rating {
          margin-bottom: 15px; }
  #reviews .review_form_wrapper {
    border-top: 1px solid #ebebeb;
    padding: 40px 0 0; }
  #reviews .progress {
    margin-bottom: 12px;
    background-color: #f2f2f2;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 30px; }
    #reviews .progress .progress-bar {
      color: #aaa;
      font-weight: 500; }
      #reviews .progress .progress-bar.progress-bared {
        color: #fff; }
  #reviews #reply-title {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Montserrat,sans-serif; }

/**
 * Product Single Page
 */
.product-block {
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  -webkit-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  z-index: 0; }
  @media (min-width: 768px) and (max-width: 991px) {
    .product-block {
      margin-bottom: 30px; } }
  .product-block span.onsale {
    top: inherit;
    right: 0;
    left: 0;
    bottom: -15px;
    margin: 0 auto; }
  .product-block .sale-off {
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: #fb4949;
    color: #fff;
    top: 0;
    right: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 36px;
    font-size: 12px;
    font-weight: 400; }
  .product-block .image {
    position: relative; }
    .product-block .image img {
      height: auto;
      width: 100%; }
    .product-block .image .product-image,.product-block .image a {
      display: block;
      overflow: hidden;
      position: relative; }
    .product-block .image .image-effect {
      top: 0;
      position: absolute;
      overflow: hidden;
      left: 0;
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
      -o-transform: translate(-100%);
      transform: translate(-100%); }
    .product-block .image .image-effect,.product-block .image .image-hover {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .product-block .image:hover .image-effect {
      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
      transform: translate(0); }
    .product-block .image:hover .image-hover {
      -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
      -o-transform: translate(100%);
      transform: translate(100%); }
  .product-block .model {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .product-block .category {
    text-transform: none;
    font-weight: 300;
    font-style: italic;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 12px;
    /* 9 */
    font-size: 1.2rem;
    /* 9 */ }
    .product-block .category a {
      color: #999; }
      .product-block .category a:hover {
        color: #ffba41; }
  .product-block .product-year {
    position: relative;
    padding: 0 40px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 10px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .product-block .product-year {
        display: none; } }
    .product-block .product-year span {
      font-size: 10px; }
    .product-block .product-year p {
      color: #8da368;
      margin-bottom: 0; }
    .product-block .product-year:after,.product-block .product-year:before {
      content: "";
      height: 1px;
      width: 20px;
      background-color: #8da368;
      position: absolute;
      top: 50%; }
    .product-block .product-year:before {
      left: 0; }
    .product-block .product-year:after {
      right: 0; }
  .product-block .name {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 16px;
    /* 9 */
    font-size: 1.6rem;
    /* 9 */
    line-height: 22px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px; }
  .product-block .price>* {
    width: auto;
    display: block;
    text-align: center;
    position: relative;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 30px;
    /* 9 */
    font-size: 3rem;
    /* 9 */
    font-weight: 400;
    color: #ffba41;
    font-family: Abril Fatface,cursive;
    line-height: 1.1;
    font-size: 24px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .product-block .price>* {
        font-size: 16px; } }
  .product-block .price>ins {
    text-decoration: none; }
  .product-block .price>del {
    color: #999;
    font-size: 16px;
    text-decoration: line-through; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .product-block .price>del {
        font-size: 14px; } }
  .product-block .caption {
    position: absolute;
    top: auto;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: #fff;
    z-index: 5;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .product-block .caption .meta {
      padding: 30px 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around; }
      @media (min-width: 768px) and (max-width: 1199px) {
        .product-block .caption .meta {
          padding: 15px; } }
      .product-block .caption .meta .rating {
        order: 3;
        display: none; }
      .product-block .caption .meta .price {
        order: 2;
        display: none; }
  .product-block .button-action {
    height: 104px;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    background: #fff;
    z-index: 5;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    visibility: hidden;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .product-block .button-action {
        height: 74px; } }
    .product-block .button-action>div {
      display: inline-block; }
    .product-block .button-action>.clear {
      display: none !important; }
    .product-block .button-action .add-cart {
      display: block !important;
      margin-top: 30px; }
      @media (min-width: 768px) and (max-width: 1199px) {
        .product-block .button-action .add-cart {
          margin-top: 0; } }
      .product-block .button-action .add-cart .btn-primary {
        border: 0 !important;
        padding: 0;
        font-size: 12px;
        background-color: #ffba41 !important;
        color: #fff;
        height: 42px;
        line-height: 42px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
        .product-block .button-action .add-cart .btn-primary .title-cart {
          display: block; }
        .product-block .button-action .add-cart .btn-primary:after {
          top: 0; }
        .product-block .button-action .add-cart .btn-primary:hover {
          background-color: #430908 !important; }
      .product-block .button-action .add-cart .added_to_cart {
        display: none !important; }
    .product-block .button-action div[class*=add-to-wishlist] {
      margin-top: 0;
      position: relative; }
      .product-block .button-action div[class*=add-to-wishlist] .feedback {
        display: none; }
      .product-block .button-action div[class*=add-to-wishlist] .ajax-loading {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto; }
    .product-block .button-action .yith-compare {
      border-left: 1px solid #ebebeb;
      border-right: 1px solid #ebebeb; }
      .product-block .button-action .yith-compare .compare.added:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "\f0ec";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .product-block .button-action .yith-compare span {
        display: none; }
    .product-block .button-action .quick-view a,.product-block .button-action .show a,.product-block .button-action .yith-compare .compare {
      display: block;
      font-size: 16px;
      background-color: transparent;
      color: #999;
      height: 20px;
      width: 40px;
      line-height: 20px;
      position: relative;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .product-block .button-action .quick-view a i,.product-block .button-action .show a i,.product-block .button-action .yith-compare .compare i {
        margin: 0; }
      .product-block .button-action .quick-view a:hover,.product-block .button-action .show a:hover,.product-block .button-action .yith-compare .compare:hover {
        color: #ffba41 !important; }
    .product-block .button-action span {
      display: none; }
  .product-block:hover .caption {
    top: 20px;
    bottom: 123px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .product-block:hover .caption {
        bottom: 93px; } }
    .product-block:hover .caption .meta .price,.product-block:hover .caption .meta .rating {
      display: block; }
  .product-block:hover .button-action {
    bottom: 20px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); }

/**
 * Products Listing In Grid Style
 */
.products-list .product-block {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 40px; }
  .products-list .product-block>.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center; }
    @media (max-width: 767px) {
      .products-list .product-block>.row {
        display: block; } }
  .products-list .product-block .name {
    font-size: 24px;
    font-family: Fredoka One,cursive;
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 15px; }
    .products-list .product-block .name a {
      @icnlude transition(all 0.3s ease); }
      .products-list .product-block .name a:hover {
        color: #ffba41; }
  .products-list .product-block .description {
    line-height: 30px;
    margin-bottom: 25px; }
  .products-list .product-block .price {
    margin: 0; }
    .products-list .product-block .price>* {
      font-family: Fredoka One,cursive;
      font-size: 24px;
      display: inline-block; }
    .products-list .product-block .price>del {
      font-size: 16px; }
  .products-list .product-block .product-assets>div {
    display: inline-block; }
  .products-list .product-block .product-assets>.clear {
    display: none !important; }
  .products-list .product-block .product-assets .add-cart .btn-primary {
    border: 0 !important;
    padding: 0;
    display: inline-block;
    font-size: 16px;
    background-color: #ffba41 !important;
    color: #fff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .products-list .product-block .product-assets .add-cart .btn-primary:hover {
      background-color: #430908 !important; }
    .products-list .product-block .product-assets .add-cart .btn-primary .hidden {
      display: block !important;
      line-height: inherit; }
    .products-list .product-block .product-assets .add-cart .btn-primary .title-cart {
      display: none; }
  .products-list .product-block .product-assets div[class*=add-to-wishlist] {
    margin-top: 0;
    position: relative; }
    .products-list .product-block .product-assets div[class*=add-to-wishlist] .feedback {
      display: none; }
    .products-list .product-block .product-assets div[class*=add-to-wishlist] .ajax-loading {
      display: none !important; }
  .products-list .product-block .product-assets .yith-compare .compare.added {
    text-indent: -9999px; }
    .products-list .product-block .product-assets .yith-compare .compare.added:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-family: FontAwesome;
      content: "\f0ec";
      text-indent: 0; }
  .products-list .product-block .product-assets .yith-compare span {
    display: none; }
  .products-list .product-block .product-assets .quick-view a,.products-list .product-block .product-assets .show a,.products-list .product-block .product-assets .yith-compare .compare {
    display: inline-block;
    font-size: 16px;
    background-color: #ffba41 !important;
    color: #fff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .products-list .product-block .product-assets .quick-view a i,.products-list .product-block .product-assets .show a i,.products-list .product-block .product-assets .yith-compare .compare i {
      margin: 0; }
    .products-list .product-block .product-assets .quick-view a:hover,.products-list .product-block .product-assets .show a:hover,.products-list .product-block .product-assets .yith-compare .compare:hover {
      background-color: #430908 !important; }
  .products-list .product-block .product-assets span {
    display: none; }

ul.pbr-w-products-list {
  padding: 0;
  margin: 0 !important; }
  ul.pbr-w-products-list .product-block img {
    max-width: 90px; }

.products span.onsale,.woocommerce .product span.onsale {
  min-width: auto;
  max-height: auto;
  background-color: #8da368;
  color: #fff;
  font-size: 12px;
  z-index: 1;
  line-height: 65px;
  border-radius: 50%;
  font-weight: 400;
  width: 65px;
  height: 65px;
  top: 20px;
  left: 20px;
  position: absolute;
  text-align: center;
  bottom: auto;
  right: auto;
  text-transform: uppercase; }

.products .star-rating,.woocommerce .product .star-rating {
  font-size: 11px;
  display: inline-block;
  float: none;
  font-family: star;
  height: 1.2em;
  line-height: 1;
  overflow: hidden;
  position: relative;
  width: 5.4em;
  margin-bottom: 0; }
  .products .star-rating:before,.woocommerce .product .star-rating:before {
    content: "\53\53\53\53\53";
    color: #d3ced2;
    float: left;
    left: 0;
    position: absolute;
    top: 0; }
  .products .star-rating span,.woocommerce .product .star-rating span {
    float: left;
    left: 0;
    overflow: hidden;
    padding-top: 1.5em;
    position: absolute;
    top: 0; }
    .products .star-rating span:before,.woocommerce .product .star-rating span:before {
      content: "\53\53\53\53\53";
      color: #f0c73b;
      left: 0;
      position: absolute;
      top: 0; }
  @media (max-width: 1024px) {
    .products .star-rating,.woocommerce .product .star-rating {
      margin-bottom: 0; } }

/**
 * Products Special Style
 */
.widget.widget-special {
  margin-bottom: 0; }
  .widget.widget-special .space-padding-bottom-40 {
    padding: 0 !important; }
  .widget.widget-special .product-block {
    text-align: center;
    margin-bottom: 40px; }
    .widget.widget-special .product-block:hover .image .action-special>div:not(.clear) {
      visible: visible;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .widget.widget-special .product-block .image {
      position: relative; }
      .widget.widget-special .product-block .image .action-special {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto; }
        .widget.widget-special .product-block .image .action-special>div:not(.clear) {
          margin: 0 3px;
          visible: hidden;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
          transform: scale(0);
          -webkit-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease; }
      .widget.widget-special .product-block .image .add-cart .btn-primary {
        border: 0 !important;
        padding: 0;
        display: inline-block;
        font-size: 16px;
        background-color: #ffba41 !important;
        color: #fff;
        height: 50px;
        width: 50px;
        line-height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
        .widget.widget-special .product-block .image .add-cart .btn-primary:hover {
          background-color: #430908 !important; }
        .widget.widget-special .product-block .image .add-cart .btn-primary .hidden {
          display: block !important;
          line-height: inherit; }
        .widget.widget-special .product-block .image .add-cart .btn-primary .title-cart {
          display: none; }
      .widget.widget-special .product-block .image div[class*=add-to-wishlist] {
        margin-top: 0;
        position: relative; }
        .widget.widget-special .product-block .image div[class*=add-to-wishlist] .feedback {
          display: none; }
      .widget.widget-special .product-block .image .yith-compare .compare.added {
        text-indent: -9999px; }
        .widget.widget-special .product-block .image .yith-compare .compare.added:after {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          font-family: FontAwesome;
          content: "\f0ec";
          text-indent: 0; }
      .widget.widget-special .product-block .image .yith-compare span {
        display: none; }
      .widget.widget-special .product-block .image .quick-view a,.widget.widget-special .product-block .image .show a,.widget.widget-special .product-block .image .yith-compare .compare {
        font-size: 16px;
        background-color: #ffba41 !important;
        color: #fff;
        height: 50px;
        width: 50px;
        line-height: 50px;
        position: relative;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
        .widget.widget-special .product-block .image .quick-view a i,.widget.widget-special .product-block .image .show a i,.widget.widget-special .product-block .image .yith-compare .compare i {
          margin: 0; }
        .widget.widget-special .product-block .image .quick-view a:hover,.widget.widget-special .product-block .image .show a:hover,.widget.widget-special .product-block .image .yith-compare .compare:hover {
          background-color: #430908 !important; }
      .widget.widget-special .product-block .image span {
        display: none; }
    .widget.widget-special .product-block .special-product .name {
      font-size: 24px;
      font-family: Fredoka One,cursive;
      line-height: normal;
      margin-top: 44px;
      margin-bottom: 23px; }
      .widget.widget-special .product-block .special-product .name a {
        @icnlude transition(all 0.3s ease); }
        .widget.widget-special .product-block .special-product .name a:hover {
          color: #ffba41; }
    .widget.widget-special .product-block .special-product .description {
      line-height: 30px;
      margin-bottom: 25px; }
    .widget.widget-special .product-block .special-product .price {
      margin: 0; }
      .widget.widget-special .product-block .special-product .price>* {
        font-family: Fredoka One,cursive;
        font-size: 24px;
        display: inline-block; }
      .widget.widget-special .product-block .special-product .price>del {
        font-size: 16px; }

/**
 * Single product
 */
/*------------------------------------*    Quantity inputs
\*------------------------------------*/
.quantity {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
  float: left; }
  .quantity span {
    font-size: 18px;
    margin-right: 5px; }
  .quantity input.qty {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 5px;
    width: 45px;
    height: 35px;
    color: #000;
    font-weight: 400;
    border: 1px solid #e5e5e5; }
    .quantity input.qty:focus:focus {
      border-color: #7e2d53;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .quantity .minus,.quantity .plus {
    background: #fff;
    display: block;
    padding: 0;
    margin: 0;
    vertical-align: text-top;
    overflow: visible;
    text-decoration: none;
    cursor: pointer;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    border: none;
    text-align: center;
    height: 40px;
    width: 20px;
    position: absolute;
    top: 1px;
    outline: none !important; }
  .quantity .plus {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    right: 12px; }
  .quantity .minus {
    left: 12px;
    border-top-right-radius: 0;
    border-top-left-radius: 0; }

/* Single > Meta */
.product_meta {
  clear: both;
  margin-top: 15px;
  padding: 30px 0 5px;
  border-top: 1px solid #ebebeb;
  font-size: 14px; }
  .product_meta a:hover {
    text-decoration: none; }
  .product_meta>span {
    display: block; }
  .product_meta>div {
    margin-bottom: 20px; }

.sku_wrapper span {
  display: inline; }

.quantity input[type=number]::-webkit-inner-spin-button,.quantity input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }

.single-product.woocommerce .woocommerce-product-gallery .col-lg-9 {
  width: 82%; }

.single-product.woocommerce .woocommerce-product-gallery .col-lg-3 {
  width: 18%; }

.single-product.woocommerce .woocommerce-product-gallery .owl-controls {
  display: none !important; }

.single-product.woocommerce .woocommerce-product-gallery .carousel-control {
  width: 50%;
  height: 30px;
  line-height: 30px;
  top: auto;
  bottom: -20px;
  opacity: 1;
  border: none; }

.single-product.woocommerce .woocommerce-product-gallery .carousel-controls-v3 .carousel-control.left {
  left: 0; }

.single-product.woocommerce .woocommerce-product-gallery .carousel-controls-v3 .carousel-control.right {
  right: 0; }

@media (max-width: 980px) {
  .single-product.woocommerce .woocommerce-product-gallery .col-lg-3,.single-product.woocommerce .woocommerce-product-gallery .col-lg-9 {
    float: left; } }

.single-product.woocommerce div.product span.onsale {
  display: none; }

.single-product.woocommerce div.product .products span.onsale {
  display: block; }

.single-product.woocommerce div.product div.images img {
  width: auto;
  margin-bottom: 20px; }

.single-product.woocommerce div.product p.price {
  color: #ffba41;
  font-size: 30px;
  font-weight: 700; }
  .single-product.woocommerce div.product p.price del {
    font-size: 16px;
    color: #000;
    font-weight: 600; }
  .single-product.woocommerce div.product p.price ins {
    text-decoration: none; }

.single-product.woocommerce div.product form.cart {
  margin-bottom: 5px;
  margin-top: 40px;
  padding-top: 25px;
  border-top: 1px solid #ebebeb; }
  .single-product.woocommerce div.product form.cart div.quantity {
    margin-right: 40px;
    margin-bottom: 15px;
    padding: 0; }
    @media (max-width: 480px) {
      .single-product.woocommerce div.product form.cart div.quantity {
        margin-right: 15px; } }
  .single-product.woocommerce div.product form.cart .variations {
    margin-top: 10px;
    margin-bottom: 40px; }
    .single-product.woocommerce div.product form.cart .variations .label {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 400; }

.single-product.woocommerce div.product .woocommerce-product-rating {
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  padding: 15px 0; }
  .single-product.woocommerce div.product .woocommerce-product-rating .woocommerce-review-link {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #ebebeb; }

.single-product.woocommerce div.product .product_title {
  display: block !important;
  font-size: 36px; }

.single-product.woocommerce div.product .product-year {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 16px;
  color: #8da368;
  line-height: 1; }

.single-product.woocommerce div.product .yith-wcwl-wishlistaddedbrowse .feedback,.single-product.woocommerce div.product .yith-wcwl-wishlistexistsbrowse .feedback {
  color: #ffba41; }

.single-product.woocommerce div.product .yith-wcwl-wishlistaddedbrowse a,.single-product.woocommerce div.product .yith-wcwl-wishlistexistsbrowse a {
  display: none !important; }

.single-product.woocommerce .quantity {
  text-transform: uppercase; }
  .single-product.woocommerce .quantity .qty {
    width: 100px;
    height: 42px; }

.single-product.woocommerce table th {
  width: 250px;
  padding: 15px;
  border-right: 1px solid #ebebeb; }
  .single-product.woocommerce table th:first-child {
    border-left: 1px solid #ebebeb; }

.single-product.woocommerce table td.woocommerce-grouped-product-list-item__price {
  text-align: right; }

.single-product.woocommerce table .woocommerce-Price-amount {
  color: #8da368;
  font-weight: 500; }

.single-product.woocommerce .woocommerce-tabs table tr:first-child {
  border-top: 1px solid #ebebeb; }

.single-product .summary {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 14px;
  /* 9 */
  font-size: 1.4rem;
  /* 9 */ }
  .single-product .summary .star-rating {
    font-size: 11.7px; }
  .single-product .summary .share_social {
    background-color: #f5f5f5;
    border: 1px solid #f0f0f0;
    padding: 15px;
    margin-top: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px; }
    .single-product .summary .share_social span {
      color: #000;
      line-height: 35px; }
  .single-product .summary .clear {
    display: none; }
  .single-product .summary .yith-wcwl-add-to-wishlist {
    position: relative; }
    .single-product .summary .yith-wcwl-add-to-wishlist .ajax-loading {
      position: absolute;
      top: 5px;
      left: 20px; }
  .single-product .summary .yith-wcwl-add-button a,.single-product .summary .yith-wcwl-add-button a.add_to_wishlist,.single-product .summary .yith-wcwl-wishlistaddedbrowse a,.single-product .summary .yith-wcwl-wishlistaddedbrowse a.add_to_wishlist,.single-product .summary .yith-wcwl-wishlistexistsbrowse a,.single-product .summary .yith-wcwl-wishlistexistsbrowse a.add_to_wishlist {
    text-transform: none;
    color: #bbb;
    font-size: 14px;
    display: inline;
    font-weight: 300; }
    .single-product .summary .yith-wcwl-add-button a.add_to_wishlist:hover,.single-product .summary .yith-wcwl-add-button a:hover,.single-product .summary .yith-wcwl-wishlistaddedbrowse a.add_to_wishlist:hover,.single-product .summary .yith-wcwl-wishlistaddedbrowse a:hover,.single-product .summary .yith-wcwl-wishlistexistsbrowse a.add_to_wishlist:hover,.single-product .summary .yith-wcwl-wishlistexistsbrowse a:hover {
      color: #ffba41; }
  .single-product .summary .yith-wcwl-wishlistexistsbrowse a {
    display: none; }
  .single-product .summary a.compare {
    color: #bbb;
    text-transform: none;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 3px;
    font-weight: 300;
    text-decoration: none;
    background: none; }
    .single-product .summary a.compare:hover {
      color: #ffba41;
      background: none; }
    .single-product .summary a.compare:before {
      position: absolute;
      top: 10px;
      content: "\f021";
      font-family: FontAwesome;
      display: block;
      width: 30px;
      height: 30px;
      left: 0;
      font-weight: 400; }
    .single-product .summary a.compare.added {
      color: #ffba41; }

.single-product .comment-form {
  margin-left: 0;
  margin-right: 0; }
  .single-product .comment-form .form-submit {
    margin-top: 20px !important; }

.single-product .comments .title-heading {
  margin-bottom: 5px; }

.single-product #reviews #comment {
  height: 150px !important; }

.woocommerce div.product p.price,.woocommerce div.product span.price {
  color: #ffba41 !important;
  text-decoration: none; }

.woocommerce div.product .woocommerce-tabs {
  margin-bottom: 80px; }
  .woocommerce div.product .woocommerce-tabs ul.nav-tabs {
    background: transparent;
    padding: 0;
    border-bottom: none;
    margin-bottom: 50px; }
    .woocommerce div.product .woocommerce-tabs ul.nav-tabs li {
      background: transparent;
      border: none;
      display: inline-block;
      float: none; }
      @media (min-width: 480px) {
        .woocommerce div.product .woocommerce-tabs ul.nav-tabs li {
          padding: 10px 0;
          margin: 0 45px; } }
      @media (max-width: 480px) {
        .woocommerce div.product .woocommerce-tabs ul.nav-tabs li {
          padding: 0;
          margin: 0 2px; } }
      .woocommerce div.product .woocommerce-tabs ul.nav-tabs li.active a {
        background-color: transparent;
        color: #ffba41; }
      .woocommerce div.product .woocommerce-tabs ul.nav-tabs li a {
        color: #999;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        padding-left: 0;
        padding-right: 0;
        font-family: Abril Fatface,cursive; }
        .woocommerce div.product .woocommerce-tabs ul.nav-tabs li a:hover {
          color: #000; }
      .woocommerce div.product .woocommerce-tabs ul.nav-tabs li:first-child {
        margin-left: 0; }
  .woocommerce div.product .woocommerce-tabs .tab-pane .item-description {
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid #ebebeb; }
    .woocommerce div.product .woocommerce-tabs .tab-pane .item-description:last-child {
      border-bottom: none; }
  .woocommerce div.product .woocommerce-tabs .wc-tab>h2 {
    display: none; }

.woocommerce div.product .woocommerce-tabs ul.nav-tabs li.active {
  background: none;
  color: #000; }

.woocommerce div.product .woocommerce-tabs ul.nav-tabs:before {
  border-bottom-color: #ebebeb; }

.woocommerce-tabs .tab-content {
  overflow: hidden; }
  .woocommerce-tabs .tab-content .owl-carousel-play {
    text-align: center;
    margin: 35px 0; }

/**
 * Category And Listing Page
 */
.products-top-wrap {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 40px;
  padding: 10px 0 20px; }
  .products-top-wrap .woocommerce-ordering {
    margin: 0;
    float: right;
    position: relative; }
    .products-top-wrap .woocommerce-ordering:after {
      font-family: FontAwesome;
      content: "\f107";
      position: absolute;
      top: 0;
      right: 15px;
      pointer-events: none; }
  .products-top-wrap .display-mode {
    float: left;
    margin-top: 0; }
    .products-top-wrap .display-mode .btn {
      border: 1px solid #ebebeb;
      border-radius: 0;
      background-color: transparent;
      letter-spacing: 0;
      padding: 0;
      font-size: 14px;
      line-height: 32px;
      width: 32px;
      height: 32px;
      text-align: center;
      color: #b5b5b5;
      margin-right: 15px;
      box-shadow: none;
      -webkit-box-shadow: none; }
      .products-top-wrap .display-mode .btn.active {
        color: #ffba41;
        border-color: #ffba41; }
    @media (max-width: 400px) {
      .products-top-wrap .display-mode {
        margin-bottom: 10px; } }

.products-bottom-wrap {
  padding: 20px 0; }
  .products-bottom-wrap .woocommerce-pagination {
    float: left; }
  .products-bottom-wrap nav.woocommerce-pagination ul,.products-bottom-wrap nav.woocommerce-pagination ul li {
    border: none; }
    .products-bottom-wrap nav.woocommerce-pagination ul li span.current,.products-bottom-wrap nav.woocommerce-pagination ul span.current {
      background: transparent;
      color: #ffba41;
      text-decoration: underline; }
    .products-bottom-wrap nav.woocommerce-pagination ul a:hover,.products-bottom-wrap nav.woocommerce-pagination ul li a:hover {
      background: transparent;
      color: #ffba41; }
  .products-bottom-wrap .woocommerce-result-count {
    float: right;
    margin: 8px 0;
    font-size: 14px;
    font-weight: 400; }

/*------------------------------------*    Quickview
\*------------------------------------*/
#pbr-quickview-modal .modal-dialog {
  overflow: hidden; }
  #pbr-quickview-modal .modal-dialog del .amount {
    color: #999; }
  @media (max-width: 991px) {
    #pbr-quickview-modal .modal-dialog.modal-lg {
      width: 90%;
      margin: 15px auto; } }

#pbr-quickview-modal .product-info {
  padding: 0;
  margin: 0; }
  #pbr-quickview-modal .product-info .summary {
    margin-right: 20px;
    width: 95%; }
  #pbr-quickview-modal .product-info .product_title {
    padding-top: 0;
    margin-top: 0;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 30px;
    /* 9 */
    font-size: 3rem;
    /* 9 */ }
  #pbr-quickview-modal .product-info .product_meta {
    margin: 25px 0 0; }
    #pbr-quickview-modal .product-info .product_meta:after,#pbr-quickview-modal .product-info .product_meta:before {
      content: " ";
      display: table; }
    #pbr-quickview-modal .product-info .product_meta:after {
      clear: both; }

#pbr-quickview-modal .close:hover .fa,#pbr-quickview-modal .close:hover .icon {
  color: #ffba41; }

#pbr-quickview-modal #quickview-carousel {
  overflow: hidden; }
  #pbr-quickview-modal #quickview-carousel:hover .left {
    left: 15px; }
  #pbr-quickview-modal #quickview-carousel:hover .right {
    right: 15px; }

#pbr-quickview-modal .carousel-indicators li {
  border-color: #ffba41; }

#pbr-quickview-modal .carousel-indicators .active {
  background: #ffba41;
  border-color: #ffba41; }

#pbr-quickview-modal .carousel-control {
  top: 0;
  margin: 50% auto;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 20px;
  /* 9 */
  font-size: 2rem;
  /* 9 */
  -webkit-transition: all .45s ease;
  -o-transition: all .45s ease;
  transition: all .45s ease;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%); }
  #pbr-quickview-modal .carousel-control.left {
    left: -60px; }
  #pbr-quickview-modal .carousel-control.right {
    right: -60px; }

.pbr-owl-thumbs {
  padding: 20px 0 0;
  list-style: none;
  text-align: center; }
  .pbr-owl-thumbs li {
    display: inline-block;
    padding: 0 2px; }
    .pbr-owl-thumbs li img {
      height: 40px;
      width: auto;
      opacity: .5;
      filter: alpha(opacity=50); }
    .pbr-owl-thumbs li.active img,.pbr-owl-thumbs li:hover img {
      opacity: 1;
      filter: alpha(opacity=100); }

.qty[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield; }

.woocommerce form .form-row {
  margin: 0 0 20px;
  padding: 0; }

.woocommerce-cart table.cart .product-thumbnail img {
  width: 60px; }

.rtl.woocommerce #content div.product div.images,.rtl.woocommerce-page #content div.product div.images,.rtl.woocommerce-page div.product div.images,.rtl.woocommerce div.product div.images {
  float: right; }

.rtl.woocommerce #content div.product div.summary,.rtl.woocommerce-page #content div.product div.summary,.rtl.woocommerce-page div.product div.summary,.rtl.woocommerce div.product div.summary {
  float: left; }

.woocommerce div.product form.cart .variations select {
  height: 42px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 0;
  min-width: 100%; }

.woocommerce div.product form.cart .variations label {
  margin-top: 15px; }

/**
 * Checkout Page
 */
.woocommerce-page .cart-collaterals .cart_totals h2,.woocommerce-page .cart-collaterals .cross-sells h2,.woocommerce .cart-collaterals .cart_totals h2,.woocommerce .cart-collaterals .cross-sells h2 {
  font-size: 35px;
  margin-bottom: 30px; }

.woocommerce-page .cart-collaterals .cross-sells .products,.woocommerce .cart-collaterals .cross-sells .products {
  padding-right: 10px;
  padding-left: 10px; }

.woocommerce-page .cart-collaterals .cross-sells .owl-buttons,.woocommerce .cart-collaterals .cross-sells .owl-buttons {
  display: none; }

.woocommerce-page .cart-collaterals .cross-sells .owl-carousel-play:hover .carousel-control.left,.woocommerce .cart-collaterals .cross-sells .owl-carousel-play:hover .carousel-control.left {
  left: 25px; }

.woocommerce-page .cart-collaterals .cross-sells .owl-carousel-play:hover .carousel-control.right,.woocommerce .cart-collaterals .cross-sells .owl-carousel-play:hover .carousel-control.right {
  right: 25px; }

.woocommerce-account-fields .checkbox input[type=checkbox] {
  position: static; }

/**
 * Thanks you page
 */
/************************
 * Form Styles
 ************************/
.woocommerce #respond input#submit,.woocommerce button.button,.woocommerce input.button {
  color: #fff;
  background-color: #ffba41;
  border-color: #ffba41;
  border-radius: 0;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase; }
  .open>.woocommerce #respond input#submit.dropdown-toggle,.open>.woocommerce button.button.dropdown-toggle,.open>.woocommerce input.button.dropdown-toggle,.woocommerce #respond input#submit.active,.woocommerce #respond input#submit.focus,.woocommerce #respond input#submit:active,.woocommerce #respond input#submit:focus,.woocommerce #respond input#submit:hover,.woocommerce button.button.active,.woocommerce button.button.focus,.woocommerce button.button:active,.woocommerce button.button:focus,.woocommerce button.button:hover,.woocommerce input.button.active,.woocommerce input.button.focus,.woocommerce input.button:active,.woocommerce input.button:focus,.woocommerce input.button:hover {
    color: #fff;
    background-color: #ffa70e;
    border-color: #ffa404; }
    .open>.woocommerce #respond input#submit.dropdown-toggle.focus,.open>.woocommerce #respond input#submit.dropdown-toggle:focus,.open>.woocommerce #respond input#submit.dropdown-toggle:hover,.open>.woocommerce button.button.dropdown-toggle.focus,.open>.woocommerce button.button.dropdown-toggle:focus,.open>.woocommerce button.button.dropdown-toggle:hover,.open>.woocommerce input.button.dropdown-toggle.focus,.open>.woocommerce input.button.dropdown-toggle:focus,.open>.woocommerce input.button.dropdown-toggle:hover,.woocommerce #respond input#submit.active.focus,.woocommerce #respond input#submit.active:focus,.woocommerce #respond input#submit.active:hover,.woocommerce #respond input#submit:active.focus,.woocommerce #respond input#submit:active:focus,.woocommerce #respond input#submit:active:hover,.woocommerce button.button.active.focus,.woocommerce button.button.active:focus,.woocommerce button.button.active:hover,.woocommerce button.button:active.focus,.woocommerce button.button:active:focus,.woocommerce button.button:active:hover,.woocommerce input.button.active.focus,.woocommerce input.button.active:focus,.woocommerce input.button.active:hover,.woocommerce input.button:active.focus,.woocommerce input.button:active:focus,.woocommerce input.button:active:hover {
      color: #fff;
      background-color: #e99500;
      border-color: #ffa404; }
  .open>.woocommerce #respond input#submit.dropdown-toggle,.open>.woocommerce button.button.dropdown-toggle,.open>.woocommerce input.button.dropdown-toggle,.woocommerce #respond input#submit.active,.woocommerce #respond input#submit:active,.woocommerce button.button.active,.woocommerce button.button:active,.woocommerce input.button.active,.woocommerce input.button:active {
    background-image: none; }
  .woocommerce #respond input#submit.disabled,.woocommerce #respond input#submit.disabled.active,.woocommerce #respond input#submit.disabled.focus,.woocommerce #respond input#submit.disabled:active,.woocommerce #respond input#submit.disabled:focus,.woocommerce #respond input#submit.disabled:hover,.woocommerce #respond input#submit[disabled],.woocommerce #respond input#submit[disabled].active,.woocommerce #respond input#submit[disabled].focus,.woocommerce #respond input#submit[disabled]:active,.woocommerce #respond input#submit[disabled]:focus,.woocommerce #respond input#submit[disabled]:hover,.woocommerce button.button.disabled,.woocommerce button.button.disabled.active,.woocommerce button.button.disabled.focus,.woocommerce button.button.disabled:active,.woocommerce button.button.disabled:focus,.woocommerce button.button.disabled:hover,.woocommerce button.button[disabled],.woocommerce button.button[disabled].active,.woocommerce button.button[disabled].focus,.woocommerce button.button[disabled]:active,.woocommerce button.button[disabled]:focus,.woocommerce button.button[disabled]:hover,.woocommerce input.button.disabled,.woocommerce input.button.disabled.active,.woocommerce input.button.disabled.focus,.woocommerce input.button.disabled:active,.woocommerce input.button.disabled:focus,.woocommerce input.button.disabled:hover,.woocommerce input.button[disabled],.woocommerce input.button[disabled].active,.woocommerce input.button[disabled].focus,.woocommerce input.button[disabled]:active,.woocommerce input.button[disabled]:focus,.woocommerce input.button[disabled]:hover,fieldset[disabled] .woocommerce #respond input#submit,fieldset[disabled] .woocommerce #respond input#submit.active,fieldset[disabled] .woocommerce #respond input#submit.focus,fieldset[disabled] .woocommerce #respond input#submit:active,fieldset[disabled] .woocommerce #respond input#submit:focus,fieldset[disabled] .woocommerce #respond input#submit:hover,fieldset[disabled] .woocommerce button.button,fieldset[disabled] .woocommerce button.button.active,fieldset[disabled] .woocommerce button.button.focus,fieldset[disabled] .woocommerce button.button:active,fieldset[disabled] .woocommerce button.button:focus,fieldset[disabled] .woocommerce button.button:hover,fieldset[disabled] .woocommerce input.button,fieldset[disabled] .woocommerce input.button.active,fieldset[disabled] .woocommerce input.button.focus,fieldset[disabled] .woocommerce input.button:active,fieldset[disabled] .woocommerce input.button:focus,fieldset[disabled] .woocommerce input.button:hover {
    background-color: #ffba41;
    border-color: #ffba41; }
  .woocommerce #respond input#submit .badge,.woocommerce button.button .badge,.woocommerce input.button .badge {
    color: #ffba41;
    background-color: #fff; }

.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled] {
  padding: 15px 30px; }

.woocommerce a.button,a.yith-wcwl-add-button {
  background: #ffba41;
  padding: 14px 20px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  border-radius: 0; }
  .woocommerce a.button:hover,a.yith-wcwl-add-button:hover {
    background: #ffa70e;
    color: #fff; }

.woocommerce #respond input#submit.alt,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt {
  color: #fff;
  background-color: #ffba41;
  border-color: #ffba41;
  border-radius: 0;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .open>.woocommerce #respond input#submit.alt.dropdown-toggle,.open>.woocommerce a.button.alt.dropdown-toggle,.open>.woocommerce button.button.alt.dropdown-toggle,.open>.woocommerce input.button.alt.dropdown-toggle,.woocommerce #respond input#submit.alt.active,.woocommerce #respond input#submit.alt.focus,.woocommerce #respond input#submit.alt:active,.woocommerce #respond input#submit.alt:focus,.woocommerce #respond input#submit.alt:hover,.woocommerce a.button.alt.active,.woocommerce a.button.alt.focus,.woocommerce a.button.alt:active,.woocommerce a.button.alt:focus,.woocommerce a.button.alt:hover,.woocommerce button.button.alt.active,.woocommerce button.button.alt.focus,.woocommerce button.button.alt:active,.woocommerce button.button.alt:focus,.woocommerce button.button.alt:hover,.woocommerce input.button.alt.active,.woocommerce input.button.alt.focus,.woocommerce input.button.alt:active,.woocommerce input.button.alt:focus,.woocommerce input.button.alt:hover {
    color: #fff;
    background-color: #ffa70e;
    border-color: #ffa404; }
    .open>.woocommerce #respond input#submit.alt.dropdown-toggle.focus,.open>.woocommerce #respond input#submit.alt.dropdown-toggle:focus,.open>.woocommerce #respond input#submit.alt.dropdown-toggle:hover,.open>.woocommerce a.button.alt.dropdown-toggle.focus,.open>.woocommerce a.button.alt.dropdown-toggle:focus,.open>.woocommerce a.button.alt.dropdown-toggle:hover,.open>.woocommerce button.button.alt.dropdown-toggle.focus,.open>.woocommerce button.button.alt.dropdown-toggle:focus,.open>.woocommerce button.button.alt.dropdown-toggle:hover,.open>.woocommerce input.button.alt.dropdown-toggle.focus,.open>.woocommerce input.button.alt.dropdown-toggle:focus,.open>.woocommerce input.button.alt.dropdown-toggle:hover,.woocommerce #respond input#submit.alt.active.focus,.woocommerce #respond input#submit.alt.active:focus,.woocommerce #respond input#submit.alt.active:hover,.woocommerce #respond input#submit.alt:active.focus,.woocommerce #respond input#submit.alt:active:focus,.woocommerce #respond input#submit.alt:active:hover,.woocommerce a.button.alt.active.focus,.woocommerce a.button.alt.active:focus,.woocommerce a.button.alt.active:hover,.woocommerce a.button.alt:active.focus,.woocommerce a.button.alt:active:focus,.woocommerce a.button.alt:active:hover,.woocommerce button.button.alt.active.focus,.woocommerce button.button.alt.active:focus,.woocommerce button.button.alt.active:hover,.woocommerce button.button.alt:active.focus,.woocommerce button.button.alt:active:focus,.woocommerce button.button.alt:active:hover,.woocommerce input.button.alt.active.focus,.woocommerce input.button.alt.active:focus,.woocommerce input.button.alt.active:hover,.woocommerce input.button.alt:active.focus,.woocommerce input.button.alt:active:focus,.woocommerce input.button.alt:active:hover {
      color: #fff;
      background-color: #e99500;
      border-color: #ffa404; }
  .open>.woocommerce #respond input#submit.alt.dropdown-toggle,.open>.woocommerce a.button.alt.dropdown-toggle,.open>.woocommerce button.button.alt.dropdown-toggle,.open>.woocommerce input.button.alt.dropdown-toggle,.woocommerce #respond input#submit.alt.active,.woocommerce #respond input#submit.alt:active,.woocommerce a.button.alt.active,.woocommerce a.button.alt:active,.woocommerce button.button.alt.active,.woocommerce button.button.alt:active,.woocommerce input.button.alt.active,.woocommerce input.button.alt:active {
    background-image: none; }
  .woocommerce #respond input#submit.alt.disabled,.woocommerce #respond input#submit.alt.disabled.active,.woocommerce #respond input#submit.alt.disabled.focus,.woocommerce #respond input#submit.alt.disabled:active,.woocommerce #respond input#submit.alt.disabled:focus,.woocommerce #respond input#submit.alt.disabled:hover,.woocommerce #respond input#submit.alt[disabled],.woocommerce #respond input#submit.alt[disabled].active,.woocommerce #respond input#submit.alt[disabled].focus,.woocommerce #respond input#submit.alt[disabled]:active,.woocommerce #respond input#submit.alt[disabled]:focus,.woocommerce #respond input#submit.alt[disabled]:hover,.woocommerce a.button.alt.disabled,.woocommerce a.button.alt.disabled.active,.woocommerce a.button.alt.disabled.focus,.woocommerce a.button.alt.disabled:active,.woocommerce a.button.alt.disabled:focus,.woocommerce a.button.alt.disabled:hover,.woocommerce a.button.alt[disabled],.woocommerce a.button.alt[disabled].active,.woocommerce a.button.alt[disabled].focus,.woocommerce a.button.alt[disabled]:active,.woocommerce a.button.alt[disabled]:focus,.woocommerce a.button.alt[disabled]:hover,.woocommerce button.button.alt.disabled,.woocommerce button.button.alt.disabled.active,.woocommerce button.button.alt.disabled.focus,.woocommerce button.button.alt.disabled:active,.woocommerce button.button.alt.disabled:focus,.woocommerce button.button.alt.disabled:hover,.woocommerce button.button.alt[disabled],.woocommerce button.button.alt[disabled].active,.woocommerce button.button.alt[disabled].focus,.woocommerce button.button.alt[disabled]:active,.woocommerce button.button.alt[disabled]:focus,.woocommerce button.button.alt[disabled]:hover,.woocommerce input.button.alt.disabled,.woocommerce input.button.alt.disabled.active,.woocommerce input.button.alt.disabled.focus,.woocommerce input.button.alt.disabled:active,.woocommerce input.button.alt.disabled:focus,.woocommerce input.button.alt.disabled:hover,.woocommerce input.button.alt[disabled],.woocommerce input.button.alt[disabled].active,.woocommerce input.button.alt[disabled].focus,.woocommerce input.button.alt[disabled]:active,.woocommerce input.button.alt[disabled]:focus,.woocommerce input.button.alt[disabled]:hover,fieldset[disabled] .woocommerce #respond input#submit.alt,fieldset[disabled] .woocommerce #respond input#submit.alt.active,fieldset[disabled] .woocommerce #respond input#submit.alt.focus,fieldset[disabled] .woocommerce #respond input#submit.alt:active,fieldset[disabled] .woocommerce #respond input#submit.alt:focus,fieldset[disabled] .woocommerce #respond input#submit.alt:hover,fieldset[disabled] .woocommerce a.button.alt,fieldset[disabled] .woocommerce a.button.alt.active,fieldset[disabled] .woocommerce a.button.alt.focus,fieldset[disabled] .woocommerce a.button.alt:active,fieldset[disabled] .woocommerce a.button.alt:focus,fieldset[disabled] .woocommerce a.button.alt:hover,fieldset[disabled] .woocommerce button.button.alt,fieldset[disabled] .woocommerce button.button.alt.active,fieldset[disabled] .woocommerce button.button.alt.focus,fieldset[disabled] .woocommerce button.button.alt:active,fieldset[disabled] .woocommerce button.button.alt:focus,fieldset[disabled] .woocommerce button.button.alt:hover,fieldset[disabled] .woocommerce input.button.alt,fieldset[disabled] .woocommerce input.button.alt.active,fieldset[disabled] .woocommerce input.button.alt.focus,fieldset[disabled] .woocommerce input.button.alt:active,fieldset[disabled] .woocommerce input.button.alt:focus,fieldset[disabled] .woocommerce input.button.alt:hover {
    background-color: #ffba41;
    border-color: #ffba41; }
  .woocommerce #respond input#submit.alt .badge,.woocommerce a.button.alt .badge,.woocommerce button.button.alt .badge,.woocommerce input.button.alt .badge {
    color: #ffba41;
    background-color: #fff; }

#main-container .woocommerce button.button.single_add_to_cart_button .icon-cart,.woocommerce a.add_to_cart_button .icon-cart,.woocommerce a.product_type_external .icon-cart {
  width: 16px;
  height: 16px;
  line-height: 13px;
  text-align: center;
  color: #ffba41;
  font-size: 10px;
  border: 2px solid #ffba41;
  border-radius: 50%; }

#main-container .woocommerce button.button.single_add_to_cart_button:hover,.woocommerce a.add_to_cart_button:hover,.woocommerce a.product_type_external:hover {
  color: #fff; }

/**
 * Input Form Styles
 */
.woocommerce-cart table.cart input.input-text,.woocommerce-page form .form-row .input-text,.woocommerce form .form-row .input-text,.woocommerce form .form-row textarea,.woocommerce select {
  padding: 5px 15px;
  line-height: 2 !important;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  border-radius: 0; }
  .woocommerce-cart table.cart input.input-text:focus,.woocommerce-page form .form-row .input-text:focus,.woocommerce form .form-row .input-text:focus,.woocommerce form .form-row textarea:focus,.woocommerce select:focus {
    border-color: #7e2d53;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .woocommerce-cart table.cart input.input-text::-moz-placeholder,.woocommerce-page form .form-row .input-text::-moz-placeholder,.woocommerce form .form-row .input-text::-moz-placeholder,.woocommerce form .form-row textarea::-moz-placeholder,.woocommerce select::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .woocommerce-cart table.cart input.input-text:-ms-input-placeholder,.woocommerce-page form .form-row .input-text:-ms-input-placeholder,.woocommerce form .form-row .input-text:-ms-input-placeholder,.woocommerce form .form-row textarea:-ms-input-placeholder,.woocommerce select:-ms-input-placeholder {
    color: #999; }
  .woocommerce-cart table.cart input.input-text::-webkit-input-placeholder,.woocommerce-page form .form-row .input-text::-webkit-input-placeholder,.woocommerce form .form-row .input-text::-webkit-input-placeholder,.woocommerce form .form-row textarea::-webkit-input-placeholder,.woocommerce select::-webkit-input-placeholder {
    color: #999; }
  .woocommerce-cart table.cart input.input-text[disabled],.woocommerce-cart table.cart input.input-text[readonly],.woocommerce-page form .form-row .input-text[disabled],.woocommerce-page form .form-row .input-text[readonly],.woocommerce form .form-row .input-text[disabled],.woocommerce form .form-row .input-text[readonly],.woocommerce form .form-row textarea[disabled],.woocommerce form .form-row textarea[readonly],.woocommerce select[disabled],.woocommerce select[readonly],fieldset[disabled] .woocommerce-cart table.cart input.input-text,fieldset[disabled] .woocommerce-page form .form-row .input-text,fieldset[disabled] .woocommerce form .form-row .input-text,fieldset[disabled] .woocommerce form .form-row textarea,fieldset[disabled] .woocommerce select {
    background-color: #eee;
    opacity: 1; }
  .woocommerce-cart table.cart input.input-text[disabled],.woocommerce-page form .form-row .input-text[disabled],.woocommerce form .form-row .input-text[disabled],.woocommerce form .form-row textarea[disabled],.woocommerce select[disabled],fieldset[disabled] .woocommerce-cart table.cart input.input-text,fieldset[disabled] .woocommerce-page form .form-row .input-text,fieldset[disabled] .woocommerce form .form-row .input-text,fieldset[disabled] .woocommerce form .form-row textarea,fieldset[disabled] .woocommerce select {
    cursor: not-allowed; }

.woocommerce #content table.cart td.actions .button,.woocommerce #content table.cart td.actions .input-text,.woocommerce #content table.cart td.actions input,.woocommerce-page #content table.cart td.actions .button,.woocommerce-page #content table.cart td.actions .input-text,.woocommerce-page #content table.cart td.actions input,.woocommerce-page table.cart td.actions .button,.woocommerce-page table.cart td.actions .input-text,.woocommerce-page table.cart td.actions input,.woocommerce table.cart td.actions .button,.woocommerce table.cart td.actions .input-text,.woocommerce table.cart td.actions input {
  width: auto !important; }
  @media (max-width: 480px) {
    .woocommerce #content table.cart td.actions .button,.woocommerce #content table.cart td.actions .input-text,.woocommerce #content table.cart td.actions input,.woocommerce-page #content table.cart td.actions .button,.woocommerce-page #content table.cart td.actions .input-text,.woocommerce-page #content table.cart td.actions input,.woocommerce-page table.cart td.actions .button,.woocommerce-page table.cart td.actions .input-text,.woocommerce-page table.cart td.actions input,.woocommerce table.cart td.actions .button,.woocommerce table.cart td.actions .input-text,.woocommerce table.cart td.actions input {
      width: 100% !important; } }

.woocommerce form .form-row textarea {
  min-height: 100px; }

.woocommerce-cart table.cart input {
  letter-spacing: 0; }
  .woocommerce-cart table.cart input.btn-default {
    padding: 14px 40px; }

.woocommerce #content table.cart td.actions .input-text,.woocommerce-page #content table.cart td.actions .input-text,.woocommerce-page table.cart td.actions .input-text,.woocommerce table.cart td.actions .input-text {
  width: auto !important;
  padding: 9px; }
  @media (max-width: 480px) {
    .woocommerce #content table.cart td.actions .input-text,.woocommerce-page #content table.cart td.actions .input-text,.woocommerce-page table.cart td.actions .input-text,.woocommerce table.cart td.actions .input-text {
      width: 100% !important;
      margin: 0 0 10px; } }

.woocommerce form .form-row.woocommerce-validated .select2-container,.woocommerce form .form-row.woocommerce-validated input.input-text,.woocommerce form .form-row.woocommerce-validated select {
  border-color: #ffba41; }

@media screen and (max-width: 480px) {
  .woocommerce-page form .form-row-first,.woocommerce-page form .form-row-last,.woocommerce form .form-row-first,.woocommerce form .form-row-last {
    float: none !important;
    width: auto !important; } }

.select2-container .select2-choice {
  padding: 4px !important;
  border-radius: 0 !important; }

.woocommerce-cart table.cart input.input-text {
  line-height: 40px !important;
  height: 42px;
  width: 100px; }

.woocommerce-checkout #customer_details {
  margin-bottom: 60px; }

.woocommerce-checkout h3 {
  font-size: 26px; }

.woocommerce table.shop_table {
  border-radius: 0 !important; }
  .woocommerce table.shop_table th {
    font-weight: 500 !important;
    border-bottom: 0; }

.woocommerce-page .woocommerce-checkout .col2-set .col-1,.woocommerce-page .woocommerce-checkout .col2-set .col-2,.woocommerce .woocommerce-checkout .col2-set .col-1,.woocommerce .woocommerce-checkout .col2-set .col-2 {
  float: none;
  width: 100%; }

.woocommerce-page .page-title,.woocommerce .page-title {
  display: none; }


