.lista-blog {
    .alm {
        &-load-more-btn {
            color: $footerFontColor;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-size: $fontSmall;
            -webkit-appearance: initial;
            -moz-appearance: initial;
            border: 0;
            text-align: center;
            margin: 30px auto;
            display: block;
            font-weight: 400;

            &:hover {
                color: $fontColorWine;
                cursor: pointer;
            }

            &.done {
               display: none;
            }
        }
    }

    .css-grid {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .flex-item {
        width: calc(33.33333% - 32px) !important;
        margin: 0 0 32px 32px !important;

        > a {
            height: 200px;
            overflow: hidden;
            display: block;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        a {
            color: $fontColorWine;
            font-size: $fontBig*0.8;
            font-family: $fontFamilyHeading;

            &:hover {
                color: $bodyColor;
            }
        }

        .info-cat {
            display: block;
            margin-bottom: 0px;

            span {
                margin-right: 20px;

                ul {
                    margin: 0;
                    padding: 0;
                    width: auto;
                    display: inline-block;

                    li {
                        display: inline-block;
                    }
                }

                a {
                    font-family: $fontFamily !important;
                    font-size: $fontSmall;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    display: inline-block;
                }
            }

            time {
                color: $bodyColor;
                font-size: $fontSmall;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                display: inline-block;
            }
        }
    }
}

body.archive {
    h1.archive-title {
        display: block;
    }
}

.single-post {
    #main-container {
        margin: $paddingSezioniTop auto 0;
    }

    .entry-title {
        color: $fontColorWine;
        font-size: $fontHeaderSize !important;
        font-family: $fontFamilyHeading;
    }

    .entry-meta {
        .author {
            display: none;
        }

        .entry-date {
            color: $bodyColor;
            font-size: $fontSmall;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            display: inline-block;
        }

        .entry-category a {
            font-family: $fontFamily !important;
            font-size: $fontSmall;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            display: inline-block;
            color: $fontColorWine;

            &:hover {
                color: $bodyColor;
            }
        }
    }

    .widget-title {
        color: $fontColorWine;
        font-size: $fontBig*0.7 !important;
        font-family: $fontFamilyHeading;
        text-transform: none;
        letter-spacing: 1px;
        padding-bottom: 20px;
    }

    .post-thumbnail img {
        width: 100%;
    }
}