body {
    font-family: $fontFamily;
    color: $bodyColor;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-family: $fontFamilyHeading;
}

h2, h3 {
  @include marginBoxMediaQuery(0,0,0,0);
}

header {
    .header {
        &-top {
            &-inner {
                .logo {
                    max-width: 150px;
                }
            }   
        }
    }
}

.wp-block-getwid-section__wrapper {
    @include paddingBoxMediaQuery(0,80px,0,80px);
    @include marginBoxMediaQuery(0,0,0,0);
}
  
.alignleft {
    float: left;
    margin: 0;
}
  
.wp-block-columns {
    margin: 80px 0;
    &.columns-c {
        &-margin {
            @include marginBoxMediaQuery(0,0,0,0);
        }
    }
}

.btn {
    &-white {
        padding-top: 50px;
        
        a {
            @include boderdButtons(rgba(255,255,255,.2), rgba(255,255,255,.4));
            margin: 0;
        }
    }
  
    &-wine {
        a {
            @include boderdButtons($fontColorWine, $colorHover:#fff);
        }
        
        &.full a {
            @include boderdButtons($fontColorWine, #fff, #fff, $fontColorWine, $fontColorWine, $fontColorWine);
        }
    }

    &-gray {
        padding-top: $paddingSezioniTop * 0.5;

        a {
            color: $footerFontColor;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-size: $fontSmall;

            &:hover {
                color: $fontColorWine;
            }
        }
    }

    &-line-wine {
        margin-top: 30px;

        a {
            text-transform: uppercase;
            font-size: $fontSmall;
            letter-spacing: 1.5px;
            padding-left: 80px;
            position: relative;
            color: $fontColorWine;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                width: 50px;
                height: 1px;
                background: $fontColorWine;
            }

            &:hover {
                color: $bodyColor;

                &::before {
                    background: $bodyColor;
                }
            }
        }
    }
}

.title {
    &-cover {
        &-claim {
            font-weight: $fontHeaderWeight;
            @include fontMediaQuery($fontHeaderSize - 3);
            @include marginBoxMediaQuery(0,0,0,0);
            color: #fff;
        }
    }

    &-small {
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1.5px;
        margin-bottom: 0;
        position: relative;
        @include paddingBoxMediaQuery(0, 40px, 20px, 40px);
  
        &.line {
            max-width: 300px;
            position: relative;
            overflow: hidden;
            margin: 40px auto 0;
            padding: 0 20px 20px;
            font-size: $fontSmall;

            &:first-child {
                margin-top: 0;
            }

            &::after, &::before {
                content: "";
                position: absolute;
                top: calc(50% - 10px);
                height: 1px;
                width: 60px;
                background: #ebebeb;
            }
            &::after {
                right: 0;
            }
            &::before {
                left: 0;
            }
        }

        &.wine {
            @include wineColor()
        }
    }
  
    &-medium {
        font-weight: $fontH3Weight;
        @include fontMediaQuery($fontHeaderSize);
        @include paddingBoxMediaQuery(0, 80px, 40px, 80px); //@include  spacingBoxMediaQuery(0, 80px, 15px, 0);
  
        &-low {
            font-family: $fontFamilyHeading;
            @include fontMediaQuery($fontHeaderSize*.5);
            @include paddingBoxMediaQuery(20px, 0px, 20px, 0);

            &.wine, &-wine {
            @include wineColor();
            }
        }
  
        &.wine, &-wine {
            @include wineColor();
        }
    }
}

.header-sezione {
    .wp-block-getwid-section__wrapper {
        padding-top: $paddingSezioneHeaderTop;
        padding-bottom: $paddingSezioneHeaderBottom;
        .wp-block-getwid-section__inner-wrapper {
            max-width: 1200px !important;
            margin: 0 auto;

            > .wp-block-getwid-section__content {
                max-width: 100% !important;
                margin: 0 auto;
            }
        }
    }
}

.breadcrumbs {
    position: relative;
    padding-left: 90px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #fff;
    font-size: $fontSmall;
    font-weight: 300;
    margin-top: 20px;

    &::before {
        content: "";
        display: block;
        width: 70px;
        height: 1px;
        background: #fff;
        position: absolute;
        left: 0;
        top: 50%;
    }

    a {
        color: #fff;

        &:hover {
            color: #fff;
            border-bottom: 1px solid #fff;
        }
    }
}

.wp-block-getwid-section:not(.square):not(.header-sezione)  {
    .wp-block-getwid-section__content {
        > .wp-block-getwid-section__inner-content {
            padding: $paddingSezioniTop $paddingSezioniLeftRight $paddingSezioniBottom;
        }
        
    }
}

.footer {
    p {
        color: $footerFontColor !important;

        a {
            color: #fff;

            &:hover {
                border-bottom: 1px solid;
            }
        }
    }

    .intro-footer {
        max-width: 80%;
        margin: 0 auto 30px;
    }

    .footer-copy {
        font-size: $fontSmall;
        color: $footerFontColor;
        margin-top: 40px;
        a {
            color: #fff;

            &:hover {
                border-bottom: 1px solid;
            }
        }
    }

    img {
        max-width: 200px;
        margin: 0 auto 40px;
        text-align: center;
        display: block;
    }
    .wp-block-getwid-social-links {
        margin-top: 40px;
        position: relative;
        overflow: inherit;

        &::before {
            content: "";
            width: 100%;
            height: 1px;
            background: #35393f;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: -1;
        }

        .wp-block-getwid-social-links__list {
            width: 300px;
            margin: 0 auto;
            background-color: $footerColor;
        }

        .wp-block-getwid-social-links__item {
            padding: 0 10px;

            a {
                span {
                    border-width: 2px;
                    border-color: #4b4f54;
                    background-color: $footerColor;
                }
                &:hover span {
                    background-color: #4b4f54;
                }
            }
        }
    }
}

.scrollup {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 50px;
    height: 80px;
}

.column-t {
    &-text {
        & > * {
            @include paddingBoxMediaQuery(0, 60px, 20px, 60px);
            @include marginBoxMediaQuery(0, 0, 0, 0);
        }

        .title {
        
            &-small {
                @include paddingBoxMediaQuery(0, 60px, 20px, 60px);
            }
          
            &-medium {
                @include paddingBoxMediaQuery(0, 60px, 20px, 60px); //@include  spacingBoxMediaQuery(0, 80px, 15px, 0);
          
                &-low {
                    @include paddingBoxMediaQuery(20px, 0px, 20px, 0);
                }
            }
        }
    }
}

.mt-sezione {
    margin-top: $paddingSezioniTop*2;
    &-small {
        margin-top: $paddingSezioniTop;
    }
}

.mb-sezione {
    margin-bottom: $paddingSezioniBottom*0.7;
    &-small {
        margin-bottom: $paddingSezioniBottom*0.5;
    }
}

.tohide {
    display: none;
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.boxcolonna {
    padding: $paddingSezioniLeftRight*1.5;
    background: rgba(255,255,255,0.5);

    .title-medium {
        margin-bottom: $paddingSezioniLeftRight !important;
    }
}