.form-contatti-form {
    max-width: 600px;
    margin: 0 auto;

    input:not([type="submit"]), textarea {
        width: calc(100% - 16px);
        border: 1px solid #e5e5e5;
        background: #efefef;
        border-radius: 0;
        margin: 10px 8px;
        box-sizing: border-box;
        padding: 8px 15px;
        display: block;
        color: #000;
    }

    textarea {
        height: 10em;
    }
    
    label {
        font-weight: 300;
    }
    
    .wpcf7-acceptance {
        label {
            padding-left: 30px;
            position: relative;
            margin: 0 8px;
        }

        a {
            color: $fontColorWine;
            text-decoration: underline;

            &:hover {
                color: $bodyColor;
            }
        }
    }

    input{
        &[type="submit"] {
            @include boderdButtons($fontColorWine, #fff, #fff, $fontColorWine, $fontColorWine, $fontColorWine);
            margin: 20px auto;
            width: auto;
            display: block;
        }

        &[type="checkbox"] {
            width: auto;
            display: none;
            margin: 0;
            position: relative;

            & + span:before {
                content: '';
                position: absolute;
                left: 0;
                top: calc(50% - 9px);
                width: 18px;
                height: 18px;
                border: 1px solid #e5e5e5;
                background: #fff;
                -webkit-transform: rotate(40deg);
                transform: rotate(0deg);
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
                transition: all 0.2s;
            }

            &:checked + span:before {
                width: 10px;
                height: 18px;
                background: transparent;
                border-top: 1px solid transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
                -webkit-transform: rotate(40deg);
                transform: rotate(40deg);
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
            }

            & + span:after {
                content: '';
            }

            &:checked + span:after {
            }
        }
    }

    span {
        .wpcf7-not-valid-tip {
            display: none;
        }

        .wpcf7-form-control-wrap {
            position: inherit;
        }

        &.wpcf7-list-item {
            margin: 0;
        }
    }

    .wpcf7-not-valid {
        border: 1px solid red;
    }

    .col1-form { 
        width: 100%;
        float: none;
    }

    .col2 {
        &-container {
            clear: both;
        }
        &-form {
            width: 50%;
            float: left;
            box-sizing: border-box;
        }
    }
}

div.wpcf7-response-output {
    max-width: 600px;
    margin: 0 auto;
    font-weight: 700;
    color: #000;
}

.contatti {
    &-titolo {
        .wp-block-getwid-section__inner-content {
            //@at-root: 0 !important;
        }
    }
    &-info {
        &.contatti-footer {
            background: #fff;
            
            .wp-block-getwid-section__inner-content {
                padding-top: 0 !important;
            }
        }
        .btn-wine.full {
            margin: 60px auto 0;

            a {
                padding: 15px 30px;
                font-weight: 400;
                max-width: 200px;
                width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.wpcf7-form-control-wrap {
    position: inherit !important;
}