//// 4 BOX IN HOME QUADRATI
.wp-block-columns {
    @include marginBoxMediaQuery(0,0,0,0);
    /////BLOCCO CTA SQUARE IN HOMPAGE
    &.square {
        @include marginBoxMediaQuery(0,0,0,0);
        
        > .wp-block-column {
            @include transitions();
            @include paddingBoxMediaQuery(0,0,0,0);
            @include marginBoxMediaQuery(0,0,0,0);
            align-self: flex-start;
  
            .title-medium-low, p {
                @include paddingBoxMediaQuery(10px,10px,10px,10px);
            }
  
            .wp-block-columns {
                > .wp-block-column {
                    @include marginBoxMediaQuery(0,0,0,0);
        
                    .wp-block-image {
                        overflow: hidden;
                        @include marginBoxMediaQuery(0,0,0,0);
        
                        img {
                            @include transitions();
                            transform: scale(1);
                        }
                    }
                }
            }
  
            &:hover {
                @include transitions();
                background-color: $fontColorWine;
  
                .title-medium-low, p {
                    color: #fff;
                }
  
                .btn-wine a {
                    @include boderdButtons(rgba(255,255,255,.2), rgba(255,255,255,.4));
                }
  
                .wp-block-column {
                    .wp-block-image {
                        img {
                            @include transitions();
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .col-padding {
            p.has-text-align-center {
                line-height: 1.5;
                margin: 0 !important;
            }
            
            .btn-wine a {
                margin: 10px 0;
            }
        }
    }
    
    ////I DUE PARGAGRAFETTI CON L?ICONA DEL VINO E DEL GRANO
    &.icons {
        img {
            width: 40px;
        }

        &.icons-line-wine {
            @include paddingBoxMediaQuery(150px, 0px, 50px, 0px);
            max-width: 60%;
            margin: 0 auto;

            p {
                line-height: 1.5;
                font-size: 18px;
            }

            figure {
                text-align: center;
            }

            .wp-block-media-text {
                grid-template-columns: 60px auto;
            }

            .wp-block-column:nth-child(2) {
                position: relative;
                margin-left: 100px;

                &::before {
                    content: "";
                    position: absolute;
                    top: calc(50% - 10px);
                    width: 50px;
                    height: 1px;
                    background: #e5e5e5;
                    left: calc(-50px - 25px);
                }
            }
        }
    }
}

//// STRISCIA CON LE 4 PASTE
.shop-strip {
    .wp-block-columns {
        .wp-block-column {
            .wp-block-getwid-image-box {
                position: relative;
                
                &__content {
                    opacity: 0;

                    h3{
                        @include marginBoxMediaQuery(10px,0,0,0);
                        @include fontMediaQuery($fontHeaderSize*0.4);
                        color: $fontColorWine;
                    }

                    p{
                        @include marginBoxMediaQuery(0,0,10px,0);
                        color: $fontColorWine;
                        text-transform: uppercase;
                        font-size: $fontSmall;
                        letter-spacing: 2px;
                    }
                    
                    @include transitions();
                    position: absolute;
                    background: #fff;
                    top: 50%;
                    width: 80%;
                    margin-left: 10%;
                    transform: translateY(-60%);
                }

                &__image-wrapper{
                    overflow: hidden;
                    
                    img{
                        @include transitions();
                        transform: scale(1);
                    }
                }

                &:hover{
                    .wp-block-getwid-image-box__content {
                        @include transitions();
                        opacity: 1;
                        transform: translateY(-50%);
                    }
                    .wp-block-getwid-image-box__image-wrapper {
                        img{
                            @include transitions();
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

ul.articoli-blog {
    justify-content: center;

    li{
        width: calc(33.33333% - 32px) !important;
        margin: 32px 0 0 32px !important;
         
        &:first-child {
            margin-left: 0 !important;
        }

        .wp-block-latest-posts__featured-image {
            height: 200px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-width: 100% !important;
                max-height: 100% !important;
            }
        }

        time {
            color: $bodyColor;
            font-size: $fontSmall;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        a {
            color: $fontColorWine;
            font-size: $fontBig*0.8;
            font-family: $fontFamilyHeading;
        }
    }
}

.sezione-inevidenza {
    margin-bottom: $paddingSezioniBottom*2;
    margin-top: $paddingSezioniTop;

    .col1-evidenza {
        background-image: url($baseUrl+'/pasta.png');
        background-position: 0 50px;
        background-size: 220px;
        background-repeat: no-repeat;
        padding-top: $paddingSezioniTop*2;
        padding-bottom: $paddingSezioniBottom*2;

        &-content {
            padding: 0 $inEvidenzaRight 0 $inEvidenzaLeft;
            margin: 0;
            
            .title {
                &-small {
                    padding: 0;
                }

                &-medium {
                    padding: 0;
                    font-size: $fontBig*1.2;
                    line-height: 1.35;
                    margin-bottom: $paddingSezioniLeftRight;
                }
            }
        }
    }
    .col2-evidenza {
        background-image: url($baseUrl+'/sfondo-spighe.jpg');
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding-top: $paddingSezioniTop*2;
        padding-bottom: $paddingSezioniBottom*2;

        .img-over {
            position: absolute;
            top: calc(50% - 250px);
            left: -50px;

            img {
                max-height: 500px;
                width: 285px;
                height: 100%;
            }
        }
    }
}