@media (max-width: 1440px) {
    .header-sezione {
        .wp-block-getwid-section__wrapper {
            .wp-block-getwid-section__inner-wrapper {
                max-width: 100% !important;
                margin: 0 auto;
    
                > .wp-block-getwid-section__content {
                    max-width: 100% !important;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .header-sezione {
        .wp-block-getwid-section__wrapper {
            padding: 0 40px;
        }
    }

    .tabs-storia {
        .wp-block-getwid-section__ {
            &wrapper {
                padding: 0 !important;
            }

            &inner-wrapper {
                max-width: 100% !important;
                padding: 0 !important;
            }
        }
    }

    .footer {
        .intro-footer {
            max-width: 100%;
            margin: 0 auto 30px;
        }
    }
}

@media (max-width: 1279px) {
    .sezione-inevidenza {
        .col1-evidenza {
            flex-basis: 60%;
        }
        .col2-evidenza {
            flex-basis: 40%;
        }
    }
}

@media (max-width: 1230px) {
    .wp-block-columns.square {
        .col-padding {
            p.has-text-align-center {
                padding: 6px 20px !important;
            }
        }
    }
}

@media (max-width: 1223px) {
    .wp-block-columns.square {
        .col-padding {
            .btn-wine a {
                padding: 12px 20px;
            }
        }
    }
}

@media (max-width: 1199px) {
    header .header-top {
        padding: 20px 0;

        &-inner .logo {
            margin: 0 auto;
        }
    }
    .topmobile-social {
        width: auto;
        
        ul {
            margin: 0;

            li {
                display: inline-block !important;
                padding: 0;
                margin: 0;
                line-height: inherit;
                font-size: inherit;
    
                a {
                    width: 48px;
                    height: 48px;
                    display: block;

                    i {
                        background-color: transparent !important;
                    }
                }
    
                span {
                    display: none;
                }
            }
        }
    }

    .home- {
        &header {
            > .wp-block-getwid-section__wrapper {
                padding: 0 !important;
            }

            &-testo {
                flex-basis: 100% !important;
            }
        }
    }

    .wp-block-columns.icons.icons-line-wine {
        max-width: 80%;
    }

    .sezione-inevidenza {
        .col1-evidenza {
            flex-basis: 65%;
        }
        .col2-evidenza {
            flex-basis: 35%;
        }
    }

    .lastoria-sezione {
        .colonna-storia {
            flex-basis: 50%;
        }
    }

    .nopadding-lapasta {
        .boxcolonna {
            flex-basis: 70%;
        }
    }
}

@media (max-width: 1023px) {
    .wp-block-columns.square {
        .col-padding {
            p.has-text-align-center {
                font-size: 14px;
            }

            .title-medium-low {
                font-size: 20px;
            }
        }
    }

    .lista-blog .flex-item {
        width: calc(50% - 32px) !important;
    }

    ul.articoli-blog {
        li{
            width: calc(50% - 32px) !important;
            margin: 32px 0 0 32px !important;
             
            &:first-child {
                margin-left: 0 !important;
            }
        }
    }
}

@media (max-width: 980px) {
    .sezione-inevidenza {
        .col1-evidenza-content {
            padding: 0 80px 0 170px;
        }   
    }

    .header-sezione {
        .wp-block-getwid-section__wrapper {
            padding: 0 20px;
        }
    }

    .breadcrumbs {
        padding-left: 40px;

        &::before {
            width: 30px;
        }
    }
}

@media (max-width: 959px) {
    .home- { 
        &header {
            .wp-block-getwid-section__inner-content {
                padding: 0 !important;
            }
        }
    }
    .wp-block-columns.square {
        flex-basis: 100%;
        flex-grow: 0;
        flex: 0 0 100%;
        flex-direction: column;
        flex-flow: column;
        flex-wrap: wrap;

        &:nth-child(2n+1) {
            .wp-block-columns.are-vertically-aligned-center {
                flex-direction: row-reverse;
            }
        }

        .col-padding {
            p.has-text-align-center {
                font-size: 16px;
                margin-bottom: 30px;
            }

            .title-medium-low {
                font-size: 30px;
                margin-bottom: 15px;
            }

            .btn-wine a {
                padding: 15px 40px;
            }
        }
    }

    .wp-block-columns.icons.icons-line-wine {
        max-width: 100%;
    }

    .wp-block-column.col-testo-footer {
        flex-basis: 100% !important;
    }

    .sezione-inevidenza {
        flex-direction: column;
        
        .col1-evidenza, .col2-evidenza {
            flex-basis: 100%;
        }

        .col2-evidenza {
            padding: 200px 0;
            background-position: center;

            .img-over {
                left: inherit;
                right: 50px;
            }
        }
    }

    .lastoria-sezione {
        .colonna-storia {
            flex-basis: 100%;
        }
    }

    .nopadding-lapasta {
        .wp-block-getwid-section__wrapper {
            padding: 0;
        }
        
        .boxcolonna {
            flex-basis: 100%;
            margin-left: 0;
            background: rgba(255,255,255,0.7);
        }
    }
}

@media (max-width: 781px) and (min-width: 600px) {
    .wp-block-column {
        flex-basis: 100% !important;
        flex-grow: 0;

        &:nth-child(2n) {
            margin-left: 0 !important;
        }
    }
    .wp-block-columns.square .wp-block-column {
        flex-basis: 50% !important;
    }
}

@media (max-width: 781px) {
    .home- { 
        &intro {
            .wp-block-column {
                flex-basis: 100%!important;
            }
        }
    }

    .wp-block-columns.icons.icons-line-wine {
        max-width: 80%;
        
        .wp-block-column:nth-child(2) {
            margin-top: 40px;

            &::before {
                display: none;
            }
        }
    }

    .wp-block-column.col-shop-thumb {
        flex-basis: calc(50% - 10px) !important;

        &:nth-child(2n) {
            margin-left: 20px !important;
            flex-basis: calc(50% - 10px) !important;
        }
    }

    .lista-blog .flex-item {
        width: 100% !important;
        margin: 32px 0 0 !important;
    }

    ul.articoli-blog {
        li{
            width: 100% !important;
            margin: 32px 0 0 !important;
        }
    }

    .tabs-storia {
        .wp-block-getwid-section__inner-content {
            padding: 0 !important;
        }
    }
}

@media (max-width: 660px) {
    .wp-block-columns.square {
        .col-padding {
            p.has-text-align-center {
                font-size: 14px;
                margin-bottom: 10px;
            }

            .title-medium-low {
                font-size: 25px;
                margin-bottom: 0px;
            }

            .btn-wine a {
                padding: 12px 20px;
            }
        }
    }

    .breadcrumbs {
        padding-left: 0px;
        font-size: 12px;
        
        &::before {
            display: none;
        }
    }

    .header-sezione {
        .wp-block-getwid-section__wrapper {
            padding: 0;
        }
    }

    .form-contatti-form .col2-form {
        width: 100%;
        float: none;
    }
}

@media (max-width: 599px) {
    .wp-block-columns.square {
        &:nth-child(2n+1) {
            .wp-block-columns.are-vertically-aligned-center {
                flex-direction: column-reverse;
            }
        }

        .col-padding {
            padding: 0px 20px 10px;
        }

        .wp-block-image {
            margin-bottom: 50px !important;
        }
    }

    .wp-block-columns.icons.icons-line-wine {
        padding-top: 0;
        max-width: 100%;
        text-align: center;

        figure {
            margin-bottom: 10px;
        }

        .wp-block-column:nth-child(2) {
            margin: 20px 0 0 !important;
        }
    }

    .title-small.line::after, .title-small.line::before {
        display: none;
    }

    .title-medium.wine, .title-medium-wine {
        font-size: 35px;
    }

    .sezione-inevidenza {
        .col1-evidenza {
            background: none;
            padding-top: 0;

            &-content {
                padding: 0 40px 0 40px;
            }
        }
    }
    .contatti-boxunico-interno .wp-block-getwid-section .wp-block-getwid-section__wrapper .wp-block-getwid-section__inner-wrapper {
        max-width: 100%;
    }

    .wp-block-getwid-section:not(.square):not(.header-sezione).contatti-boxunico .wp-block-getwid-section__content>.wp-block-getwid-section__inner-content {
        padding: 60px 0 !important;
    }

    .wp-block-getwid-section:not(.square):not(.header-sezione):not(.contatti-info):not(.contatti-titolo).contatti-boxunico-interno .wp-block-getwid-section__content>.wp-block-getwid-section__inner-content {
        padding: 30px 15px !important;
    }
}