.lastoria-sezione {
    margin: $paddingSezioniTop 0 $paddingSezioniBottom*2;

    .colonna-storia {
        background-color: #fff;
        padding: $paddingSezioniTop/2;
        min-height: 550px;

        .title-medium {
            padding: 0 0 $paddingSezioniLeftRight !important;
        }

        .wp-block-getwid-tabs {
            .ui-tabs-nav {
                border-bottom: 1px solid #e9e9e9;
                margin: 10px 0 30px;

                li {
                    border: 0;

                    &:first-child a {
                        padding-left: 0;
                    }
                    
                    a {
                        color: $fontColorWine;
                        font-size: $fontSmall;
                        text-transform: uppercase;
                        font-weight: 400;
                        letter-spacing: 1px;
                    }

                    &.ui-tabs-active {
                        a {
                            font-weight: 700;
                        }
                    }
                }
            }

            .ui-tabs-panel {
                border: 0;
                padding: 0;
            }
        }
    }
}