@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display&display=swap');

//$baseUrl: "/web/la_bastia_wordpress/wp-content/themes/LaBastia/images";
$baseUrl: "https://www.la-bastia.it/wp/wp-content/themes/LaBastia/images";

$fontFamily: 'Lato', sans-serif;
$fontFamilyHeading: 'Playfair Display', serif;
$fontBig: 32px;
$fontMedium: 16px;
$fontSmall: 14px;
$fontColorWine: #7e2d53; //rgba(126, 45, 83, 1)
$fontH3Weight: 200;
$fontHeaderSize: 56px; //4.4rem;
$ratioFont_lineHeight: 1.2;
$fontHeaderLineHeight: $fontHeaderSize* $ratioFont_lineHeight; //5.3rem;
$fontHeaderWeight: 400;
$footerColor: #1e2329;
$footerFontColor: #999999;
$bodyColor: #221f20;

$topPaddingMaster: 0;
$rightPaddingMaster: 80px;
$bottomPaddingMaster: 0;
$leftPaddingMaster: 80px;
$topMarginMaster: 0;
$rightMarginMaster: 0;
$bottomMarginMaster: 0;
$leftMarginMaster: 0;

$paddingSezioneHeaderTop: 10px;
$paddingSezioneHeaderBottom: 10px;

$paddingSezioniTop: 60px;
$paddingSezioniBottom: 60px;
$paddingSezioniLeftRight: 30px;

$inEvidenzaLeft: 200px;
$inEvidenzaRight: 80px;

//// MIXIN
@mixin wineColor() {
    color: $fontColorWine;
}
@mixin transitions() {
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}
@mixin boderdButtons($color:#fff, $colorHover:rgba(255,255,255,.2), $fontColor: #fff, $fontColorHover: #fff, $borderColor: #fff, $borderColorHover: #fff) {
    color: $color;
    @include transitions();
  
    //a {
        padding: 15px 40px;
        margin: 20px 0;
        border: 1px solid $borderColor;
        color: $fontColor;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 1.5px;
        background-color: $color;
    
        &:hover {
            background: $colorHover;
            color: $fontColorHover;
            border-color: $borderColorHover;
        }
    //}
}
@mixin fontMediaQuery($fontSize:$fontHeaderSize) {
    @media only screen and (max-width:599px) {
        font-size: ($fontSize - 30px);
        line-height: ($fontSize - 30px)* $ratioFont_lineHeight;
    }
    @media only screen and (min-width:600px) {
        font-size: ($fontSize - 30px);
        line-height: ($fontSize - 30px)* $ratioFont_lineHeight;
    }
    @media only screen and (min-width:782px) {
        font-size: ($fontSize - 20px);
        line-height: ($fontSize - 20px)* $ratioFont_lineHeight;
    }
    @media only screen and (min-width:980px) {
        font-size: ($fontSize - 15px);
        line-height: ($fontSize - 15px)* $ratioFont_lineHeight;
    }
    @media only screen and (min-width:1024px) {
        font-size: ($fontSize - 10px);
        line-height: ($fontSize - 10px)* $ratioFont_lineHeight;
    }
    @media only screen and (min-width:1200px) {
        font-size: ($fontSize - 10px);
        line-height: ($fontSize - 10px)* $ratioFont_lineHeight;
    }
    @media only screen and (min-width:1224px) {
        font-size: $fontSize;
        line-height: $fontSize * $ratioFont_lineHeight;
    }
}
@mixin paddingBoxMediaQuery($topPadding: $topPaddingMaster, $rightPadding:$rightPaddingMaster,$bottomPadding: $bottomPaddingMaster, $leftPadding:$leftPaddingMaster) {
    @media only screen and (max-width:599px) {
        $ratio: 0.5;
        padding: ($topPadding)*$ratio (0)*$ratio ($bottomPadding)*$ratio;
    }
    @media only screen and (min-width:600px) {
        $ratio: 0.5;
        padding: ($topPadding)*$ratio ($rightPadding)*$ratio ($bottomPadding)*$ratio ($leftPadding)*$ratio;
    }
    @media only screen and (min-width:782px) {
        $ratio: 0.4;
        padding: ($topPadding)*$ratio ($rightPadding)*$ratio ($bottomPadding)*$ratio ($leftPadding)*$ratio;
    }
    @media only screen and (min-width:980px) {
        $ratio: 0.3;
        padding: ($topPadding)*$ratio ($rightPadding)*$ratio ($bottomPadding)*$ratio ($leftPadding)*$ratio;
    }
    @media only screen and (min-width:1024px) {
        $ratio: 0.6;
        padding: ($topPadding)*$ratio ($rightPadding)*$ratio ($bottomPadding)*$ratio ($leftPadding)*$ratio;
    }
    @media only screen and (min-width:1200px) {
        $ratio: 0.8;
        padding: ($topPadding)*$ratio ($rightPadding)*$ratio ($bottomPadding)*$ratio ($leftPadding)*$ratio;
    }
    @media only screen and (min-width:1224px) {
        $ratio: 1;
        padding: ($topPadding)*$ratio ($rightPadding)*$ratio ($bottomPadding)*$ratio ($leftPadding)*$ratio;
    }
}
@mixin marginBoxMediaQuery($topMargin: $topMarginMaster, $rightMargin:$rightMarginMaster,$bottomMargin: $bottomMarginMaster, $leftMargin:$leftMarginMaster) {
    @media only screen and (max-width:599px) {
        $ratio: 0.5;
      margin: ($topMargin)*$ratio ($rightMargin)*$ratio ($bottomMargin)*$ratio ($leftMargin)*$ratio;
    }   
    @media only screen and (min-width:600px) {
        $ratio: 0.3;
        margin: ($topMargin)*$ratio ($rightMargin)*$ratio ($bottomMargin)*$ratio ($leftMargin)*$ratio;
    }
    @media only screen and (min-width:782px) {
        $ratio: 0.4;
        margin: ($topMargin)*$ratio ($rightMargin)*$ratio ($bottomMargin)*$ratio ($leftMargin)*$ratio;
    }
    @media only screen and (min-width:980px) {
        $ratio: 0.3;
        margin: ($topMargin)*$ratio ($rightMargin)*$ratio ($bottomMargin)*$ratio ($leftMargin)*$ratio;
    }
    @media only screen and (min-width:1024px) {
        $ratio: 0.6;
        margin: ($topMargin)*$ratio ($rightMargin)*$ratio ($bottomMargin)*$ratio ($leftMargin)*$ratio;
    }
    @media only screen and (min-width:1200px) {
        $ratio: 0.8;
        margin: ($topMargin)*$ratio ($rightMargin)*$ratio ($bottomMargin)*$ratio ($leftMargin)*$ratio;
    }
    @media only screen and (min-width:1224px) {
        $ratio: 1;
        margin: ($topMargin)*$ratio ($rightMargin)*$ratio ($bottomMargin)*$ratio ($leftMargin)*$ratio;
    }
}
@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}