/*
 * Global variables
 */

$theme-font-path           	: "../../../fonts/";
$fa-font-path              	: "../../../fonts/";
$image-theme-path          	: "../../../images/";
$image-theme-skin		   	: "../../../images/";
$lexus-font-path           	: "../../../fonts/";

// color for default theme
$text-color					: #999999 !default;
$theme-color			   	: #ffba41 !default;
$theme-color-second 	   	: #430908 !default;
$link-color 				: #000 !default;
$link-hover-color			: $theme-color-second  !default;
$grid-gutter-width         	: 40px !default;

$screen-lg					: 1320px !default;
$container-large-desktop   	: ((1280px + $grid-gutter-width) ) !default; 

// Typography

$font-family-base			: 'Noto Serif', serif !default;
$font-family-monospace		: 'Noto Serif', monospace !default;
$headings-font-family		: 'Fredoka One', cursive !default;

$font-weight-base: 400 !default;
$line-height-base: 2.25 !default;