@font-face {
  font-family: iconmoo;
  src:  url(../fonts/iconmoo.eot?bqqa8r);
  src:  url(../fonts/iconmoo.eot?bqqa8r#iefix) format("embedded-opentype"),url(../fonts/iconmoo.ttf?bqqa8r) format("truetype"),url(../fonts/iconmoo.woff?bqqa8r) format("woff"),url(../fonts/iconmoo.svg?bqqa8r#iconmoo) format("svg");
  font-weight: 400;
  font-style: normal;
}

[class*=" icon-"],[class^=icon-] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: iconmoo !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e900";
}
.icon-2:before {
  content: "\e901";
}
.icon-3:before {
  content: "\e902";
}
.icon-4:before {
  content: "\e903";
}
.icon-5:before {
  content: "\e904";
}
.icon-6:before {
  content: "\e905";
}
.icon-7:before {
  content: "\e906";
}
.icon-tab1:before {
  content: "\e909";
}
.icon-tab2:before {
  content: "\e90a";
}
.icon-tab3:before {
  content: "\e90b";
}
.icon-tab4:before {
  content: "\e90c";
}
.icon-tab5:before {
  content: "\e90d";
}
.icon-tab6:before {
  content: "\e90e";
}
.icon-tab7:before {
  content: "\e90f";
}
.icon-tab8:before {
  content: "\e910";
}
.icon-tab9:before {
  content: "\e911";
}
