#page {
    overflow-x: hidden;
}
body{
    &:not(.page-template-default){
        .site-main{
            margin-bottom: 150px;
        }
    }
    &[class*="woocommerce-"] {
        .site-main{
            margin-bottom: 120px;
        }
    }
    
}
.owl-carousel-play {
    margin-left: -20px;
    margin-right: -20px;
}
.owl-carousel .owl-item {
    .item {
        padding: 0 20px;
    }
}

.form-control {
    height: 50px;
}

.btn{
	font-family: $font-family-bold;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 2px;
	@include transition(all 0s ease);
}
.btn-sm {
    @include button-size(23px, 53px, 12px, normal, 50px);
    @media (max-width: $screen-xs-max){
        padding: 15px;
    }
}
.btn-lg {
    @include button-size(27px, 43px, 12px, normal, 50px);
    @media (max-width: $screen-xs-max){
        padding: 15px;
    }
}
.btn-default {
    color: $white;
    background-color: $theme-color;
    border: 0;
    height: auto;
    &:hover{
    	background: #363636;
    }
}

.btn-primary {
    color: $theme-color;
    background-color: transparent !important;
    border: 2px solid $theme-color !important;
    height: auto;
    &:hover{
    	background: #363636;
    	border-color: #363636;
    }
}

.#{$app-prefix}-breadscrumb {
    background-image: url('#{$image-theme-path}moo_breadscrumb.jpg');
    min-height: 360px;
    padding: 15px;
    margin-bottom: 135px;
    @include flexbox();
    align-items: center;
    @media (max-width: $screen-sm-max) {
        margin-bottom: 40px;
    }
    .breadcrumb {
        padding: 0;
        font-size: 16px;
        margin: 0;
        &:before {
            content: "";
            display: none;
        }
    }
    h1 {
        margin-bottom: 10px;
    }
    .pbr-woocommerce-breadcrumb {
        padding-top: 100px;
        @media (max-width: $screen-phone) {
            padding-top: 55px;
        }
        &:before {
            top: auto;
            bottom: 15px;
        }
    }
    &.has-parallax {
        background-position: top center;
    }
}

article {
    &.post {
        margin-bottom: 65px;
        .entry-thumb{
            position: relative;
            margin-bottom: 30px;
        }
        .post-preview{
            position: relative;
        }
        .first-category{
            display: inline-block !important;
            position: absolute;
            top: 40px;
            left: 40px;
            text-align: center;
            background: $theme-color;
            z-index: 1;
            @include border-radius(30px);
            @include transition(all 0.3s ease);
            @media (max-width: $screen-md-max){
                top: 20px;
                left: 20px;
            }
            &:hover{
                background: $theme-color-second;
            }
            a{
                display: block;
                color: $white;
                font-size: 12px;
                line-height: 30px;
                padding: 1px 15px;
                min-width: 90px;
            }
        }
        .entry-content,.entry-meta{
            margin-bottom: 0;
            a{
                text-transform: capitalize;
                color: $text-color;
                &:hover{
                    color: $theme-color !important;
                }
            }
        }
        .entry-category{
            display: none;
        }
        .entry-date{
            em {display: none;}
        }
        .entry-title{
            font-size: 24px;
            line-height: 36px;
            font-weight: 700;
            font-family: $font-family-base;
            margin: 10px 0;
            a{
                color: $black;
                &:hover{
                    color: $theme-color;
                }
            }
        }
        .entry-description{
            p {
                margin: 0;
                line-height: 30px;
            }
        }
    }
}

.post-single {
    padding-bottom: 35px;
    .entry-content {
        font-size: 16px;
        line-height: 30px;
    }
}

.single-post {
    blockquote {
        font-size: 20px;
        line-height: 36px;
        color: $black;
        font-family: $font-family-base;
        font-style: italic;
    }
}

.widget .widget-title, .widget .widgettitle {
    color: $theme-color-second;
    font-size: 16px;
    line-height: normal;
}
.title-heading {
    color: $theme-color-second;
    font-size: 16px;
    line-height: normal;
}

.pbr-social-share{
    .bo-social-icons{
        [class*="bo-social-"] {
            background: transparent;
            font-size: 14px;
            color: $black;
            &:hover{
                color: $theme-color;
            }
        }
    }
}
body .woocommerce {
    ul.product_list_widget li a, .widget-product a {
        font-family: $font-family-base;
        &:hover{
            color: $theme-color;
        }
    }
}


body {
    .products-list{
        .product-block{
            margin-bottom: 40px;
        }
    }
    .product-block{
        overflow: visible;
        margin-bottom: 245px;
        &:hover{
           .button-action{
                .add-cart{
                    @include scale(1);
                }
                .show a,.quick-view a,.yith-compare .compare{
                    @include scale(1);
                }
            } 
        }
        .product-year {
            display: none;
        }
        .caption {
            top: auto !important;
            bottom: 0 !important;
            left: 0;
            right: 0;
            padding-bottom: 20px;
            @include translateY(100%);
            .meta{
                padding: 0 !important;
                display: block;
                .rating{
                    display: none !important;
                }
                .name{
                    font-size: 18px;
                    font-family: $font-family-bold;
                    line-height: normal;
                    margin-top: 30px;
                    margin-bottom: 22px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    a{
                        @icnlude transition(all 0.3s ease);
                        &:hover{
                            color: $theme-color;
                        }
                    }
                }
                .price {
                    display: block;
                    > *{
                        font-family: $font-family-bold;
                        font-size: 24px;
                        display: inline-block;
                    }
                    & > del {
                        font-size: 16px;
                    }
                }
                .description{
                    display: block !important;
                    line-height: 30px;
                    margin-bottom: 15px;
                }
            }
        }
        .button-action{
            height: 52px !important;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0 !important;
            margin: auto;
            background: transparent;
            @include translateY(0);
            visibility: visible;
            @include opacity(1);
            @include transition(all 0.3s ease);
            .add-cart{
                display: inline-block !important;
                margin-top: 0;
                @include scale(0);
                @include transition(all 0.3s ease);
                .btn-primary{
                    font-size: 16px;
                    height: 50px;
                    line-height: 50px;
                    width: 50px;
                    @include border-radius(50%);
                    .title-cart{
                        display: none;
                    }
                    .hidden{
                        display: block !important;
                        line-height: inherit;
                    }
                }
                .added_to_cart {
                    display: none !important;
                }
            } 
            .yith-compare{
                border: 0 !important;
            }
            .show a,.quick-view a,.yith-compare .compare{
                font-size: 16px;
                background-color: $theme-color;
                color: $white;
                height: 50px;
                width: 50px;
                line-height: 50px;
                @include scale(0);
                &:hover{
                    color: $white !important;
                    background: $theme-color-second;
                }
            }
        }
    }
}

.woocommerce{
    &.single-product{
        div.product {
            .product-year{
                display: none;
            }
            p.price{
                font-family: $font-family-bold;
            }
        }
    }
}